<div id="atbody"></div>
<table id="top">
  <tr>
    <th>
      Pressure
    </th>
    <th>
      Temperature
    </th>
    <th>
      Density
    </th>
    <th>
      Height over planetary surface*
    </th>
  </tr>
  <tr>
    <td>
      972&#8239;hPa
    </td>
    <td>
      25&#8239;°C
    </td>
    <td>
      1.270&#8239;kg&#8202;/&#8202;m³
      <!-- https://en.wikipedia.org/wiki/Density_of_air - changes with temp! -->
    </td>
    <td>
      312&#8239;m above the sea
    </td>
  </tr>
</table>

<table class="compounds">
  <tr>
    <th>Compound Name</th>
    <th>Formula</th>
    <th>Partial Pressure</th>
    <th>ppmv</th>
    <th>Level</th>
    <th>Mass %</th>
    <th>Molar Mass</th>
    <th>Density (kg&#8202;/&#8202;m³)</th>
  </tr>
  <tr *ngFor="let gas of gasses">
    <td>{{ gas['name'] }}</td>
    <td>{{ gas['formular'] }}</td>
    <td>{{ gas[''] }}</td>
    <td>
      <span *ngIf="gas['ppm']">{{ gas['estPPM'] | number: '1.0-3' }}</span>
      <span *ngIf="gas['derivedPPM']">{{ gas['derivedPPM'] | number: '1.0-3' }}+</span>
      <span *ngIf="! gas['derivedPPM'] && ! gas['ppm']">{{ gas['estPPM'] | number: '1.0-3' }}*</span>
    </td>
    <td style="color:green;">|---*---|</td>
    <td>m%</td>
    <td>{{ gas['molarMass'] }}</td>
    <td>{{ gas['density'] }}</td>
  </tr>
</table>

<p>*&nbsp;estimated<br>
+&nbsp;derived</p>
