#atbody {
  width: 100%;
}
table#top {
  margin: 1em auto;
  th {
      padding: 0 1em 0.5em 1em;

  }
  td {
      text-align: center;
  }
}

table.compounds {
    td, th {
        padding: 0 0.5em;
    }
}