<h3>Sensor Daemons</h3>

<table>
  <tr>
    <th>Sensor-Name</th>
    <th>Description</th>
    <th>Enabled on Boot</th>
    <th>Currently Running</th>
  </tr>

  <tbody *ngIf="!services.length">
    <tr *ngFor="let service of implemented_sensors">
      <td>
        <a
          routerLink="{{ service.toUpperCase() }}/"
          routerLinkActive="active"
          >{{ service }}</a
        >
      </td>
    </tr>
  </tbody>

  <tr *ngFor="let service of services">
    <td>
      <a
        *ngIf="service['implemented']"
        routerLink="{{ service['UpperCaseName'] }}/"
        routerLinkActive="active"
        style="text-transform: uppercase;">{{ service['name'] }}</a
      >
      <span *ngIf="!service['implemented']">
        {{ service['name'] }}
      </span>
    </td>
    <td>{{ service['description'] }}</td>
    <td
      style="text-align: center"
      class="{{ service['onboot'] ? 'true' : 'false' }}"
    >
      <span class="status">
        {{ service['onboot'] ? 'Yes' : 'No' }}
      </span>
      <button
        *ngIf="service['onboot']"
        type="submit"
        (click)="disableService(service['name'])"
        title="Disable Service"
      >
        <mat-icon>highlight_off</mat-icon>
      </button>
      <button
        *ngIf="service['onboot'] === false"
        type="submit"
        (click)="enableService(service['name'])"
        title="Enable Service"
      >
        <mat-icon>slideshow</mat-icon>
      </button>
      <button *ngIf="service['onboot'] === undefined">
        <mat-icon>access_time</mat-icon>
      </button>
    </td>
    <td
      style="text-align: center"
      class="{{ service['running'] ? 'true' : 'false' }}"
    >
      <span *ngIf="service['running']"
        ><span class="status">Yes</span>
        <button
          type="submit"
          (click)="stopService(service['name'])"
          title="Stop Service"
        >
          <mat-icon>pause_circle_outline</mat-icon>
        </button>
      </span>
      <span *ngIf="service['running'] === false">
        <span class="status">No</span>
        <button
          type="submit"
          (click)="startService(service['name'])"
          title="Start Service"
        >
          <mat-icon>play_circle_outline</mat-icon>
        </button>
      </span>
      <span *ngIf="service['running'] === undefined">
        <span class="status">...</span>
        <button>
          <mat-icon>access_time</mat-icon>
        </button>
      </span>
    </td>
  </tr>
</table>

<h3>I²C Sensors</h3>

<section *ngFor="let bus of i2cDevices | keyvalue">
  <h4>
    {{ bus.key }}
  </h4>
  <table>
    <tr>
      <th>Address</th>
      <th>Device</th>
    </tr>
    <tr *ngFor="let device of bus.value | keyvalue">
      <td>{{ device.key }}</td>
      <td>{{ device.value }}</td>
    </tr>
  </table>
</section>
