<h3>
  Sensors Overview
</h3>

<table>
  <tr>
    <th>Sensor-Name</th>
    <th>Description</th>
    <th>Enabled on Boot</th>
    <th>Currently Running</th>
  </tr>

  <tr *ngFor="let service of services">
    <td>
      <a
        *ngIf="service['implemented']"
        routerLink="{{ service['UpperCaseName'] }}/"
        routerLinkActive="active"
        >{{ service['name'] }}</a
      >
      <span *ngIf="!service['implemented']">
        {{ service['name'] }}
      </span>
    </td>
    <td>{{ service['description'] }}</td>
    <td style="text-align: center" class="{{service['onboot']}}">
      <span class="status">
        {{ service['onboot'] ? 'Yes' : 'No' }}
      </span>
      <button
        *ngIf="service['onboot']"
        type="submit"
        (click)="disableService(service['name'])"
        title="Disable Service"
      >
        <mat-icon>highlight_off</mat-icon>
      </button>
      <button
        *ngIf="service['onboot'] === false"
        type="submit"
        (click)="enableService(service['name'])"
        title="Enable Service"
      >
        <mat-icon>slideshow</mat-icon>
      </button>
      <button *ngIf="service['onboot'] === undefined">
        <mat-icon>access_time</mat-icon>
      </button>
    </td>
    <td style="text-align: center" class="{{service['running']}}">
      <span *ngIf="service['running']"
        ><span class="status">Yes</span>
        <button
          type="submit"
          (click)="stopService(service['name'])"
          title="Stop Service"
        >
          <mat-icon>pause_circle_outline</mat-icon>
        </button>
      </span>
      <span *ngIf="service['running'] === false">
        <span class="status">No</span>
        <button
          type="submit"
          (click)="startService(service['name'])"
          title="Start Service"
        >
          <mat-icon>play_circle_outline</mat-icon>
        </button>
      </span>
      <span *ngIf="service['running'] === undefined">
        <span class="status">...</span>
        <button>
          <mat-icon>access_time</mat-icon>
        </button>
      </span>
    </td>
  </tr>
</table>
