<h2>Wireless Network Client</h2>

<div>
  <div class="block">
    <table>
      <tr>
        <th><label for="ssid">SSID</label></th>
        <td>
          <input type="text" id="ssid" [(ngModel)]="wificlient_ssid" />
        </td>
      </tr>
      <tr>
        <th><label for="psk">PSK</label></th>
        <td class="auth">
          <input type="{{ hidepw ? 'password' : 'text'}}" id="psk" [(ngModel)]="wificlient_psk"
           /><mat-icon (click)="hidepw = !hidepw">{{ hidepw ? 'visibility' : 'visibility_off' }}</mat-icon>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button (click)="setWifi()">Update Wifi Client Credentials</button>
        </td>
      </tr>
    </table>
  </div>
</div>

<h2>Network Interfaces</h2>

<div *ngFor="let interface of gss['networkStatus'] | keyvalue">
  <div *ngIf="interface.key !== 'lo'" class="block">
    <h4>{{ interface.key }}: {{ interface.value['status'] }}</h4>
    <table>
      <tr *ngFor="let line of interface.value | keyvalue">
        <th *ngIf="line.key !== 'status'">
          {{ line.key }}
        </th>
        <td
          *ngIf="
            line.key !== 'IPv4' && line.key !== 'IPv6' && line.key !== 'status'
          "
        >
          {{ line.value }}
        </td>
        <td *ngIf="line.key === 'IPv4' || line.key === 'IPv6'">
          <div *ngFor="let address of line.value">
            {{ address }}
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
<div *ngIf="gss['networkStatus'] == undefined">
  Waiting for network status...
</div>
