<div class="abody">

  <h2>Time Query</h2>

  <form class="fieldsettings">
    <fieldset>
      <mat-form-field>
        <mat-label>Host:</mat-label>
        <mat-select [(ngModel)]="userHost" name="userHost" (closed)="saveHost($event)">
          <!-- (closed)="changeM1()" -->
          <mat-option *ngFor="let h of hosts" [value]="h"> {{ h }} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Measurement:</mat-label>
        <mat-select [(ngModel)]="userMeasurement" name="userMeasurement">
          <!-- (closed)="changeM1()" -->
          <mat-option *ngFor="let m of measurements" [value]="m"> {{ m }} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="sensors_per_m[userMeasurement] && sensors_per_m[userMeasurement].length > 2">
        <mat-label>Sensor:</mat-label>
        <mat-select [(ngModel)]="userSensor" name="userSensor">
          <mat-option *ngFor="let s of sensors_per_m[userMeasurement]" [value]="s" [title]="s"> {{ s ? s : 'Any' }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span *ngIf="sensors_per_m[userMeasurement] && sensors_per_m[userMeasurement].length == 2"
        style="display: inline-block;">
        <small>Sensor:</small><br>
        {{ sensors_per_m[userMeasurement][1] }}
      </span>

      <mat-form-field *ngIf="tagsets_per_m_s[userMeasurement]
      && tagsets_per_m_s[userMeasurement][userSensor]
      && tagsets_per_m_s[userMeasurement][userSensor].length > 1">
        <mat-label>Id:</mat-label>
        <mat-select [(ngModel)]="userId" name="userId">
          <mat-option value="">Any</mat-option>
          <mat-option *ngFor="let id_t of tagsets_per_m_s[userMeasurement][userSensor]" [value]="id_t.id"
            [title]="id_t.tags"> {{ id_t.id }}: {{ id_t.tags }} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="fieldKeys[userMeasurement]">
        <mat-label>Field:</mat-label>
        <mat-select [(ngModel)]="userValue" name="userValue">
          <mat-option *ngFor="let fk of fieldKeys[userMeasurement]" [value]="fk" [title]="fk"> {{ fk }} </mat-option>
        </mat-select>
      </mat-form-field>
    </fieldset>

    <br>
    <fieldset class="time">
      <div>
        <h4>
          Points in Time
        </h4>
        <table>
          <tr>
            <th>Show data until</th>
            <th>Until custom End time</th>
          </tr>
          <tr>
            <td>
              <mat-checkbox [(ngModel)]="userDateNow" name="userDateNow" labelPosition="before"
                (ngModelChange)="changeUserDateNow($event)">
                now
              </mat-checkbox>
            </td>
            <td>
              <mat-form-field>
                <input matInput [matDatepicker]="pickerTo" [formControl]="toFormDate"
                  (dateChange)="toDatePickerChanged($event)" [disabled]="userDateNow" />
                <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                <mat-datepicker #pickerTo></mat-datepicker>
              </mat-form-field>
              <div>
                <label for="userHour">Hour</label>
                <input type="number" id="userHour" min="0" max="23" name="userHour" [(ngModel)]="userHour"
                  (ngModelChange)="calcTime($event)" [disabled]="userDateNow" />
              </div>
              :
              <div>
                <label for="userMinute">Minute</label>
                <input type="number" id="userMinute" min="0" max="59" name="userMinute" [(ngModel)]="userMinute"
                  (ngModelChange)="calcTime($event)" [disabled]="userDateNow" />
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div>
        <h4>Time Range:</h4>
        <table>
          <tr>
            <th>Pre-Select</th>
            <th>Custom</th>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <mat-label>Show range</mat-label>
                <mat-select [(ngModel)]="userTimeRange" name="startTime" (closed)="changeUserTimeRange($event)">
                  <mat-option value="15m">15 min.</mat-option>
                  <mat-option value="1h"> 1h</mat-option>
                  <mat-option value="6h">6 h</mat-option>
                  <mat-option value="24h">24 h</mat-option>
                  <mat-option value="7d">1 week</mat-option>
                  <mat-option value="30d">1 month</mat-option>
                  <mat-option value="356d">1 year</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <label for="userTimeRangeSeconds">Seconds</label>
              <input type="number" id="userTimeRangeSeconds" min="1" name="userTimeRangeSeconds" [(ngModel)]="userTimeRangeSeconds"
                (ngModelChange)="changeUserTimeRangeSeconds($event)" style="width: 7em;" />
              <br>
              <small><br>{{ timeRangeString }}</small>
            </td>
          </tr>
        </table>
      </div>
      <div>
        <h4>Average Interval:</h4>

        <table>
          <tr>
            <th>Pre-Select</th>
            <th>Custom</th>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <mat-label>Pre-Defined</mat-label>
                <mat-select [(ngModel)]="userAvgInterval" name="userAvgInterval" (closed)="changeUserAvgInterval($event)">
                  <mat-option value="1s">1 Sec.</mat-option>
                  <mat-option value="10s"> 10s</mat-option>
                  <mat-option value="1m"> 1m</mat-option>
                  <mat-option value="5m"> 5m</mat-option>
                  <mat-option value="30m"> 30m</mat-option>
                  <mat-option value="1h"> 1h</mat-option>
                  <mat-option value="24h">24 h</mat-option>
                  <mat-option value="7d">1 week</mat-option>
                  <mat-option value="30d">1 month</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <label for="userAvgIntervalSeconds">Seconds</label>
              <input type="number" id="userAvgIntervalSeconds" min="1" name="userAvgIntervalSeconds" [(ngModel)]="userAvgIntervalSeconds"
                (ngModelChange)="changeUserAvgIntervalSeconds($event)" style="width: 6em;" />
              <br>

              <small><br>{{ intervalString }}</small>

            </td>
          </tr>
        </table>
      </div>

    </fieldset>
    <br>
    <table>
      <tr>
        <td>
          From:
        </td>
        <td>
          {{ userFromValue | date: 'dd.MM.yyyy HH:mm:ss' }}
        </td>
      </tr>
      <tr>
        <td>
          To:
        </td>
        <td>
          {{ userToValue | date: 'dd.MM.yyyy HH:mm:ss' }}
        </td>
      </tr>
    </table>

    <br>
    <a class="go" routerLink="/Apps/I/Anysens" [queryParams]="{ measurement: userMeasurement,
    host: userHost,
    sensor: userSensor,
    from: userFromValue,
    to: userToValue,
    interval: userAvgIntervalSeconds,
    id: userId,
    value: userValue,
    referrer: 'I/Timequery' }" routerLinkActive="active">Show Data</a>

  </form>
</div>