<h2>
  Influx values:
</h2>

<h4>Query:</h4>
<pre>{{ influxquery }}</pre>
<h4>Response:</h4>
<h5>Columns:</h5>
<ol>
  <li *ngFor="let label of labelstrings">{{ label }}</li>
</ol>

<pre style="max-height: 50vh; overflow:scroll">{{ influxresponse }}</pre>

<div class="testgraph">
  <app-ut-dygraph-in
    [displayedData]="dygData"
    [columnLabels]="dygLabels"
    [changeTrigger]="changeTrigger"
    #graph
  >
  </app-ut-dygraph-in>
</div>
<!-- [style]="graphstyle" -->

<table class="outer">
  <tr *ngFor="let sensor of sensorData | keyvalue">
    <th>
      {{ sensor.key }}
    </th>
    <td>
      <table>
        <tr *ngFor="let metric of sensor.value | keyvalue">
          <th>
            {{ metric.key }}
          </th>
          <td>
            <table>
              <tr *ngFor="let dataset of metric.value | keyvalue">
                <th>
                  {{ dataset.key }}
                </th>
                <td>
                  {{ dataset.value.value | number: '1.0-6' }}
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
