<!--
   spalten:
 40% inside
 20% between
 40% outside
 -->
<!--
 &#8202; - hair space
 &#8239; - thin nbsp
 &thinsp;
 &nbsp; -->
<div id="hbody">
  <table id="outer">
    <tr>
      <td id="inside">
        <mat-form-field>
          <mat-label>Sensor</mat-label>
          <mat-select [(ngModel)]="sensorQuery" name="sensor">
            <mat-option *ngFor="let sensor of sensors" [value]="sensor.query">
              {{ sensor.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button type="submit" class="btn btn-success" (click)="selectSensor()">
          Set
        </button>
        <!-- {{ sensorQuery }} -->
        <h3>Inside</h3>
        <table>
          <tr>
            <th>Temperature</th>
            <th>Relative Humidity</th>
            <th>Absolute Humidity</th>
            <th>Dew Point</th>
          </tr>
          <tr>
            <td>{{ T['lastValue'] | number: '1.0-2' }}&#8239;°C</td>
            <td>{{ rH['lastValue'] | number: '1.0-2' }}&#8239;%</td>
            <td>
              {{
                absHumidity(T['lastValue'], rH['lastValue']) | number: '1.0-2'
              }}&#8239;g&#8202;/&#8202;m³
            </td>
            <td>
              {{
                dewPoint(T['lastValue'], rH['lastValue']) | number: '1.0-2'
              }}&#8239;°C
            </td>
          </tr>
          <tr>
            <th>Temp. Offset.</th>
            <th>Corr. Humidity</th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <td>
              <input
                type="text"
                id="temperatureOffset"
                [ngModel]="temperatureOffset"
                (ngModelChange)="updateTO($event)"
                name="temperatureOffset"
              />&#8239;°<br />
              {{
                T['lastValue'] + temperatureOffsetNumber | number: '1.0-2'
              }}&#8239;°C
            </td>
            <td>
              {{
                calcCorrRH(T['lastValue'] + temperatureOffsetNumber)
                  | number: '1.0-2'
              }}&#8239;%
            </td>
            <td></td>
            <td></td>
          </tr>
        </table>

        <app-ut-dygraph
          [queryString]="queryStringHumidity"
          [fetchFromServerIntervalMS]="step"
          [dataBaseQueryStepMS]="step"
          YLabel="rH (%)"
          XLabel=""
          [style]="graphstylerH"
          [startTime]="startTime"
          [extraDyGraphConfig]="extraDyGraphConfig"
          [labelBlackList]="labelBlackList"
          options="false"
          showDate="false"
          #rH
        ></app-ut-dygraph>
        <app-ut-dygraph
          [queryString]="queryStringTemp"
          [fetchFromServerIntervalMS]="step"
          [dataBaseQueryStepMS]="step"
          YLabel="T (°C)"
          XLabel=""
          [style]="graphstyleT"
          [startTime]="startTime"
          [extraDyGraphConfig]="extraDyGraphConfig"
          [labelBlackList]="labelBlackList"
          options="false"
          showDate="false"
          #T
        ></app-ut-dygraph>
      </td>
      <td id="between">
        <h3>In &lt;= Out</h3>

        <h4>Temp. Difference</h4>
        <div>
          {{
            -(T['lastValue'] + temperatureOffsetNumber - toNum(outsideT))
              | number: '1.0-2'
          }}&#8239;°
        </div>

        <h4>Humidity Difference</h4>
        <div>
          {{
            calcHumAfterVent(
              T['lastValue'] + temperatureOffsetNumber,
              outsideTD
            ) - correctedHumidity | number: '1.0-2'
           }}&#8239;%<!-- do not use humidityAfterVenting, calculate it new to prevent ng runtime errors -->
        </div>

        <h4>New rH:</h4>
        <div>
          {{
            calcHumAfterVent(
              T['lastValue'] + temperatureOffsetNumber,
              outsideTD
            ) | number: '1.0-2'
          }}&#8239;%
        </div>
      </td>

      <td id="outside">
        <h3>Outside</h3>
        <form #graphForm="ngForm">
          <table>
            <tr>
              <th>Temperature</th>
              <th>Relative Humidity</th>
              <th>Absolute Humidity</th>
              <th>Dew Point</th>
            </tr>
            <tr>
              <td>
                <input
                  type="text"
                  id="outsideT"
                  [ngModel]="outsideT"
                  (ngModelChange)="updateT($event)"
                  name="outsideT"
                />&#8239;°C
              </td>
              <td>
                <input
                  type="text"
                  id="outsideRH"
                  [ngModel]="outsideRH"
                  (ngModelChange)="updateRH($event)"
                  name="outsideRH"
                />&#8239;%
              </td>
              <td>
                {{ outsideAH | number: '1.0-2' }}&#8239;g&#8202;/&#8202;m³
              </td>

              <td>{{ outsideTD | number: '1.0-2' }}&#8239;°C</td>
            </tr>
          </table>
        </form>
      </td>
    </tr>
  </table>
</div>
