$bordercolor: #666666;
$labelcolor: #999;

.fs-container {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  // right: [ng];
  bottom: 32%;
}
.colorlegend {
  position: absolute;
  // top: [ng];
  // right: [ng];
  width: 3rem;
  bottom: 32%;

  table {
    height: 100%;
    width: 100%;
    width: 3rem;
    overflow: hidden;
    color: black;
    border-collapse: collapse;
    margin: 0 1px 0 2px;
    .end {
      height: 1.7em;
      text-align: center;
    }
    th.end {
      text-align: center;
      background-color: $labelcolor;
      background-clip: padding-box;
    }
    td {
      border-top: 1px solid transparent;
      background-clip: padding-box;
      vertical-align: middle;
    }
  }
}

form.settings {
  top: 2rem !important;
  bottom: 32% !important;
  overflow-y: auto !important;
  max-height: 68%;
}

h2 {
  margin-left: 1em;
}
.icon {
  color: #c7c7c7;
}
.icon:hover {
  color: white;
}
#back {
  position: absolute;
  top: 0.5em;
  // right: [ng];
}

#toggleSidebar {
  position: absolute;
  text-align: right;
  margin: 0;
  top: 0.5em;
  // right: [ng];
}
