<h2>
  Radiation (avg): {{ svph.average | number: '1.1-1' }} nS&thinsp;/&thinsp;h
</h2>
<div id="dygraphs">
  <app-ut-dygraph
    queryString='radiation_Svph{sensor="TYPE5"}'
    [fetchFromServerIntervalMS]="step"
    [dataBaseQueryStepMS]="step"
    [dataSeriesLabels]="dataSeriesLabelsSvph"
    [labelBlackList]="labelBlackList"
    YLabel="Radiation (nSv&thinsp;/&thinsp;h)"
    [multiplicateFactors]="multiplicateFactors"
    [style]="graphstyleTop"
    [startTime]="startTime"
    [extraDyGraphConfig]="extraDyGraphConfig"
    #svph
  ></app-ut-dygraph>

  <app-ut-fetchmetrics #f></app-ut-fetchmetrics>
  <table id="metrics">
    <tr>
      <th>Counts/s:</th>
      <td>{{ f.metrics['radiation_cps'] && f.metrics.radiation_cps.value | number: '1.1-3'}}</td>
    </tr>
    <tr>
      <th>duration:</th>
      <td>{{ f.metrics['type5_duration'] && f.metrics.type5_duration.value | number: '1.0-0'}}s</td>
    </tr>
  </table>

  <app-ut-dygraph
    queryString="type5_raycount"
    [fetchFromServerIntervalMS]="step"
    [dataBaseQueryStepMS]="step"
    [dataSeriesLabels]="dataSeriesLabelsCount"
    [labelBlackList]="labelBlackList"
    YLabel="Ray Count"
    [style]="graphstyleBottom"
    [startTime]="startTime"
    [extraDyGraphConfig]="extraDyGraphConfig"
    #rc
  ></app-ut-dygraph>
</div>
