<h2>
  Radiation (avg): {{ svph.average | number: '1.1-1'}} nS&thinsp;/&thinsp;h
</h2>
<div id="dygraphs">
  <app-ut-dygraph
    queryString='radiation_Svph{sensor="TYPE5"}'
    [fetchFromServerIntervalMS]="step"
    [dataBaseQueryStepMS]="step"
    [dataSeriesLabels]="dataSeriesLabelsSvph"
    [labelBlackList]="labelBlackList"
    YLabel="Radiation (nSv&thinsp;/&thinsp;h)"
    [multiplicateFactors]="multiplicateFactors"
    [style]="graphstyleTop"
    [startTime]="startTime"
    [extraDyGraphConfig]="extraDyGraphConfig"
    #svph
  ></app-ut-dygraph>

  <app-ut-dygraph
    queryString='type5_raycount'
    [fetchFromServerIntervalMS]="step"
    [dataBaseQueryStepMS]="step"
    [dataSeriesLabels]="dataSeriesLabelsCount"
    [labelBlackList]="labelBlackList"
    YLabel="Ray Count"
    [style]="graphstyleBottom"
    [startTime]="startTime"
    [extraDyGraphConfig]="extraDyGraphConfig"
    #rc
  ></app-ut-dygraph>
</div>
