div.panel {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start; */
}
.panel > * {
  margin: 0 auto;
}

.panel > a {
  text-align: center;
  display: inline-block;
  overflow:hidden;
  width: 5cm;
  height: 3cm;
  background: #95b4c7;
  border: 3px #2a5770 dashed;
  border-radius: 0.4em;
  color: #2a5770;
  padding: 0.6em;
  margin: 0.6em;
  text-decoration: none;
}

.panel > a[href] {
  background: #5991b2;
  color: black;
}

h2 {
  margin-left: 2em;
  margin-bottom: 0.5em;
}