div#panel {
  display:flex;
  flex-wrap:wrap;
}
#panel > a {
  text-align: center;
  display: inline-block;
  width: 3cm;
  height: 3cm;
  background:  #95b4c7;
  border: 1px #2a5770 solid;
  border-radius: 0.5em;
  color:#2a5770;
  padding: 1em;
  margin: 1em;
  text-decoration: none
}

#panel > a[href] {
  background: #5991b2;
  color: black;
}

