<div id="panel">
  <app-ut-dashboard-tile title="Galion ViF" path="/Apps/Galion-Vif"></app-ut-dashboard-tile>
  <app-ut-dashboard-tile title="ViF" path="/Apps/vif"></app-ut-dashboard-tile>
  <app-ut-dashboard-tile title="Galion IES" path="/Apps/IES"></app-ut-dashboard-tile>
  <app-ut-dashboard-tile title="Galion Single-Sensor" path="/Apps/Galion"></app-ut-dashboard-tile>
  <app-ut-dashboard-tile title="Air Pressure" path="/Apps/PressureGraph"></app-ut-dashboard-tile>
  <app-ut-dashboard-tile title="rel. Humidity / T" path="/Apps/rHT"></app-ut-dashboard-tile>
  <app-ut-dashboard-tile title="VOC" path="/Apps/voc"></app-ut-dashboard-tile>
  <app-ut-dashboard-tile title="VOC (raw)" path="/Apps/voc-raw"></app-ut-dashboard-tile>
  <app-ut-dashboard-tile title="ADCs" path="/Apps/ADC"></app-ut-dashboard-tile>
  <app-ut-dashboard-tile title="CO₂-Meter" path="/Apps/CO2-graph"></app-ut-dashboard-tile>
</div>
<hr>
<h2>Sensors</h2>
<div id="panel">
  <app-ut-dashboard-tile title="Sensor Overview" path="/Apps/Sensors"></app-ut-dashboard-tile>
  <app-ut-dashboard-tile title="Alphasense" path="/Apps/Sensors/Alphasense-gas"></app-ut-dashboard-tile>
  <app-ut-dashboard-tile title="TGS 5141" path="/Apps/Sensors/TGS5141"></app-ut-dashboard-tile>
  <app-ut-dashboard-tile title="IDT SGAS" path="/Apps/Sensors/SGAS"></app-ut-dashboard-tile>
  <app-ut-dashboard-tile title="SCD30 NDIR CO₂" path="/Apps/Sensors/SCD30"></app-ut-dashboard-tile>
  <app-ut-dashboard-tile title="MiCS6814 Gas Sensor" path="/Apps/Sensors/MICS6814"></app-ut-dashboard-tile>
  <app-ut-dashboard-tile title="BME280 Environmental" path="/Apps/Sensors/BME280"></app-ut-dashboard-tile>
</div>
<hr>
<h2>System</h2>
<div id="panel">
  <app-ut-dashboard-tile title="Dygraph Playground" path="/Apps/Dygraph-Playground"></app-ut-dashboard-tile>
  <app-ut-dashboard-tile title="All Temperatures" path="/Apps/Temperatures"></app-ut-dashboard-tile>

</div>