<h1>Global Settings</h1>
<div class="settingspage">
  <section *ngIf="globalSettingsService.server.hasscreen">
    <h2>
      Screen Brightness:
      <span *ngIf="!bn.disabled"
        >{{ (currentBrightness / 255) * 100 | number: '1.0-0' }}&#8239;%</span
      >
    </h2>
    <app-display-brightness
      (brightnessEvent)="setNewBN($event)"
      #bn
    ></app-display-brightness>
  </section>

  <section *ngIf="globalSettingsService.client.type !== 'local'">
    <a (click)="fullscreen()">Fullscreen</a>
  </section>

  <section
    class="center"
    *ngIf="globalSettingsService.server.type == 'Tricorder'"
  >
    <button (click)="halt()">Shut Down</button>
    <button (click)="reboot()">Reboot</button>
  </section>

  <section *ngIf="globalSettingsService.server.type == 'Tricorder'">
    <h2>System Services</h2>
    <a routerLink="/Settings/Services" routerLinkActive="active"
      >System Services</a
    >
    <hr />

    <h2>System Time</h2>
    <app-system-time></app-system-time>
  </section>

  <section *ngFor="let settingsSection of globalSettingsUnsaved | keyvalue">
    <h2>{{ settingsSection.value.settingAttributes.title }}</h2>
    <div>
      <mat-form-field>
        <mat-label>Endpoints</mat-label>
        <mat-select [(ngModel)]="endpointValue" name="Endpoints">
          <mat-option
            *ngFor="let setting of settingsArray | keyvalue"
            [value]="setting.key"
          >
            {{ setting.value.server.settings.serverName.fieldValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button type="submit" class="btn btn-success" (click)="loadEndpoint()">
        Load
      </button>
      <ul
        *ngIf="
          settingsSection.value.settingAttributes.title == 'Backend Settings'
        "
      >
        <li>
          Current Backend: ({{ globalSettingsService.server.type }}):
          {{ globalSettingsService.server.baseurl }}
        </li>
        <li>Database: {{ globalSettingsService.server.prometheus }}</li>
        <li>API: {{ globalSettingsService.server.api }}</li>
      </ul>
      <hr>
    </div>

    <section *ngFor="let entry of settingsSection.value.settings | keyvalue">
      <div class="fields">
        <label for="{{ settingsSection.key }}-{{ entry.key }}"
          >{{ entry.value.fieldName }}:
        </label>
        <input
          type="text"
          class="form-control"
          id="{{ settingsSection.key }}-{{ entry.key }}"
          [(ngModel)]="entry.value.fieldValue"
        />
      </div>
      <div class="valuedebug" *ngIf="debug == true">
        Default: '{{
          defaultSettings[settingsSection.key].settings[entry.key].fieldValue
        }}',<br />
        Global: '<span
          *ngIf="
            globalSettings &&
            globalSettings[settingsSection.key] &&
            globalSettings[settingsSection.key]['settings'] &&
            globalSettings[settingsSection.key]['settings'][entry.key] &&
            globalSettings[settingsSection.key]['settings'][entry.key][
              'fieldValue'
            ]
          "
          >{{
            globalSettings[settingsSection.key].settings[entry.key].fieldValue
          }}</span
        >'
      </div>
    </section>
    <section id="submit" class="center">
      <div>
        <!-- div needed for text-align center -->
        <button type="submit" class="btn btn-success" (click)="save()">
          Save Settings
        </button>
        <button
          type="submit"
          class="btn btn-success"
          (click)="load()"
          [disabled]="!localStoredSettings"
        >
          Load Settings
        </button>
        <button type="submit" class="btn btn-success" (click)="reset()">
          Reset
        </button>
        <button
          type="submit"
          class="btn btn-success"
          (click)="deleteStoredSettings()"
        >
          Delete Settings
        </button>
      </div>
    </section>
  </section>

  <section id="links" class="center">
    <a
      *ngIf="globalSettingsService.server.type == 'Tricorder'"
      href="{{ oldIFPath }}"
      >Old Interface</a
    >
    <a *ngIf="uv4lPath" href="{{ uv4lPath }}">
      UV4L Admin Interface
    </a>
    <a
      *ngIf="globalSettingsService.server.prometheus"
      href="{{ prometheusPath }}"
      >Prometheus Admin Interface</a
    >
    <!-- Small Bug: correct Prometheus IF link not displayed on initial load -->
  </section>
</div>
