section {
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px;
    margin: auto 0.5em auto 0.5em;
    width: 50em;

}

h2 {margin: 0}

section section {
    border: 1px solid beige;
    padding: 0.1em 0.1em 0.1em 0.5em;
    margin: 0.2em 0;
    width: 49em;
}

label {
    display: inline-block;
    min-width: 20em;
}