h4 {
  margin: 1em;
}

.gaugecontainer, #co2dygraph {
  margin: 0.1em auto 0.1em auto;
  width: 400px;
}

#co2dygraph {
  transform: translateX(-20px);
  text-align: right;
}

.graphapp {
  /* background: blue; */
  padding: 5px;
}

span.value {
  font-size: 3em;
}

.value {
  position: absolute;
  bottom: 1rem;
  left: 5vh;
  right: 5vh;
}

span.red {
  color: red;
}
span.yellow {
  color: orange;
}
span.green {
  color: green;
}
