.gaugecontainer, #co2dygraph  {
  margin: 0.1em auto 0.1em auto;
  width: 400px;
  height: 400px;
  /* background: green; */
}

#co2dygraph {
  transform: translateX(-20px);
  text-align: right;
  height: 200px;
  position: relative;
}

a {
  position: absolute;
  bottom: 0;
  right: 0;
}

.graphapp {
  /* background: blue; */
  padding: 5px;
  height: 100%;
  width: 100%;
}
