<h2>
  {{ title }}
  <input type="checkbox" id="options" name="options" [(ngModel)]="options" />
</h2>

<div id="innerappbody">
  <table>
    <tr>
      <td>
        <app-ut-dygraph
          queryString='gas_ppm{sensor="SGP30",gas="CO2"}'
          [fetchFromServerIntervalMS]="step"
          [dataBaseQueryStepMS]="step"
          [dataSeriesLabels]="dataSeriesLabels"
          [labelBlackList]="labelBlackList"
          YLabel="eCO₂ (ppm)"
          [style]="graphstyle_co2"
          [startTime]="startTime"
          [extraDyGraphConfig]="extraDyGraphConfig"
          [options]="options"
          #eco2
        ></app-ut-dygraph>
      </td>
      <td>
        <app-ut-dygraph
          queryString='baseline{sensor="SGP30",gas="CO2"}'
          [fetchFromServerIntervalMS]="step"
          [dataBaseQueryStepMS]="step"
          [dataSeriesLabels]="dataSeriesLabels"
          [labelBlackList]="labelBlackList"
          YLabel="baseline CO₂"
          [style]="graphstyle_co2_base"
          [startTime]="startTime"
          [extraDyGraphConfig]="extraDyGraphConfig"
          [options]="options"
          #baseco2
        ></app-ut-dygraph>
      </td>
      <td>
        <app-ut-dygraph
          queryString='sgp30_raw{sensor="SGP30",gas="H2"}'
          [fetchFromServerIntervalMS]="step"
          [dataBaseQueryStepMS]="step"
          [dataSeriesLabels]="dataSeriesLabels"
          [labelBlackList]="labelBlackList"
          YLabel="H₂ raw value"
          [style]="graphstyle_h2_raw"
          [startTime]="startTime"
          [extraDyGraphConfig]="extraDyGraphConfig"
          [options]="options"
          #h2raw
        ></app-ut-dygraph>
      </td>
    </tr>
    <tr>
      <td>
        <app-ut-dygraph
          queryString='gas_ppm{sensor="SGP30",gas="VOC"}'
          [fetchFromServerIntervalMS]="step"
          [dataBaseQueryStepMS]="step"
          [dataSeriesLabels]="dataSeriesLabels"
          [labelBlackList]="labelBlackList"
          YLabel="VOC (ppb)"
          [style]="graphstyle_voc"
          [startTime]="startTime"
          [extraDyGraphConfig]="extraDyGraphConfig"
          [options]="options"
          [multiplicateFactors]="multiplicateFactorsVOC"
          #eco2
        ></app-ut-dygraph>
      </td>
      <td>
        <app-ut-dygraph
          queryString='baseline{sensor="SGP30",gas="VOC"}'
          [fetchFromServerIntervalMS]="step"
          [dataBaseQueryStepMS]="step"
          [dataSeriesLabels]="dataSeriesLabels"
          [labelBlackList]="labelBlackList"
          YLabel="baseline VOC"
          [style]="graphstyle_voc_base"
          [startTime]="startTime"
          [extraDyGraphConfig]="extraDyGraphConfig"
          [options]="options"
          #basevoc
        ></app-ut-dygraph>
      </td>
      <td>
        <app-ut-dygraph
          queryString='sgp30_raw{sensor="SGP30",gas="VOC"}'
          [fetchFromServerIntervalMS]="step"
          [dataBaseQueryStepMS]="step"
          [dataSeriesLabels]="dataSeriesLabels"
          [labelBlackList]="labelBlackList"
          YLabel="VOC raw value"
          [style]="graphstyle_voc_raw"
          [startTime]="startTime"
          [extraDyGraphConfig]="extraDyGraphConfig"
          [options]="options"
          #vocraw
        ></app-ut-dygraph>
      </td>
    </tr>
  </table>
</div>
