#innerappbody {
  position: absolute;
  top: 3em;
  left: 0;
  width: 100%;
  bottom: 0;
  flex-direction: column;
  display: flex;
  // border: 1px solid blue;
  padding: 0;
  margin: 0;
}
table {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  border-collapse: collapse;
  td {
    position: relative;
    width: 33%;
    height: 50%;
    // border: 1px solid green;
  }
}
