<div id="innerappbody">
  <app-ut-dygraph
    queryString="acceleration_g"
    [fetchFromServerIntervalMS]="step"
    [dataBaseQueryStepMS]="step"
    [dataSeriesLabels]="dataSeriesLabels"
    [labelBlackList]="labelBlackList"
    YLabel="Acceleration (g)"
    [style]="graphstyle_acc"
    [startTime]="startTime"
    [extraDyGraphConfig]="extraDyGraphConfig"
    #acc
  ></app-ut-dygraph>
  <table *ngIf="acc.lastValues && acc.lastValues.length" id="accvalues">
    <tr>
      <th>Axis</th>
      <th>Value (g)</th>
    </tr>
    <tr>
      <td>
        <div>
          <div *ngFor="let sensor of acc.columnLabels">{{ sensor.axis }}</div>
        </div>
      </td>
      <td>
        <div>
          <div *ngFor="let value of acc.lastValues">
            <span *ngIf="value < 10000000">{{ value | number: '1.0-3' }}</span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>Absolute</th>
      <th>gravity</th>
    </tr>
    <tr>
      <td>
        {{
          math.sqrt(
            acc.lastValues[1] * acc.lastValues[1] +
              acc.lastValues[2] * acc.lastValues[2] +
              acc.lastValues[3] * acc.lastValues[3]
          ) | number: '1.0-3'
        }}
      </td>
      <td>g</td>
    </tr>
    <tr>
      <td>
        {{
          math.sqrt(
            acc.lastValues[1] * acc.lastValues[1] +
              acc.lastValues[2] * acc.lastValues[2] +
              acc.lastValues[3] * acc.lastValues[3]
          ) * 9.81
            | number: '1.0-3'
        }}
      </td>
      <td>m/s²</td>
    </tr>
  </table>

  <app-ut-dygraph
    queryString="rotation"
    [fetchFromServerIntervalMS]="step"
    [dataBaseQueryStepMS]="step"
    [dataSeriesLabels]="dataSeriesLabels"
    [labelBlackList]="labelBlackList"
    YLabel="Rotation / Gyroscope"
    [style]="graphstyle_gyro"
    [startTime]="startTime"
    [extraDyGraphConfig]="extraDyGraphConfig"
    #gyro
  ></app-ut-dygraph>
  <app-ut-dygraph
    queryString="magnetic_field"
    [fetchFromServerIntervalMS]="step"
    [dataBaseQueryStepMS]="step"
    [dataSeriesLabels]="dataSeriesLabels"
    [labelBlackList]="labelBlackList"
    YLabel="Magnetic field (µT)"
    [style]="graphstyle_mag"
    [startTime]="startTime"
    [extraDyGraphConfig]="extraDyGraphConfig"
    #mag
  ></app-ut-dygraph>

  <app-ut-fetchmetrics #f></app-ut-fetchmetrics>
  <div id="temp">
    Temp:
    {{
      f.metrics['temperature_degC'] && f.metrics.temperature_degC.value
        | number: '1.1-3'
    }}&thinsp;°C
  </div>
</div>
