#anyapp {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  flex-direction: column;
  display: flex;

  label {
    margin-left: 2em;
  }
  #anyheader {
    width: 100%;
    text-align: left;
    h2 {
      margin: 0.5rem;
      font-size: 1.2rem;
      small {
        font-weight: normal;
      }
    }
    position: relative;
    #backicon {
      position: absolute;
      color: #c7c7c7;
      text-align: right;
      top: 0.5em;
      right: 1em;
    }
    #backicon:hover {
      color: white;
    }
  }

  #anybody {
    flex: 1;
    overflow-y: auto;
    position: relative;
  }
  #anyfooter {
    padding: 0.5em;
    max-height: 50%;
    overflow-y: auto;
    h3 {
      margin: 0.2rem 0.5rem 0.5rem 0.5rem;
    }
    div:first-child {
      width: 100%;
      position: relative;
      button {
        position: fixed;
        right: 0.5em;
        bottom: 1.5em;
        z-index: +5;
      }
    }
    table {
      margin-top: 0.3rem;
      border: 2px solid gray;
      border-collapse: collapse;
      font-size: 0.9em;
      td,
      th {
        border: 1px solid gray;
        padding: 0.2rem 0.3rem;
        button {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 0.60em;
          border: 0;
          padding: 0.3rem;
          background: transparent;
          color: gray;
        }
        button:hover {
          color: white;
        }
      }
      td + td {
        text-align: right;
      }
    }
  }
}
