.settings {
  position: absolute;
  bottom: 2em;
  right: 0;
  border: 1px solid green;
  width: 11rem;
  margin: 1rem;
  padding: 1rem;
  label {
    display: inline-block;
    color: rgba(0, 0, 0, 0.54);
    text-align: right;
    margin-right: 0.7rem;
    font-weight: 400;
    font-size: 16px;
    ￼line-height: 1.125;
    ￼font-family: Roboto, 'Helvetica Neue', sans-serif;
  }
  input[type='text'] {
    padding: 0.3em;
    // border-radius: 0.5em;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.54);
  }
  button {
    border: 0;
    border-radius: 0.5em;
    background: #5cb85c;
    padding: 0.5em;
    cursor: pointer;
    min-width: 2.25em;
    color: white;
  }
}
h2 {
  margin-left: 1em;
}

.chartabs {
  position: absolute;
  top: 70%;
  bottom: 1rem;
  left: 1rem;
  right: 15rem;

  .chart {
    width: 100%;
    height: 100%;
    // background: blue;
    position: relative;
  }
}
