<h2>
  System services
</h2>

<table>
  <tr>
    <th>
      Name
    </th>
    <th>Description</th>
    <th>Installed</th>
    <th>Start on Boot</th>
    <th>Currently Running</th>
  </tr>
  <tr *ngIf="loading">
    <td colspan="5">{{ loadingText }}</td>
  </tr>
  <tr *ngFor="let service of services">
    <td>{{ service['name'] }}</td>
    <td>{{ service['description'] }}</td>
    <td style="text-align: center">
      <span>{{ service['installed'] ? 'Yes' : 'No' }}</span>
    </td>
    <td style="text-align: center">
      <span *ngIf="service['installed']">
        <span class="status">
          {{ service['onboot'] ? 'Yes' : 'No' }}
        </span>
        <button
          *ngIf="service['onboot']"
          type="submit"
          (click)="disableService(service['name'])"
          title="Disable Service"
        >
        <mat-icon>highlight_off</mat-icon>
        </button>
        <button
          *ngIf="!service['onboot']"
          type="submit"
          (click)="enableService(service['name'])"
          title="Enable Service"
        >
        <mat-icon>slideshow</mat-icon>
        </button>
      </span>
    </td>
    <td style="text-align: center">
      <span *ngIf="service['installed']">
        <span class="status">{{ service['running'] ? 'Yes' : 'No' }}</span>
        <button
          *ngIf="service['running']"
          type="submit"
          (click)="stopService(service['name'])"
          title="Stop Service"
        >
          <mat-icon>pause_circle_outline</mat-icon>
        </button>
        <button
          *ngIf="!service['running']"
          type="submit"
          (click)="startService(service['name'])"
          title="Start Service"
        >
          <mat-icon>play_circle_outline</mat-icon>
        </button>
      </span>
    </td>
  </tr>
</table>
