$bordercolor: #666666;
$labelcolor: #999;

table.envirobody {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  table-layout: fixed;
  h3 {
    margin: 0;
    display: inline-block;
    padding: 0;
  }
  th[colspan="2"] > h3 {
    margin-left: 11rem;
  }
  th {
    padding: 0.5rem 0;
    height: 2.5em;
    border-left: 1px solid $bordercolor;
    width: 32%;
    position: relative;
    a.fullscreen,
    a.fullscreen:visited {
      color: #c7c7c7;
      position: absolute;
      top: 1em;
      right: 1em;
    }
    a.fullsceen:hover,
    a.fullsceen:visited:hover {
      color: white;
    }
  }
  td {
    position: relative;
    border-left: 1px solid gray;
    width: 100%;
    height: 50%;
    .settings {
      margin-top: -4em;
      width: 9rem;
      div.section {
        border: 1px solid #666;
        width: 7rem;
        margin: 1rem;
        padding: 1rem;
        mat-label {
          color: $labelcolor;
        }
        h3 {
          margin-bottom: 0.6em;
        }
        .mat-form-field {
          width: 6em;
        }
        .mat-select {
          background-color: #565656;
        }
        label {
          display: inline-block;
          color: $labelcolor;
          text-align: right;
          margin-right: 0.7rem;
          font-weight: 400;
          font-size: 12px;
          ￼line-height: 1.125;
          ￼font-family: Roboto, 'Helvetica Neue', sans-serif;
        }
      }
    }
    a,
    a:visited {
      color: #c7c7c7;
      // text-decoration: none;
    }
  }
  th:first-child,
  td:first-child {
    border-left: 0;
  }
  tr:first-child + tr td {
    border-bottom: 1px solid $bordercolor;
  }
  .val {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1rem;
    background: transparent;
    th,
    td {
      border-left: 0;
      height: auto;
    }
    tr:first-child + tr td {
      border-bottom: 0;
    }
  }
  .val.big {
    width: 15rem;
    transform: translateY(-3rem);
  }
  // .pm p {
  //   margin-left: 1rem;
  // }
}

.mapcontainer {
  position: absolute;
  top: 0;
  bottom: 0.5rem;
  left: 11rem;
  right: 1rem;
}