$graphbg: #505050;
$labelcolor: #666666;
$buttontext: #666666;
$dygfontsize: 14px;

$green3: #0f7a1d;
$green5: #4fbb5d;
$green1: #15ad29;
$green4: #1efa3b;
$green2: #69fa7c;
$brown3: #7a3e14;
$brown5: #80573b;
$brown1: #cc6821;
$brown4: #ff8c3b;
$brown2: #ffaf75;
$blue3: #0c187d;
$blue5: #1222b0;
$blue1: #1930fc;
$blue4: #4c57bd;
$blue2: #6574fc;
$violet3: #54348c;
$violet5: #6840ad;
$violet1: #7f4ed4;
$violet4: #a383db;
$violet2: #c8b5eb;
$olive3: #1b4d40;
$olive5: #1f594b;
$olive1: #2d806b;
$olive4: #569585;
$olive2: #88baae;
$navy3: #1a546b;
$navy5: #2f6175;
$navy1: #267d9f;
$navy4: #318bae;
$navy2: #38b8eb;
$red3: #701114;
$red5: #8a1519;
$red1: #b11a1f;
$red4: #bd484c;
$red2: #eb7c80;

.abscontainer {
  position: absolute;
  border: 0px solid green;
  flex-direction: column;
  display: flex;
}
.mydygraph-component {
  flex: 1;
  border: 0px solid red;
  position: relative;
  height: 100%;
  min-height: 50%;
  width: 100%;

  .graph {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
  }

  ul {
    text-align: left;
  }

  .info {
    position: absolute;
    top: 1em;
    left: 1em;
    margin: 1em;
    border: 1px solid blue;
    padding: 1em;
    background: $graphbg;
  }

  .nodata {
    border-color: orange;
  }
  .waiting {
    border-color: yellow;
  }
  .error {
    border-color: red;
  }

  .fromDate,
  .toDate,
  .ymin,
  .ymax,
  .y2min,
  .y2max,
  .xmin,
  .xmax {
    position: absolute;
    background: $graphbg;
    font-size: $dygfontsize;
    color: $labelcolor;
    padding: 0.2em;
  }

  .fromDate,
  .toDate {
    bottom: 0;
  }

  .fromDate,
  .xmin {
    left: 55px;
  }
  .toDate,
  .xmax {
    right: 70px;
  }
  .lastTime {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 1rem;
    font-size: 0.8em;
    color: $labelcolor;
  }
  .ymax,
  .ymin {
    border: 0px solid salmon;
    width: 42px; // dyg y-width: 50px
    left: 4px;
    text-align: right;
  }
  .ymax,
  .y2max {
    top: 0;
  }
  .ymin,
  .y2min {
    bottom: 52px;
  }
  .ymin.noxlabel,
  .y2min.noxlabel {
    bottom: 1.6em;
  }
  .y2min,
  .y2max {
    right: 11px;
    width: 50px;
    text-align: left;
  }
    .xmin,
  .xmax {
    bottom: 26px;
  }

  .dygraph-legend {
    background: rgba(100, 100, 100, 0.8);
    padding: 5px;
    text-align: left;
    // text-shadow: 1px 1px $graphbg, -1px 1px $graphbg, 1px -1px $graphbg, -1px -1px $graphbg,
    //   2px 2px $graphbg, -2px 2px $graphbg, 2px -2px $graphbg, -2px -2px $graphbg;
    position: absolute !important;
    top: 5px !important;
    left: 61px !important; // y-w(50) + 5px margin + 5px padding + 1px axis-width
    // bottom: 3em;
    width: auto;
    overflow-x: visible;
    overflow-y: auto;
    // pointer-events: none;

    table {
      border-collapse: collapse;
      margin-top: 0.2em;
      tr {
        // pointer-events: auto;
        cursor: pointer;
        td,
        th {
          border: 1px solid black;
        }
        th {
          font-weight: bold;
          border-right-width: 0;
          padding: 0.1em 0.2em;
        }

        td {
          color: black;
          width: 4.5em; // width of string 'undefined'
          border-left-width: 0;
          padding: 0.1em 0;
        }
      }
      tr.highlight {
        background-color: #8e8e8e;
      }
      tr:hover {
        background-color: #8e8e8e;
      }
    }
  }

  .series {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 2.5em;
    overflow-y: auto;
    h4 {
      margin: 0;
      text-align: left;
    }
  }
  .dygraph-label,
  .dygraph-axis-label {
    color: $labelcolor;
  }

  button.toggleOptions {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.9rem;
    width: 1.9rem;
    border-radius: 0.5rem;
    background: transparent;
    cursor: pointer;
    border: 1px solid gray;
    display: block;
    margin-right: auto;
    * {
      transform: translate(0rem, 0rem);
      font-size: 1.1rem;
    }
  }
  button.toggleOptions:hover {
    background-color: gray;
  }
}
div.optionsarea {
  overflow: auto;
  div.options {
    padding-left: 0.15rem;
    padding-right: 0.15rem;
    background: rgba(128, 128, 128, 0.719);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .subbox {
      border: 1px solid black;
      display: inline-block;
      padding: 0.2em;
      margin-bottom: 0.15rem;
      margin-top: 0.15rem;
      height: 3rem;
      > * {
        margin: 0 0.25ch;
      }
      h5 {
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: 0.7em;
      }
      input[type='text'] {
        padding: 0.1em;
        border-radius: 0.5em;
      }
      select {
        height: 2.2em;
      }
      button {
        border: 0;
        border-radius: 0.5em;
        background: #5cb85c;
        padding: 0.5em;
        cursor: pointer;
        min-width: 2.25em;
        .mat-icon {
          margin: 0;
          margin-bottom: -10px;
          margin-top: -10px;
          transform: translateY(6px);
        }
      }
      .time {
        h5 {
          display: inline-block;
          margin-right: 1em;
        }
        small {
          font-size: 0.7em;
        }
        button {
          background: none;
          min-width: unset;
          border-radius: unset;
          padding: unset;
          border: unset;
        }
        mat-form-field {
          width: 7em;
          // background: greenyellow;
          height: 1.5em;
        }
        .mat-form-field-infix {
          border-top: 0;
          padding: 0;
        }
      }
      .stats {
        display: flex;
        flex-wrap: wrap;
        small {
          display: inline-block;
          margin-left: 1em;
        }
        span {
          display: inline-block;
          min-width: 7em;
        }
        table {
          margin-left: 1em;
          font-size: 0.8em;
          border-collapse: collapse;
          th,
          td {
            border-left: 1px solid black;
            padding: 0 0.3em;
          }
          th:first-child,
          td:first-child {
            border-left: 0;
          }

          th {
            text-align: left;
            border-bottom: 1px solid black;
          }
        }
      }
    }
    #stats {
      height: auto;
    }
  }
}
