$graphbg: #3f3f3f;
$mainbg: #1e1e1e;
$axismainlabelcolor: #8e8e8e;
$axissublabelcolor: #565656;
$buttontext: #fff;
$dygfontsize: 14px;
$labelcolor: #8e8e8e;
$editableFormsTextColor: #c7c7c7;

$green3: #002402;
$green5: #023c0a;
$green1: #008d0a;
$green4: #1ef93a;
$green2: #69f97b;
$brown3: #561d0b;
$brown5: #883a06;
$brown1: #ff5b00;
$brown4: #ff9c06;
$brown2: #ffdd73;
$blue3: #000055;
$blue5: #000094;
$blue1: #0000ff;
$blue4: #394cff;
$blue2: #6883ff;
$violet3: #2b0069;
$violet5: #470994;
$violet1: #842bff;
$violet4: #c78dff;
$violet2: #ffebff;
$olive3: #002913;
$olive5: #003c24;
$olive1: #00805c;
$olive4: #37a389;
$olive2: #8ce2cd;
$navy3: #001341;
$navy5: #002c54;
$navy1: #0061a6;
$navy4: #007cc2;
$navy2: #00d9ff;
$red3: #520000;
$red5: #990000;
$red1: #e10000;
$red4: #f81e25;
$red2: #ff7f88;

.abscontainer {
  position: absolute;
  border: 0px solid green;
  flex-direction: column;
  display: flex;
}
.mydygraph-component {
  flex: 1;
  border: 0px solid red;
  position: relative;
  height: 100%;
  min-height: 50%;
  width: 100%;

  .graph {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
  }

  ul {
    text-align: left;
  }

  .info {
    position: absolute;
    top: 1em;
    left: 1em;
    margin: 1em;
    border: 1px solid blue;
    padding: 1em;
    background: $graphbg;
  }

  .nodata {
    border-color: orange;
  }
  .waiting {
    border-color: yellow;
  }
  .error {
    border-color: red;
  }

  .fromDate,
  .toDate,
  .ymin,
  .ymax,
  .y2min,
  .y2max,
  .xmin,
  .xmax {
    position: absolute;
    background: $graphbg;
    font-size: $dygfontsize;
    color: $editableFormsTextColor;
    padding: 0.35em;
    height: 1em;
    line-height: 1em;
  }

  .fromDate,
  .toDate {
    bottom: 0;
  }

  .fromDate,
  .xmin {
    left: 55px;
  }
  .toDate,
  .xmax {
    right: 60px;
    text-align: right;
  }
  .noy2 {
    right: 5px; // Dygraph option rightGap
  }
  .fromDate,
  .toDate,
  .xmin,
  .xmax {
    width: 4.3em;
  }
  .lastTime {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 1rem;
    font-size: 0.8em;
    color: $labelcolor;
  }
  .ymax,
  .ymin {
    border: 0px solid salmon;
    width: 42px; // dyg y-width: 50px + paddings
    left: 1px;
    text-align: right;
  }
  .ymax,
  .y2max {
    top: 0;
  }
  .ymin,
  .y2min {
    bottom: 52px;
  }
  .ymin.noxlabel,
  .y2min.noxlabel {
    bottom: 1.6em;
  }
  .y2min,
  .y2max {
    right: 7px;
    width: 42px;
    text-align: left;
  }
  .xmin,
  .xmax,
  .overlapTickTexthider {
    bottom: 26px;
  }
  .overlapTickTexthider {
    background-color: $mainbg;
    font-size: $dygfontsize;
    height: 1em;
    line-height: 1em;
    padding: 0.35em;
    position: absolute;
    bottom: 26px;
    border-top: 2px solid $mainbg; // gap between x and label
  }
  .overlapTickTexthider.y1 {
    width: 42px;
    left: 1px;
    border-right: 2px solid $mainbg; // gap between y and label
  }
  .overlapTickTexthider.y2 {
    width: 60px;
    right: 0;
  }

  .legendabscontainer {
    position: absolute;
    top: 5px;
    left: 61px; // y-w(50) + 5px margin + 5px padding + 1px axis-width
    bottom: 67px; // 52 (bttom of graph)+ 5px own padding + 2x5px legend-padding
    right: 5px;
    flex-direction: column;
    display: flex;
    pointer-events: none;
    .legendrelcontainer {
      height: 100%;
      position: relative;
      flex: 1;
      // width: 100%;
      // width: auto;
      pointer-events: none;
      .legendToggle {
        position: absolute;
        font-size: 1.2em;
        min-width: 20em;
        text-align: right;
        top: 0;
        right: 5px;
        cursor: pointer;
      }
      .legendToggle::after {
        content: "▲";
      }
      .legendToggle:hover {
        font-weight: bold;
        color: white;
      }
    }
  }
  .dygraph-legend,
  .mylegend {
    font-size: $dygfontsize;
    background: rgba(100, 100, 100, 0.8);
    padding: 5px;
    text-align: left;
    position: absolute !important;
    top: 0px !important;
    left: 0px !important; // y-w(50) + 5px margin + 5px padding + 1px axis-width
    overflow-x: visible;
    min-width: 20em; // width of time text (with seconds) on hovering
    max-height: 100%;
    overflow-y: auto;
    pointer-events: auto;
    div.header {
      position: fixed;
      top: 0;
      padding: 5px;
      z-index: 10;
      background-color: #5d5d5d; // picked from graph-background + legend-bg
    }

    table {
      border-collapse: collapse;
      margin-top: 1.5em;
      border: 1px solid black;

      tr {
        cursor: pointer;
        td,
        th {
          border-bottom: 1px solid black;
        }
        th {
          font-weight: bold;
          padding: 0.1em 0.2em;
        }

        td {
          color: black;
          width: 4.5em; // width of string 'undefined'
          border-left-width: 0;
          padding: 0.1em 0;
        }
      }
      tr.highlight {
        background-color: #8e8e8e;
      }
      tr:hover {
        background-color: #8e8e8e;
      }
    }
  }
  .mylegend.cthide {
    width: 20em;
    height: 1.2em;
    table {
      display: none;
    }
    .legendToggle::after {
      content: "▼";
    }
  }

  .series {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 2.5em;
    overflow-y: auto;
    h4 {
      margin: 0;
      text-align: left;
    }
  }
  .dygraph-label {
    color: $axismainlabelcolor;
    font-weight: 600;
  }
  .dygraph-axis-label {
    color: $axissublabelcolor;
  }

  button.toggleOptions {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.9rem;
    width: 1.9rem;
    border-radius: 0.5rem;
    background: transparent;
    cursor: pointer;
    border: 1px solid gray;
    display: block;
    margin-right: auto;
    * {
      transform: translate(0rem, 0rem);
      font-size: 1.1rem;
    }
  }
  button.toggleOptions:hover {
    background-color: gray;
  }
}
div.optionsarea {
  overflow: auto;
  div.options {
    padding-left: 0.15rem;
    padding-right: 0.15rem;
    background: rgba(128, 128, 128, 0.719);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .subbox {
      border: 1px solid black;
      display: inline-block;
      padding: 0.2em;
      margin-bottom: 0.15rem;
      margin-top: 0.15rem;
      height: 3rem;
      > * {
        margin: 0 0.25ch;
      }
      h5 {
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: 0.7em;
      }
      input[type='text'] {
        padding: 0.1em;
        border-radius: 0.5em;
      }
      select {
        height: 2.2em;
      }
      button {
        border: 0;
        border-radius: 0.5em;
        background: #5cb85c;
        padding: 0.5em;
        cursor: pointer;
        min-width: 2.25em;
        .mat-icon {
          margin: 0;
          margin-bottom: -10px;
          margin-top: -10px;
          transform: translateY(6px);
        }
      }
      .time {
        h5 {
          display: inline-block;
          margin-right: 1em;
        }
        small {
          font-size: 0.7em;
        }
        button {
          background: none;
          min-width: unset;
          border-radius: unset;
          padding: unset;
          border: unset;
        }
        mat-form-field {
          width: 7em;
          // background: greenyellow;
          height: 1.5em;
        }
        .mat-form-field-infix {
          border-top: 0;
          padding: 0;
        }
      }
      .stats {
        display: flex;
        flex-wrap: wrap;
        small {
          display: inline-block;
          margin-left: 1em;
        }
        span {
          display: inline-block;
          min-width: 7em;
        }
        table {
          margin-left: 1em;
          font-size: 0.8em;
          border-collapse: collapse;
          th,
          td {
            border-left: 1px solid black;
            padding: 0 0.3em;
          }
          th:first-child,
          td:first-child {
            border-left: 0;
          }

          th {
            text-align: left;
            border-bottom: 1px solid black;
          }
        }
      }
    }
    #stats {
      height: auto;
    }
  }
}
