#displayedcolor {
    border: 2px solid white;
    height: 2vh;
    width: 2vh;
    border-radius: 1vh;
    // margin: 1em auto 1em auto;
    // display: inline-block;
    margin: 0 -4vh 0 2vh;
    float: left;
  }