<a
  class="relcontainer {{
    graph.getAverage() < 400
      ? 'red'
      : graph.getAverage() < 1000
      ? 'yellow'
      : 'green'
  }}"
  routerLink="/Apps/Luminosity"
  routerLinkActive="active"
>
  <div class="tilebox">
    <h2>Brightness</h2>
    <data>
      {{ graph.getAverage() | number: '1.0-0' }}&nbsp;<em class="unit"
        >lux</em
      ></data
    >

    <div class="bar">
      <app-ut-bargauge-min
        [width]="width / 3.3"
        [height]="height"
        max="3000"
        [value]="graph.getAverage()"
        [highlights]="highlights"
      ></app-ut-bargauge-min>
    </div>
    <div class="graphabs">
      <div class="graphrel">
        <app-ut-dygraph
          queryString='radiation_lux{wavelength="visible"}'
          dataBaseQueryStepMS="1000"
          startTime="2m"
          minimal="true"
          [backGroundLevels]="backGroundLevels"
          #graph
        ></app-ut-dygraph>
      </div>
    </div>
  </div>
</a>
