<a
  class="relcontainer {{
    value === undefined
      ? 'gray'
      : value < 400
      ? 'red'
      : value < 1000
      ? 'yellow'
      : 'green'
  }}"
  routerLink="/Apps/Luminosity"
  routerLinkActive="active"
>
  <div class="tilebox">
    <h2>Brightness</h2>
    <em id="displayedcolor" [style.background-color]="htmlColor">
      &nbsp;
    </em>
    <data
      ><!--<span *ngIf="graph && graph['lastValues'].length > 2" class="xbar"
        >X</span
      >-->&nbsp;<span *ngIf="value === undefined">?</span
      >{{ value | number: '1.0-0' }}&nbsp;<em class="unit">lux</em>
    </data>

    <div class="bar" *ngIf="value !== undefined">
      <app-ut-bargauge-min
        [width]="width / 3.1"
        [height]="height * 0.96"
        max="3000"
        [value]="value"
        [highlights]="highlights"
      ></app-ut-bargauge-min>
    </div>
    <div class="graphabs">
      <div class="graphrel" *ngIf="value !== undefined">
        <app-ut-dygraph-in
          [displayedData]="dygData"
          [columnLabels]="dygLabels"
          [changeTrigger]="changeTrigger"
          minimal="true"
          startTime="3m"
          [extraDyGraphConfig]="extraDyGraphConfig"
          [backGroundLevels]="backGroundLevels"
          #graph
        >
        </app-ut-dygraph-in>
      </div>
      <div class="notactive" *ngIf="value === undefined">
        Waiting for sensor...
      </div>
    </div>
  </div>
</a>
