
<!-- queryString='Voltage_V{model="adc"}' -->
<app-ut-dygraph
    queryString='voltage_diff_V{model="adc"}'
    fetchFromServerIntervalMS="100"
    dataBaseQueryStepMS="100"
    [dataSeriesLabels]="dataSeriesLabels"
    [labelBlackList]="labelBlackList"
    YLabel="Voltage (mV)"
    [style]="graphstyle"
    [startTime]="startTime"
    [multiplicateFactors]="multiplicateFactors"
    #graph
  ></app-ut-dygraph>

  <table *ngIf="graph.lastValues && graph.lastValues.length" id="adcvalues">
      <tr>
        <th>id, channel</th>
        <th>Value (mV)</th>
      </tr>
      <tr>
        <td>
          <div>
            <div *ngFor="let sensor of graph.columnLabels">{{ sensor.id }} {{ sensor.channel }}  </div>
          </div>
        </td>
        <td>
          <div>
            <div *ngFor="let value of graph.lastValues">
              <span *ngIf="value < 10000000">{{
                value | number: '1.0-3'
              }}</span>
            </div>
          </div>
        </td>
      </tr>
    </table>