<div id="calappbody">
  <h2>Calibration</h2>

  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;y = d + k&thinsp;·&thinsp;x + s&thinsp;·&thinsp;x²
  </p>

  <h3>Sensor list</h3>

  <div *ngFor="let s of gss.server.sensors | keyvalue" class="sensor">
    <h4>
      {{ s.key }}
    </h4>
    <div
      *ngIf="s.value['measurements'] && s.value['measurements'].length > 0"
      class="measurements"
    >
      <span *ngFor="let m of s.value['measurements']; let i = index"
        ><span *ngIf="i > 0">, </span>{{ m }}</span
      >
      sensor
    </div>
    <div *ngFor="let id of s.value['id'] | keyvalue" class="id">
      <h5>{{ id.key }}</h5>
      <div
        *ngFor="let measurement of id.value['measurements'] | keyvalue"
        class="sensormeasurement"
      >
        <h6>{{ measurement.key }}</h6>
        <div *ngFor="let field of measurement.value | keyvalue" class="field">
          <div>
            •&nbsp;&nbsp;{{ field.value['displayname'] }} ({{ field.key }}),
            {{ field.value['unit'] ? field.value['unit'] : 'unitless' }}
          </div>
          <table *ngIf="field.value['unit']">
            <tr>
              <th>Calibration Date</th>
              <th>Linear Offset (d)</th>
              <th>Multiplicator (k)</th>
              <th>Quadratic Factor (s)</th>
              <th class="note">Note [text]</th>
              <th>
                <button
                  (click)="
                    toggleRow(s.key + id.key + measurement.key + field.key)
                  "
                >
                  {{
                    displayAddRows[s.key + id.key + measurement.key + field.key]
                      ? '-'
                      : '+'
                  }}
                </button>
              </th>
            </tr>
            <tr *ngFor="let cal of field.value['cals']">
              <td>{{ cal[0] | date: 'dd.MM.yyyy HH:mm:ss' }}</td>
              <td>{{ cal[2] }}</td>
              <td>{{ cal[3] }}</td>
              <td>{{ cal[4] }}</td>
              <td class="note">{{ cal[1] }}</td>
              <td>
                <button
                  title="delete calbration entry"
                  (click)="
                    delCal(cal[0], s.key, id.key, measurement.key, field.key)
                  "
                >
                  ×
                </button>
              </td>
            </tr>
            <tr
              *ngIf="
                displayAddRows[s.key + id.key + measurement.key + field.key]
              "
              class="new"
            >
              <td>
                <!-- <input
                  type="text"
                  id="newcaldate"
                  name="newcaldate"
                  [(ngModel)]="newcaldate"
                /> -->
                <div
                  class="fromDate"
                  (click)="pickerF.open()"
                >
                  <mat-form-field>
                    <input
                      matInput
                      [matDatepicker]="pickerF"
                      [formControl]="calDate"
                      (dateChange)="changeCalDate($event)"
                      [max]="now"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="pickerF"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #pickerF></mat-datepicker>
                  </mat-form-field>
                </div>
              </td>
              <td>
                <input type="text" id="d" name="d" [(ngModel)]="d" />
              </td>
              <td>
                <input type="text" id="k" name="k" [(ngModel)]="k" />
              </td>
              <td>
                <input type="text" id="s2" name="s2" [(ngModel)]="s2" />
              </td>
              <td>
                <input type="text" id="note" name="note" [(ngModel)]="note" />
              </td>
              <td>
                <button
                  (click)="sendCal(s.key, id.key, measurement.key, field.key)"
                >
                  Go
                </button>
              </td>
            </tr>
          </table>
          <div class="add"></div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!gss.server.sensors">No sensors in Database.</div>
</div>

<p>write operations only if user has write rights on DB</p>

<p>
    <button (click)="reload()">Reload</button>
</p>
