table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  // border: 1px solid blue;
  tr {
    td {
      vertical-align: top;
      width: 50%;
      height: 50%;
      h4 {
        color: transparent;
      }
    }
  }
}
