<h3>VOC raw sensor data</h3>

<app-ut-dygraph
  queryString="gas_ohm"
  fetchFromServerIntervalMS="3000"
  dataBaseQueryStepMS="3000"
  YLabel="VOC MOx sensor resistance (Ohm)"
  [style]="graphstyle"
  [startTime]="startTime"
  #graph
></app-ut-dygraph>

<table *ngIf="graph.lastValues && graph.lastValues.length">
  <tr>
    <th>Sensor:</th>
    <th *ngFor="let sensor of graph.columnLabels">{{ sensor.sensor }}</th>
  </tr>
  <tr>
    <td *ngFor="let value of graph.lastValues">
      <span *ngIf="value > 10000000">
        <!-- >: hack to sort out date -->
        Value
      </span>
      <span *ngIf="value < 10000000">{{ value | number: '1.0-10' }} </span>
    </td>
  </tr>
</table>
