<table>
  <tr>
    <td>
      Hardware clock:
    </td>
    <td>{{ hwDate }}</td>
    <td>Difference: {{ hwDate && (browserDate.valueOf() - hwDate.valueOf())/1000 }} s </td>
  </tr>
  <tr>
    <td>Software clock:</td>
    <td>{{ swDate }}</td>
    <td>Difference: {{ swDate && (browserDate.valueOf() - swDate.valueOf())/1000 }} s</td>
  </tr>
  <tr>
    <td>Browser time:</td>
    <td>
      {{ browserDate }}
    </td>
    <td><button (click)="setClock()">Write browser date to system</button></td>
  </tr>
</table>

<button (click)="getDates()" class="icon"><mat-icon>autorenew</mat-icon></button>