button {
    display: inline-block;
    background-color: #5cb85c;
    border-color: #4cae4c;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 7px;
    color: white;
    margin: 5px;
    text-decoration: none;
    cursor: pointer;
}
button.icon {
    background: transparent;
    border: 0;
    color: black;
}
tr {
    border: 1px solid gray;
    padding: 0.1em 0.1em 0.1em 0.5em;
    margin: 0.2em 0;
    min-height: 2.5em;
}
table {
    border: 1px solid gray;
    border-collapse: separate;
    border-spacing: 0;
    padding: 0.5em;
    td {
        height: 2.5em;
        border-top: 1px solid gray;
        margin:0;
        padding-right: 1em;
    }
    tr:first-child td {
        border-top: 0;
    }
}
