<div id="innerappbody">
  <app-ut-dygraph
    queryString='{__name__=~"gas_ohm|gas_V",sensor="MiCS6814",gas=~"NO2|OX"}'
    [fetchFromServerIntervalMS]="step"
    [dataBaseQueryStepMS]="step"
    [dataSeriesLabels]="dataSeriesLabelRed"
    [labelBlackList]="labelBlackList"
    YLabel="Reducing / NO₂ (&#8486;, V)"
    [style]="graphstyle_red"
    [startTime]="startTime"
    [extraDyGraphConfig]="extraDyGraphConfig"
    #red
  ></app-ut-dygraph>

  <app-ut-dygraph
    queryString='{__name__=~"gas_ohm|gas_V",sensor="MiCS6814",gas=~"CO|RED"}'
    [fetchFromServerIntervalMS]="step"
    [dataBaseQueryStepMS]="step"
    [dataSeriesLabels]="dataSeriesLabelOx"
    [labelBlackList]="labelBlackList"
    YLabel="Oxidizing / CO (&#8486;, V)"
    [style]="graphstyle_ox"
    [startTime]="startTime"
    [extraDyGraphConfig]="extraDyGraphConfig"
    #ox
  ></app-ut-dygraph>

  <app-ut-dygraph
    queryString='{__name__=~"gas_ohm|gas_V",sensor="MiCS6814",gas="NH3"}'
    [fetchFromServerIntervalMS]="step"
    [dataBaseQueryStepMS]="step"
    [dataSeriesLabels]="dataSeriesLabelAmmo"
    [labelBlackList]="labelBlackList"
    YLabel="Ammonia (&#8486;, V)"
    [style]="graphstyle_ammo"
    [startTime]="startTime"
    [extraDyGraphConfig]="extraDyGraphConfig"
    #ammo
  ></app-ut-dygraph>

  <table id="side">
    <tr>
      <td>
        <table *ngIf="red.lastValues" id="redvalues">
          <tr>
            <th>ADC Voltage</th>
          </tr>
          <tr>
            <td>{{ red.lastValues[1] | number: '1.3-3' }}&#8239;V</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table *ngIf="ox.lastValue" id="oxvalues">
          <tr>
            <th>ADC Voltage</th>
          </tr>
          <tr>
            <td>{{ ox.lastValues[1] | number: '1.3-3' }}&#8239;V</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table *ngIf="ammo.lastValue" id="ammovalues">
          <tr>
            <th>ADC Voltage</th>
          </tr>
          <tr>
            <td>{{ ammo.lastValues[1] | number: '1.3-3' }}&#8239;V</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <th>&nbsp;</th>
    </tr>
    <tr>
      <th>Enable/Disable Sensor</th>
    </tr>
    <tr>
      <td>
        Status:
        {{
          mics_enable === undefined
            ? 'unknown'
            : mics_enable === true
            ? 'active'
            : 'off'
        }}
      </td>
    </tr>
    <tr>
      <td>
          <button (click)="toggleMics()" class="onbtn">{{ mics_enable === true ? 'Disable' : 'Enable' }}</button>
      </td>
    </tr>
  </table>
</div>
