table {
    position: absolute;
    right: 0.3em;

    margin: auto 0;
    th {
      padding-bottom: 1vh;
    }
    td {
      text-align: right;
      padding-right: 3em;
    }
    td.unit {
      text-align: left;
    }
    td:first-child {
      text-align: center;
      width: 3em;
      padding-right: 0.3em;
    }
  }

  #redvalues {
    top: 0;
    bottom: 66%;
  }
  #oxvalues {
    top: 33%;
    bottom: 33%;
  }
  #ammovalues {
    top: 66%;
    bottom: 2em;
  }