table {
    border-collapse: collapse;
    margin: 0;
    padding:0;
  th {
    padding-bottom: 1vh;
  }
  td.unit {
    text-align: left;
  }
//   border: 1px solid green;
}

table#side {
  position: absolute;
  right: 0;
  width: 7em;
  top: 0;
  bottom: 0;
  height: 100%;

//   border: 1px solid red;
  td {
    vertical-align: middle;
    text-align: center;
  }
  table {
      margin: auto;
  }
}

button {
  display: inline-block;
  background-color: #5cb85c;
  border-color: #4cae4c;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 7px;
  color: white;
  margin: 5px;
  text-decoration: none;
  cursor: pointer;
}