table {
    border-collapse: collapse;
    margin: 0;
    padding:0;
  th {
    padding-bottom: 1vh;
  }
  td.unit {
    text-align: left;
  }
//   border: 1px solid green;
}

table#side {
  position: absolute;
  right: 0;
  width: 7em;
  top: 0;
  bottom: 0;
  height: 100%;

//   border: 1px solid red;
  td {
    vertical-align: middle;
    text-align: center;
  }
  table {
      margin: auto;
  }
}
