<div id="co2dygraph">
  <!-- queryString='gas_ppm{gas="CO2",sensor="SCD30"} or gas_ppm{gas="VOC"} or gas_ohm or temperature_degC{sensor="BME680"} or voltage_V or humidity_rel_percent{sensor="BME680"} or pressure_hPa' -->

  <app-ut-dygraph
    queryString='{__name__=~"humidity_rel_percent|temperature_degC|gas_ohm|gas_ppm|voltage_V|pressure_hPa"}'
    [fetchFromServerIntervalMS]="step"
    [dataBaseQueryStepMS]="step"
    [style]="graphstyle"
    [startTime]="startTime"
    [extraDyGraphConfig]="extraDyGraphConfig"
    #graph
  ></app-ut-dygraph>

  <table *ngIf="graph.lastValues && graph.lastValues.length">
    <tr>
      <th>Sensor:</th>
      <th *ngFor="let sensor of graph.columnLabels">{{ sensor.sensor }}</th>
    </tr>
    <tr>
      <td *ngFor="let value of graph.lastValues">
        <span *ngIf="value > 10000000">
          <!-- >: to sort out date -->
          Value
        </span>
        <span *ngIf="value < 10000000">{{ value | number: '1.0-10' }}</span>
      </td>
    </tr>
  </table>

  <!-- queryString='gas_ppm{gas="CO2",sensor="SCD30"} or gas_ppm{gas="VOC"} or gas_ohm  or voltage_V or humidity_rel_percent or temperature_degC '
  FIXME some "or"-ed metric queries do not return all metrics, sometimes humidity or pressure is missing.
  -->
</div>
