<h2>
  {{ title }}
</h2>

<app-ut-dygraph
  queryString='radiation_lux{sensor="TCS34725"}'
  [fetchFromServerIntervalMS]="step"
  [dataBaseQueryStepMS]="step"
  [dataSeriesLabels]="dataSeriesLabels"
  [labelBlackList]="labelBlackList"
  YLabel="Brightness (lux)"
  [style]="graphstyle"
  [startTime]="startTime"
  [extraDyGraphConfig]="extraDyGraphConfig"
  #color
></app-ut-dygraph>

<table *ngIf="color.lastValues && color.lastValues.length" id="values">
  <tr>
    <th>Wavelength</th>
    <th>Value (lux)</th>
  </tr>
  <tr>
    <td>
      <div>
        <div *ngFor="let sensor of color.columnLabels">
          <span *ngIf="sensor.node">{{ sensor.node }}:</span>
          {{ sensor.wavelength }}
        </div>
      </div>
    </td>
    <td>
      <div>
        <div *ngFor="let value of color.lastValues">
          <span *ngIf="value < 10000000">{{ value | number: '1.0-2' }}</span>
        </div>
      </div>
    </td>
  </tr>
</table>

<div id="colors" *ngIf="color.lastValues && color.lastValues.length">
  HTML color:<br />
  {{
    calcHTMLColor(color.lastValues[4], color.lastValues[2], color.lastValues[1])
  }}
  <br />
  rgb({{ r | number: '1.0-0' }}, {{ g | number: '1.0-0' }},
  {{ b | number: '1.0-0' }})

  <div id="displayedcolor" [style.background-color]="htmlColor">&nbsp;</div>
</div>
