h2 {
  margin: 0.2em;
  // line-height: 2.5em;
}

table,
div#colors {
  position: absolute;
  right: 0.3em;
  width: 15em;
}

#values {
  top: 2em;
  bottom: 66%;
}

#colors {
  bottom: 2em;
}
#displayedcolor {
  border: 1px solid black;
  height: 2em;
  width: 2em;
  border-radius: 1em;
  margin: 1em auto 1em auto;
}
