<div id="anyapp">
  <div id="anyheader">
    <h2>
      <!-- {{ sensor }} {{ measurement }} -->
      <small *ngIf="common_label != measurement">{{ common_label }}</small>
    </h2>
    <!-- small spaces in ( )-->
    <div style="position: absolute; top: 0.8em; right: 7em; color: gray" *ngIf="autoreload" title="Time until reload">
      {{ reload_timer | number }} s
    </div>
    <div style="position: absolute; top: 0.8em; right: 10em; color: gray" *ngIf="queryRunning == true"
      title="Query Age">
      {{ query_age | number : '1.1-1' }} s
      <button type="button" *ngIf="query_age > 3" style="scale: 0.75" title="Cancel current query"
        (click)="queryRunning = false"><mat-icon>cancel</mat-icon></button>
    </div>

    <a id="backicon" [routerLink]="'/Apps/' + referrer" routerLinkActive="active"
      title="Return to overview"><mat-icon>fullscreen_exit</mat-icon></a>
    <button id="toggleSidebar" (click)="toggleSidebar(); R.resize()" title="Toggle sidebar">
      {{ sideBarShown ? '»' : '«' }}
    </button>
  </div>
  <div id="anybody">
    <div id="dygcontainerabs" [style.right]="currentSidebarWidth">

<!-- <app-ut-dygraph-in [data]="data" [columnLabels]="labels" [showDeviation]="show_deviation"
              [rawLabels]="raw_labels" [style]="graphstyle" [changeTrigger]="changeTrigger"
              [extraDyGraphConfig]="extraDyGraphConfig" [startTime]="dygStartTime" enableHighlightCallback="true"
              [colors]="colors" [backGroundLevels]="gss['graphBackgrounds'][background]" [YLabel]="ylabel"
              [Y2Label]="y2label" (returnCurrentZoom)="h.updateFromToTimes($event, this)"
              (returnRunningAvg)="handleRunningAvg($event)" #R></app-ut-dygraph-in> -->

      <table class="graphs">
        <colgroup>
          <col />
          <col />
        </colgroup>
        <tr>
          <th>
            <h3>AFEBOARD 1{{ chipnames[0] ? ': "' + chipnames[0] + '"' : '' }}</h3>
          </th>
          <th>
            <h3>AFEBOARD 2{{ chipnames[1] ? ': "' + chipnames[1] + '"' : '' }}</h3>
          </th>
        </tr>
        <tr>
          <td class="dygcontainerrel">
            <app-ut-dygraph-in [data]="dataA[0]" [columnLabels]="labelsA[0]" [showDeviation]="show_deviation"
              [rawLabels]="raw_labelsA[0]" [style]="graphstyle" [changeTrigger]="changeTrigger"
              [extraDyGraphConfig]="extraDyGraphConfig" [startTime]="dygStartTime" enableHighlightCallback="true"
              [colors]="colors" [backGroundLevels]="gss['graphBackgrounds'][background]" [YLabel]="ylabel"
              [Y2Label]="y2label" (returnGraphWidthOnChange)="setGraphWidth($event)"
              (returnCurrentZoom)="h.updateFromToTimes($event, this)" (returnRunningAvg)="handleRunningAvg($event)"
              #R></app-ut-dygraph-in>
          </td>
          <td class="dygcontainerrel">
            <app-ut-dygraph-in [data]="dataA[1]" [columnLabels]="labelsA[1]" [showDeviation]="show_deviation"
              [rawLabels]="raw_labelsA[1]" [style]="graphstyle" [changeTrigger]="changeTrigger"
              [extraDyGraphConfig]="extraDyGraphConfig" [startTime]="dygStartTime" enableHighlightCallback="true"
              [colors]="colors" [backGroundLevels]="gss['graphBackgrounds'][background]" [YLabel]="ylabel"
              [Y2Label]="y2label" (returnCurrentZoom)="h.updateFromToTimes($event, this)"
              (returnRunningAvg)="handleRunningAvg($event)" #R></app-ut-dygraph-in>
          </td>
        </tr>
        <tr>
          <th>
            <h3>AFEBOARD 3{{ chipnames[2]  ? ': "' + chipnames[2] + '"' : '' }}</h3>
          </th>
          <th>
            <h3>AFEBOARD 4{{ chipnames[3]  ? ': "' + chipnames[3] + '"' : '' }}</h3>
          </th>
        </tr>
        <tr>
          <td class="dygcontainerrel">
            s <app-ut-dygraph-in [data]="dataA[2]" [columnLabels]="labelsA[2]" [showDeviation]="show_deviation"
              [rawLabels]="raw_labelsA[2]" [style]="graphstyle" [changeTrigger]="changeTrigger"
              [extraDyGraphConfig]="extraDyGraphConfig" [startTime]="dygStartTime" enableHighlightCallback="true"
              [colors]="colors" [backGroundLevels]="gss['graphBackgrounds'][background]" [YLabel]="ylabel"
              [Y2Label]="y2label" (returnCurrentZoom)="h.updateFromToTimes($event, this)"
              (returnRunningAvg)="handleRunningAvg($event)" #R></app-ut-dygraph-in>
          </td>
          <td class="dygcontainerrel">
            <app-ut-dygraph-in [data]="dataA[3]" [columnLabels]="labelsA[3]" [showDeviation]="show_deviation"
              [rawLabels]="raw_labelsA[3]" [style]="graphstyle" [changeTrigger]="changeTrigger"
              [extraDyGraphConfig]="extraDyGraphConfig" [startTime]="dygStartTime" enableHighlightCallback="true"
              [colors]="colors" [backGroundLevels]="gss['graphBackgrounds'][background]" [YLabel]="ylabel"
              [Y2Label]="y2label" (returnCurrentZoom)="h.updateFromToTimes($event, this)"
              (returnRunningAvg)="handleRunningAvg($event)" #R></app-ut-dygraph-in>
          </td>
        </tr>
      </table>
    </div>

    <form class="settings" (submit)="reload(true)" *ngIf="sideBarShown">
      <fieldset>
        <h3>Shown Data:</h3>
        <label>Resolution:</label>
        <span class="cRange" title="{{ currentres }}&thinsp;s">{{
          currentresText
          }}</span>

        <!-- <label style="display: inline-block">Range:</label> -->
        <!-- <span class="cRange">{{ currentRange }}</span> -->

        <a routerLink="/Apps/I/Anysens" [queryParams]="{
            measurement: measurement,
            sensor: sensor,
            from: from,
            to: to,
            interval: interval
          }" routerLinkActive="active" style="position: absolute; top: 0.75rem; right: 0.75rem">Permalink</a>
      </fieldset>

      <fieldset [disabled]="queryRunning == true || autoreload">
        <h3>
          {{
          queryRunning && !autoreload
          ? 'Query running...'
          : 'Query current view:'
          }}
        </h3>
        <h5 style="margin: 0;">Resolution:</h5>
        <mat-radio-group class="automean-radio" [(ngModel)]="automean" (ngModelChange)="saveMean($event)">
          <table>
            <tr>
              <td>
                <mat-radio-button class="automean-radio" [value]="true">Auto</mat-radio-button>
              <td>
                <mat-radio-button class="automean-radio" [value]="false">Custom</mat-radio-button>
              </td>
            </tr>
            <tr>
              <td style="text-align: center; font-size: 90%; color: gray;">
                {{ meanS }}&thinsp;s
              </td>
              <td style="text-align: center;">
                <input type="number" id="userMeanS" min="0" name="userMeanS" [(ngModel)]="userMeanS"
                  (ngModelChange)="saveMean($event)" style="width: 4em" />&thinsp;s
              </td>
            </tr>
          </table>
        </mat-radio-group>


        <div style="width: 100%;">
          <button type="submit" style="margin-top: 0.5rem; margin-left: -0.3rem;">
            <mat-icon>refresh</mat-icon>
            All
          </button>
          <button (click)="reloadMissing()" style="margin: 0.5rem -0.5rem 0 0.5rem ;" type="button">
            <mat-icon>refresh</mat-icon> Missing in View
          </button>
        </div>
      </fieldset>

      <fieldset [disabled]="queryRunning == true || autoreload" style="position: relative;">
        <h3>
          {{
          queryRunning && !autoreload
          ? 'Query running...'
          : 'Query latest data:'
          }}
        </h3>
        <button (click)="reload()" type="button" [disabled]="autoreload"
          style="position: absolute; top: 0.5em; right: 0.5em; z-index: 10;"><mat-icon>refresh</mat-icon></button>
        <mat-form-field style="margin-top: -0.5rem; margin-bottom: -1rem; min-width: 4em !important;">
          <mat-label>Show range from now</mat-label>
          <mat-select [(ngModel)]="userStartTime" name="startTime" (closed)="changeMean(userStartTime)"
            [disabled]="queryRunning == true || autoreload">
            <mat-option value="5m">5 min.</mat-option>
            <mat-option value="15m">15 min.</mat-option>
            <mat-option value="1h" selected="selected">1 h</mat-option>
            <mat-option value="2h">2 h</mat-option>
            <mat-option value="6h">6 h</mat-option>
            <mat-option value="24h">24 h</mat-option>
            <mat-option value="7d">1 week</mat-option>
            <mat-option value="30d">1 mon.</mat-option>
            <mat-option value="356d">1 year</mat-option>
          </mat-select>
        </mat-form-field>
      </fieldset>

      <fieldset>
        <h3>Live Update</h3>
        <mat-checkbox [(ngModel)]="autoreload" name="autoreload" labelPosition="after"
          style="display: inline-block; margin-top: -0.5rem" (ngModelChange)="toggleAutoReload($event)">
          Enable{{ autoreload ? 'd' : '' }}
        </mat-checkbox>
        <div style="position: absolute; top: 1.25rem; right: 0.75rem">
          <label for="auto_s">every (s):</label>
          <input type="number" min="0.1" id="auto_s" name="auto_s" [(ngModel)]="auto_interval"
            (ngModelChange)="changeAutoS($event)" style="width: 3em" />
        </div>

        <div style="width: 100%; text-align: right; margin-top: 0.5rem">
          <!-- <button (click)="reload()" type="button" [disabled]="autoreload" style="margin-left: 3em">
          <mat-icon>refresh</mat-icon>
          Reload
        </button> -->

          <button (click)="reloadMissingToNow()" type="button" [disabled]="autoreload">
            Load Missing to Now
          </button>
        </div>
      </fieldset>

      <fieldset>
        <button (click)="exportCSV()" type="button">Export CSV</button>
      </fieldset>

      <!-- <fieldset id="tags">
        <h3>Series Tags</h3>
        <button class="togglebtn" (click)="toggleTags()" type="button">
          {{ tagsShown ? '^' : 'v' }}
        </button>
        <div *ngIf="tagsShown">
          <label>Show tags (reload data to apply)</label>
          <div class="taglist">
            <div *ngFor="let l of taglist | keyvalue">
              <mat-checkbox [(ngModel)]="taglist[l.key]" [name]="l.key" labelPosition="after"
                (ngModelChange)="changeTaglist($event)">
                {{ l.key }}
              </mat-checkbox>
            </div>
          </div>
          <br>
          <button (click)="saveTags()" type="button">
            save
          </button>&nbsp;
          <button (click)="clearTags()" type="button">
            clear
          </button>
          <label style="position: relative; margin: 1em 0;">
            All tags:
            <button style="position: absolute; top: 0; right: 0;" (click)="toggleAllTags()" type="button">
              {{ allTagsShown ? '^' : 'v' }}
            </button>
          </label>
          <div *ngIf="allTagsShown" class="taglist">
            <div *ngFor="let l of ls_taglist | keyvalue">
              <mat-checkbox [(ngModel)]="ls_taglist[l.key]" [name]="l.key" labelPosition="after"
                (ngModelChange)="changeTaglist($event)" *ngIf="!(Object.hasOwn(taglist, l.key))">
                {{ l.key }}
              </mat-checkbox>
            </div>
            <div>&nbsp;</div>
          </div>
        </div>

      </fieldset> -->
    </form>
  </div>

  <div id="anyfooter">
    <div class="btncontainer">
      <!--  *ngIf="!annotationsShown"  *ngIf="!tableShown"-->
      <!-- <button (click)="toggleAnnotationsShown(); R.resize()">
        {{ annotationsShown ? "Hide" : "Show" }} Annotations
      </button> -->
      <button (click)="toggleTableShown(); R.resize()">{{ tableShown ? "Hide" : "Show" }} Data Stats</button>
    </div>

    <!-- <table *ngIf="annotationsShown" class="annos">
      <thead>
        <tr>
          <th title="sort per time up/down" (click)="sortAnno('time')">Time</th>
          <th title="sort per measurement up/down" (click)="sortAnno('measurement')">Measurement</th>
          <th title="sort per tags up/down" (click)="sortAnno('tags')">Tags</th>
          <th title="sort per field up/down" (click)="sortAnno('field')">Field</th>
          <th title="sort per note text up/down" (click)="sortAnno('note')">Text</th>
          <th>OP</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="currentClickedRow == -1">
          <td colspan="6">
            Click on Point to add new annotation.
          </td>
        </tr>
        <tr *ngIf="currentClickedRow > -1">
          <td>{{ data[currentClickedRow] && data[currentClickedRow][0] | date : 'dd.MM.yyyy HH:mm:ss' }}</td>
          <td>{{ raw_labels[currentClickedLabelIndex]["metric"] }}</td>
          <td>{{ currentClickedTags }}</td>
          <td>{{ raw_labels[currentClickedLabelIndex]["field"] }}</td>
          <td><input type="text" [(ngModel)]="newAnnoText" /></td>
          <td><button (click)="setAnnotation()">New</button></td>
        </tr>
        <tr *ngIf="inserting">
          <td colspan="6">Inserting...</td>
        </tr>
        <tr *ngFor="let a of annotationTable">
          <td (click)="highlightDygAnno(a.dygAnnoNr)" title="click me to highlight annotation" class="hov">{{ a.time |
            date :
            'dd.MM.yyyy HH:mm:ss' }}</td>
          <td>{{ a.measurement }}</td>
          <td>{{ a.tags }}</td>
          <td>{{ a.field }}</td>
          <td>{{ a.note }}</td>
          <td>{{ a.OP != "C" ? a.OP : ""}} <button
              (click)="delAnnotation(a.measurement, a.field, a.dygColumnNr, a.time)" title="Delete">X</button></td>
        </tr>
      </tbody>
    </table> -->
    <table *ngIf="tableShown">
      <thead>
        <tr>
          <th>Series</th>
          <th>latest value</th>
          <th>latest data</th>
          <th>average (all)</th>
          <th style="position: relative; padding-right: 2.2em">
            average (visible)
            <button (click)="toggleTableShown(); R.resize()" title="Hide Data Table">
              <mat-icon>cancel</mat-icon>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let label of short_labels; let i = index" [attr.data-index]="i">
          <td>{{ label }}</td>
          <td>
            {{
            latest_values[i]
            | number
            : '1.' + round_digits[i + 1] + '-' + round_digits[i + 1]
            }}
          </td>

          <!-- <td>{{ round(latest_values[i], raw_labels[i + 1]) }}</td> forces infinite updates? -->
          <td>
            {{ latest_dates[i] | date : 'shortDate' }},
            {{ latest_dates[i] | date : 'shortTime' }}
          </td>
          <td>
            {{
            allAverages[i]
            | number
            : '1.' +
            (round_digits[i + 1] + 1) +
            '-' +
            (round_digits[i + 1] + 1)
            }}
          </td>
          <td>
            {{
            visibleAverages[i]
            | number
            : '1.' +
            (round_digits[i + 1] + 1) +
            '-' +
            (round_digits[i + 1] + 1)
            }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>