<div class="graphapp">
  <div id="Tdygraph">
    <app-ut-dygraph
      queryString='temperature_degC'
      [fetchFromServerIntervalMS]="fetchFromServerIntervalMS"
      dataBaseQueryStepMS="1000"
      [dataSeriesLabels]="dataSeriesLabelsT"
      YLabel="Atmospheric Temperature (°C)"
      [style]="graphstyleT"
      [startTime]="startTime"
      #T
    ></app-ut-dygraph>
    Current Values:
    {{
      T['lastValue'] | number: '1.2-2'
    }}&#8239;°C, {{
      rH['lastValue'] | number: '1.1-1'
    }}&#8239;%
  </div>

  <div id="rHdygraph">
    <app-ut-dygraph
      queryString='humidity_rel_percent'
      [fetchFromServerIntervalMS]="fetchFromServerIntervalMS"
      dataBaseQueryStepMS="1000"
      [dataSeriesLabels]="dataSeriesLabelsH"
      YLabel="relative Humidity (%)"
      [style]="graphstyleH"
      [startTime]="startTime"
      #rH
    ></app-ut-dygraph>

  </div>

</div>
