* {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 1em;
}

.mydygraph {
}

.graphapp {
  /* background: blue; */
  padding: 5px;
}

form {
  max-width: 790px;
  margin-top: 65vh;
  /* padding-top: 3.5em; */
}
label {
  display: inline-block;
  color: #333;
  font-weight: 700;
}

.utAnnotation {
  width: 100%;
  background: blue;
}
button {
  margin: 0.5em;
  padding: 0.5em;
  cursor: pointer;
  border: 1px solid transparent;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
button:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

input[type='text'] {
  display: block;
  color: #555;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.5em;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  margin-bottom: 0.5em;
  width: 100%;
}
