@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

* {
    margin: 0;
    padding: 0;
  }

  h2 {
    margin: 1em;
  }

  .mydygraph {
    width: 790px;
    height: 400px;
    /* background: yellow; */
    text-align: center;
    /* border: 1px solid red; */
    border-radius: 10px;
  }

  .graphapp {
    /* background: blue; */
    padding: 5px;
  }

  form {
      width:790px;
  }
  label {
      display: inline-block;
  }

  .utAnnotation {
    width: 100%;
    background: blue;
}