@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

* {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 1em;
}

.mydygraph {

}

.graphapp {
  /* background: blue; */
  padding: 5px;
}

form {
  max-width: 790px;
  margin-top:65vh;
  padding-top: 3.5em;
}
label {
  display: inline-block;
}

.utAnnotation {
  width: 100%;
  background: blue;
}
button {
  margin: 0.5em;
  padding: 0.5em;
}
