<div class="graphapp">
  <div class="mydygraph">
    <app-ut-dygraph
      [queryString]="queryString"
      [dataBaseQueryStepMS]="dataBaseQueryStepMS"
      [style]="style"
      [serverHostName]="serverHostName"
      [serverPort]="serverPort"
      [endTime]="endTime"
      [startTime]="startTime"
      [fetchFromServerIntervalMS]="fetchFromServerIntervalMS"
      [runningAvgPoints]="runningAvgPoints"
      debug="true"
    ></app-ut-dygraph>
    <!-- [serverPath]="serverPath" -->
  </div>
  <form #graphForm="ngForm">
    <div>
      <label for="queryString">Query String</label> ({{ queryString }})
      <input
        type="text"
        id="queryString"
        [(ngModel)]="queryString"
        name="queryString"
      />
    </div>
    <div>
      <label for="serverHostName">Server</label> ({{ serverHostName }})
      <input
        type="text"
        id="serverHostName"
        [(ngModel)]="serverHostName"
        name="serverHostName"
      />
    </div>
    <div>
      <label for="serverPath">Server Path</label> ( "{{ serverPath }}" )
      <input
        type="text"
        id="serverPath"
        [(ngModel)]="serverPath"
        name="serverPath"
      />
    </div>
    <div>
      <label for="serverPort">Server Port</label> ( "{{ serverPort }}" )
      <input
        type="text"
        id="serverPort"
        [(ngModel)]="serverPort"
        name="serverPort"
      />
    </div>
    <div>
      <label for="dataBaseQueryStepMS"
        >DataBase Query Step Frequency (ms)</label
      >
      ({{ dataBaseQueryStepMS }})
      <input
        type="text"
        id="dataBaseQueryStepMS"
        [(ngModel)]="dataBaseQueryStepMS"
        name="dataBaseQueryStepMS"
        style="width:5em;"
      />
    </div>
    <div>
      <label for="fetchFromServerIntervalMS"
        >Frontend Update Frequency (ms)</label
      >
      ({{ fetchFromServerIntervalMS }})
      <input
        type="text"
        id="fetchFromServerIntervalMS"
        [(ngModel)]="fetchFromServerIntervalMS"
        name="fetchFromServerIntervalMS"
        style="width:5em;"
      />
    </div>

    <div>
      <label for="endTime">End Time (mostly now)</label> ({{ endTime }})
      <input
        type="text"
        id="endTime"
        [(ngModel)]="endTime"
        name="endTime"
        style="width:5em;"
      />
    </div>
    <div>
      <label for="startTime">Start Time</label> ({{ startTime }})
      <input
        type="text"
        id="startTime"
        [(ngModel)]="startTime"
        name="startTime"
        style="width:5em;"
      />
    </div>
    <div>
      <label for="runningAvgPoints">
        Running Average in Frontend (seconds)
      </label>
      ({{ runningAvgPoints }})
      <input
        type="text"
        id="runningAvgPoints"
        [(ngModel)]="runningAvgPoints"
        name="runningAvgPoints"
        style="width:5em;"
      />
    </div>

    <button type="submit" (click)="save()">Save</button>
    <button type="submit" (click)="reset()">
      Reset
    </button>
  </form>
</div>
