<div class="bar">
    <linear-gauge
      [attr.width]="width"
      [attr.height]="height"
      needle-width="10"
      needle-end="100"
      [attr.min-value]="min"
      [attr.max-value]="max"
      borders="false"
      value-box="false"
      units=""
      bar-begin-circle="0"
      tick-side="right"
      needle-side="left"
      number-side="left"
      title=""
      minor-ticks="0"
      bar-progress="false"
      bar-stroke-width="0"
      color-needle="blue"
      color-bar="transparent"
      color-plate="transparent"
      color-major-ticks="transparent"
      color-numbers="transparent"
      [attr.highlights]='highlights'
      [attr.value]="value"
    ></linear-gauge>
  </div>