* {
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
}

.utAnnotation {
  color: #373535 !important; /* !important needed to override inline set value by Dygraph */
  width: 30px !important;
  height: 20px !important;
  background: rgb(148, 231, 255);
  transform: translateX(7px);
  border: 0;

}

.graphapp .toplist {
    position: absolute;
    top:3em;
    left: 10px;
    width: 20em;
}

.graphapp .annotations {

  /* background:green; */
  position: absolute;
  left: 5px;
  top: 100vh;
  transform: translateY(-5em);
}

.mydygraph.lowergraph .utAnnotation {
 width: 1.5em !important;
  height: 1em !important;
}

h2 {
  margin:0.5em;
  text-align: center;
}

button.fullscreen {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: transparent;
  border: 1px solid gray;
  color: gray;
}