* {
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
}


.utAnnotation {
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif !important;
  color: white !important; /* #373535 !important needed to override inline set value by Dygraph */
  width: 30px !important;
  height: 20px !important;
  background:black;
  transform: translateX(8px);
  border: 0;
}

.utAnnotation::before {
  content: 'E';
  padding-right: 0.3ch;
}

.UT-Logo {
  position: absolute;
  left: 60px;
  top: 2vh;
  width: 12em;
}

.weihnachtsvorlesung-header {
  position: absolute;
  left: 22em;
  right: 5vw;
  top: 20px;
  height: 60px;
  display: block;
  text-align: center;
  margin: 0;
}
.graphapp .toplist {
    border: 1px solid black;
    position: absolute;
    top: 6em; /* 3em */
    bottom: 7vh;
    left: 10px;
    width: 20em;
    overflow: hidden;
}

.graphapp .annotations {

  /* background:green; */
  position: absolute;
  left: 5px;
  top: 100vh;
  transform: translateY(-3em);
}

.mydygraph.lowergraph .utAnnotation {
  width: 4ch !important;
  height: 1em !important;
  line-height: 1.1em;
}

h1 {
  /*margin:0.5em;*/
  margin: 0;
  margin-top: 1vh;
  text-align: center;
}

button.fullscreen {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: transparent;
  border: 1px solid gray;
  color: gray;
}