<div class="graphapp">
  <h4>Weihnachtsvorlesung Lautstärke</h4>

  <div class="mydygraph">
    <app-ut-dygraph
      [queryString]="queryString"
      dataBaseQueryStepMS="1000"
      [dataSeriesNames]="dataSeriesNames"
      graphHeight="300"
      graphWidth="765"
      [serverHostName]="serverHostName"
      [serverPath]="serverPath"
      [serverPort]="serverPort"
      startTime="15m"
      fetchFromServerIntervalMS="1000"
      debug="false"
      [annotations]="annotations1"
    ></app-ut-dygraph>
  </div>
  <div class="mydygraph">
    <app-ut-dygraph
      [queryString]="queryString"
      dataBaseQueryStepMS="10000"
      [dataSeriesNames]="dataSeriesNames"
      graphHeight="300"
      graphWidth="765"
      [serverHostName]="serverHostName"
      [serverPath]="serverPath"
      [serverPort]="serverPort"
      [endTime]="end2"
      [startTime]="start2"
      fetchFromServerIntervalMS="10000"
      debug="false"
      [annotations]="annotations2"
      [extraDyGraphConfig]="extraDyGraphConfig2"
    ></app-ut-dygraph>
  </div>
  <div class="annotations">
    <app-annotations-editor>
    </app-annotations-editor>
  </div>
</div>
