<div class="graphapp">
  <img
    src="/assets/cropped-UnravelTEC_Logo-komplett_freigestellt.png"
    class="UT-Logo"
  />

  <div class="weihnachtsvorlesung-header">
    <h1>Weihnachtsvorlesung Lautstärkemessung</h1>
  </div>

  <div class="mydygraph upperdygraph">
    <app-ut-dygraph
      [queryString]="queryString"
      dataBaseQueryStepMS="100"
      [dataSeriesLabels]="dataSeriesNames"
      [style]="style1"

      startTime="10m"
      fetchFromServerIntervalMS="100"
      debug="false"
      [extraDyGraphConfig]="extraDyGraphConfig1"
      [multiplicateFactors]="multiplicateFactors"
      [calculateRunningAvgFrom]="calculateRunningAvgFrom"
      (returnRunningAvg)="returnRunningAvg($event)"
      YLabel="dBa"
      XLabel="Zeit"
      runningAvgSeconds="0"
    ></app-ut-dygraph>
    <!-- [annotations]="annotations1" -->
  </div>
  <br />
  <div class="mydygraph lowergraph">
    <!-- [queryString]="'avg_over_time(' + queryString + '[1s])'" -->
    <!-- adc1_c1:avg_1s -->
    <!--
       [serverHostName]="serverHostName"
    [serverPath]="serverPath"
      [serverPort]="serverPort"
     -->
    <app-ut-dygraph
      [queryString]="'max_over_time(' + 'adc1_c1:avg_1s' + '[20s])'"
      dataBaseQueryStepMS="2000"
      [dataSeriesLabels]="dataSeriesNames"
      [style]="style2"
      [endTime]="end2"
      [startTime]="start2"
      fetchFromServerIntervalMS="2000"
      debug="false"
      [extraDyGraphConfig]="extraDyGraphConfig2"
      [multiplicateFactors]="multiplicateFactors"
      YLabel="dBa"
      XLabel="Zeit"
    ></app-ut-dygraph>
    <!-- [annotations]="annotations2" -->
  </div>
  <div class="annotations">
    <app-annotations-editor
      [annotationList]="annotations1"
      [annotationList2]="annotations2"
      (triggerChange)="changeTriggered($event)"
      [getRunningAverage]="runningAvgToDisplay"
      (requestRunningAverage)="requestRunningAverage($event)"
      (setNewCurrentExperiment)="setNewCurrentExperiment($event)"
      #editor
    >
    </app-annotations-editor>
  </div>
  <div class="toplist">
    <!-- [annotationList]="annotations1" -->
    <app-annotation-top-list
      [changeTrigger]="changeTrigger"
      [currentExperiment]="currentExperiment"
      [getRunningAverage]="runningAvgToDisplay"
    >
    </app-annotation-top-list>
  </div>
  <button class="fullscreen" (click)="toggleFullScreen()">Fullscreen</button>
</div>
