#toplist {
  border: 1px solid darkgray;
  padding: 1em 1em 0em 1em;
  height: 100%;
}

h2 {
  text-align: left;
  padding: 0;
  margin-left: 0
}

h2:first-child {
  margin-top:0;
}


li {
  border: rgb(106, 108, 255) 2px none;
  padding: 0.35em;
  margin: 0.3em;
  background:whitesmoke;
}

ol {
	counter-reset:li; /* Initiate a counter */
	margin-left:0; /* Remove the default left margin */
	padding-left:0; /* Remove the default left padding */
}
ol > li {
	position:relative; /* Create a positioning context */
	margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
	padding:4px 8px; /* Add some spacing around the content */
	list-style:none; /* Disable the normal item numbering */
	border-top:2px solid #666;
	background:#f6f6f6;
}
ol > li:before {
	content:counter(li); /* Use the counter as content */
	counter-increment:li; /* Increment the counter by 1 */
	/* Position and style the number */
	position:absolute;
	top:-2px;
	left:-2em;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	width:2em;
	/* Some space between the number and the content in browsers that support
	   generated content but not positioning it (Camino 2 is one example) */
	margin-right:8px;
	padding:4px;
	border-top:2px solid #666;
	color:#fff;
	background:#666;
	font-weight:bold;
	font-family:"Helvetica Neue", Arial, sans-serif;
	text-align:center;
}
li ol,
li ul {margin-top:6px;}
ol ol li:last-child {margin-bottom:0;}

ol > li:first-child { background: gold; }
ol > li:nth-child(2) { background: silver; }
ol > li:nth-child(3) { background: rgb(218, 164, 84); }

ol {
  margin-left: -.5em;
}

span.short-text {
  margin-left: 1em;
}

tr *:first-child {
  width: 4em;
  text-align: left;
}

/*th, td {
  border: 1px solid yellow;
}
*/

table {
  width: 100%;
}

/*table tr:first-child {
  height: 5ch;
}
*/
table tr:first-child {
  height: 6vh;
}

table tr td {
  vertical-align:top;
}

table td:first-child {
  width: 4ch;
  text-align: left;
}

th {
  text-align: left;
}

div li .dBValue {
  text-align: right;
  font-weight: bold;
  color: black;
}

