<div id="toplist">
  <h2>Aktuelles Experiment</h2>
  <div *ngIf="current.shortText != '.'">
    <table class="current_experiment">
      <tr class="entry">
        <th class="shortText">E{{ current.shortText }} <br /><span *ngIf="current.dBs > 0">{{ current.dBs * 100 | number: '1.1-1' }} dBs</span></th>
        <th class="text">{{ current.text }}</th>
      </tr>
      <tr>
        <td class="nr">Platz {{ current.nr }}</td>
        <td class="dBValue">
          Max: {{ current.maxDB | number: '1.2-2' }} dBa, t=
          {{ current.clapLength || 0 | number: '1.2-2' }} s
        </td>
      </tr>
    </table>
  </div>
  <h2>Aktuelle Reihung</h2>
  <ol>
    <li *ngFor="let entry of topList">
      <!--
        div class="entry" *ngIf="entry.maxDB > 0">
          <span class="shortText"> #{{ entry.shortText }}: </span>
          <span class="text"> {{ entry.text }} </span><br />
          <span class="dBValue">{{ entry.maxDB | number : "1.2-2"}} dBa</span>
        </div
      -->
      <table class="entry" *ngIf="entry.dBs > 0">
        <tr>
          <td class="shortText">E{{ entry.shortText }}</td>
          <td class="text">{{ entry.text }}</td>
        </tr>
        <tr>
          <td>{{ entry.dBs * 100 | number: '1.1-1' }} dBs</td>
          <td class="dBValue">{{ entry.maxDB | number: '1.2-2' }} dBa</td>
        </tr>
      </table>
    </li>
  </ol>
</div>
