#toplist {
  border: 1px solid darkgray;
  padding: 1em 1em 0em 1em;
  height: 100%;
}

h2 {
  text-align: center;
  padding: 0;
  padding-left: 0em;
  padding-top: .2em;
  padding-bottom: .2em;
  margin-left: 0em;
  margin-bottom: 0em;
  color: white;
  background: black;
  font-weight: 550;
}

h2:first-child {
  margin-top: 0;
}

h2.sequence {
  margin-top: 2.5em; /* Aktelle Reihung Abstand zu Aktuelles Experiment */
}

table {
  border-spacing: 0;
}

td.nr,
th.shortText {
  color: white;
  background: #666;
  font-weight: bold;
  padding: 0.3em;
  padding-left: 0.6em;
}

td.shortText {
  margin-left: 1em;
}

tr *:first-child {
  width: 4em;
  text-align: left;
}

/*th, td {
  border: 1px solid yellow;
}
*/

table {
  width: 100%;
}

/*table tr:first-child {
  height: 5ch;
}
*/
table tr:first-child {
  height: 6vh;
}

table tr td {
  vertical-align: top;
}

table.current_experiment td:first-child {
  width: 13ch;
  text-align: left;
}

th {
  text-align: left;
  vertical-align: top;
}


.values td.dBValue {
  width: 35%;
  text-align: left;
}

.values td.sValue {
  text-align: center;
}

.values td.dbsKey {
  width: 10%;
  text-align: right;
  font-weight: bold;
}

.values td.dbsValue {
  width: 32%;
  text-align: right;
  font-weight: bold;
}

/*
th.shortText {
	margin-left: 1em;
	padding-left: 0.3em;
}
*/
.shortText {
  font-weight: bold;
}
.current_experiment {
  margin: 0 0 0 0;
  padding-left: 0em;
  padding-right: 0.3em;
  padding-top: 0em;
  padding-bottom: 0em;
  background: whitesmoke;
  /*	border: 2px #666 solid;*/
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

.current_experiment td.dBValue {
  text-align: right;
}

.current_experiment th:first-child,
td:first-child {
  padding-right: 0;
}

.current_experiment th:nth-child(2),
td:nth-child(2) {
  padding-left: 0.3em;
}

li {
  border: rgb(106, 108, 255) 2px none;
  padding: 0.35em;
  margin: 0.3em;
  background: whitesmoke;
}

ol {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* ------- ol style from https://css-tricks.com/numbering-in-style/ ------- */

ol {
  counter-reset: li; /* Initiate a counter */
  margin-left: 0; /* Remove the default left margin */
  padding-left: 0; /* Remove the default left padding */
}
ol > li {
  position: relative; /* Create a positioning context */
  margin: 0 0 6px 2.5em; /* Give each list item a left margin to make room for the numbers */
  padding: 4px 8px; /* Add some spacing around the content */
  list-style: none; /* Disable the normal item numbering */
  border-top: 2px solid #666;
  background: #f6f6f6;
}
ol > li:before {
  content: counter(li); /* Use the counter as content */
  counter-increment: li; /* Increment the counter by 1 */
  /* Position and style the number */
  position: absolute;
  top: -2px;
  left: -2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 2em;
  /* Some space between the number and the content in browsers that support
	   generated content but not positioning it (Camino 2 is one example) */
  margin-right: 8px;
  padding: 4px;
  border-top: 2px solid #666;
  color: #fff;
  background: #666;
  font-weight: bold;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
}
li ol,
li ul {
  margin-top: 6px;
}
ol ol li:last-child {
  margin-bottom: 0;
}

/* ------- end ol style from https://css-tricks.com/numbering-in-style/ ------- */

ol > li:first-child {
  background: gold;
}
ol > li:nth-child(2) {
  background: silver;
}
ol > li:nth-child(3) {
  background: rgb(218, 164, 84);
}

ol {
  margin-left: -0.5em;
}
