#toplist {
  border: 1px solid green;
  padding: 1em;
}

li {
  border: rgb(106, 108, 255) 2px none;
  padding: 0.35em;
  margin: 0.3em;
  background: rgb(255, 217, 0);
}

tr *:first-child {
  width: 4em;
  text-align: left;
}

th, td {
  border: 1px solid yellow;
}