<div id="toplist">
  <h2>Aktuelles Experiment</h2>
  <div *ngIf="current.shortText != '.'">
    <table>
      <tr>
        <th class="nr">
            Platz {{ current.nr }}
        </th>
        <th class="dBValue">
            Max: {{ current.maxDB | number : "1.2-2"}} dBa
        </th>
      </tr>
      <tr class="entry">
        <td class="shortText">
            Exp. {{ current.shortText }}:
        </td>
        <td class="text">
            {{ current.text }}
        </td>
      </tr>
    </table>

  </div>
  <h2>Aktuelle Reihung</h2>
  <ol>
    <li *ngFor="let entry of topList">
      <!-- <div class="nr">Platz n</div> -->
      <div class="entry" *ngIf="entry.maxDB > 0">
        <span class="shortText"> #{{ entry.shortText }}: </span>
        <span class="text"> {{ entry.text }} </span><br />
        <span class="dBValue"> {{ entry.maxDB | number : "1.2-2"}} dBa </span>
      </div>
    </li>
  </ol>
</div>
