.relcontainer:visited {
  color: black;
}
.relcontainer {
  display: block;
  color: black;
  background-color: blue;
  position: relative;

  height: 100%;
  width: 100%;

  div.tilebox {
    position: absolute;
    top: 2%;
    left: 2%;
    height: 96%;
    width: 96%;
    background-color: rgba(255, 255, 255, 0.699);
    data,
    h2 {
      display: block;
      margin-left: 5%;
      text-align: center;
      font-size: 3.5vh;
      font-weight: bold;
      width: 90%;
      em {
        font-size: 60%;
        font-style: normal;
        font-weight: normal;
      }
    }
    .text {
      font-size: 2vh;
    }

    div.graphabs {
      position: absolute;
      top: 50%;
      bottom: 5%;
      right: 20%;
      left: 5%;
      //border: 2px solid rgba(53, 67, 255, 0.384);
    }
    div.graphrel {
      position: relative;
      height: 95%;
      width: 100%;
      margin: 0 0 3% 2.5%;
    }
    div.bar {
      position: absolute;
      top: 2%;
      bottom: 0;
      right: -5%;
    }
  }
}

.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: orange;
}
.green {
  background-color: green;
}
.gray {
  background-color: gray;
}

.xbar {
  color: gray;
  text-decoration: overline;
  font-size: 0.6em;
}
