<app-ut-dygraph
  queryString='{__name__=~"humidity_rel_percent|temperature_degC|gas_ohm|gas_ppm|gas_V|voltage_V|voltage_diff_V|pressure_hPa"}'
  fetchFromServerIntervalMS="1000"
  dataBaseQueryStepMS="1000"
  YLabel="* (*)"
  [labelBlackList]="labelBlackList"
  [extraDyGraphConfig]="extraDyGraphConfig"
  [style]="graphstyle"
  [startTime]="startTime"
  #graph
></app-ut-dygraph>

<table *ngIf="graph.lastValues && graph.lastValues.length" id="values">
    <tr>
      <th>id, channel</th>
      <th>Value (*)</th>
    </tr>
    <tr>
      <td>
        <div>
          <div *ngFor="let sensor of graph.columnLabels">{{ sensor.sensor }} {{ sensor.id }}: {{ sensor.__name__ }} {{ sensor.channel }} {{ sensor.gas }}  </div>
        </div>
      </td>
      <td>
        <div>
          <div *ngFor="let value of graph.lastValues">
            <span *ngIf="value < 10000000">{{
              value | number: '1.0-3'
            }}</span>
          </div>
        </div>
      </td>
    </tr>
  </table>