<a
  class="relcontainer {{
    graph.getAverage('10s') < 30
      ? 'red'
      : graph.getAverage('10s') < 35
      ? 'orange'
      : graph.getAverage('10s') < 40
      ? 'yellow'
      : graph.getAverage('10s') < 55
      ? 'green'
      : graph.getAverage('10s') < 60
      ? 'yellow'
      : graph.getAverage('10s') < 95
      ? 'orange'
      : 'red'
  }}"
  routerLink="/Apps/Humidity"
  routerLinkActive="active"
>
  <div class="tilebox">
    <h2>relative Humidity</h2>
    <data>
      {{ graph.getAverage('10s') | number: '1.0-0' }}&nbsp;<em class="unit"
        >%</em
      ></data
    >
    <div class="bar">
      <app-ut-bargauge-min
        [width]="width / 3.3"
        [height]="height"
        max="100"
        [value]="graph.getAverage('10s')"
        [highlights]="highlights"
      ></app-ut-bargauge-min>
    </div>
    <div class="graphabs">
      <div class="graphrel">
        <app-ut-dygraph
          queryString='max(humidity_rel_percent)'
          dataBaseQueryStepMS="1000"
          startTime="2m"
          minimal="true"
          [backGroundLevels]="backGroundLevels"
          #graph
        ></app-ut-dygraph>
      </div>
    </div>
  </div>
</a>
