<a
  class="relcontainer {{
    !value
      ? 'gray'
      : value < 30
      ? 'red'
      : value < 35
      ? 'orange'
      : value < 40
      ? 'yellow'
      : value < 55
      ? 'green'
      : value < 60
      ? 'yellow'
      : value < 95
      ? 'orange'
      : 'red'
  }}"
  routerLink="/Apps/Humidity"
  routerLinkActive="active"
>
  <div class="tilebox">
    <h2>relative Humidity</h2>
    <data
      ><!-- <span *ngIf="graph && graph['lastValues'].length > 2" class="xbar"
        >X</span
      >-->&nbsp;<span *ngIf="value === undefined">?</span
      >{{ value | number: '1.0-0' }}&nbsp;<em class="unit">%</em></data
    >
    <div class="bar" *ngIf="value !== undefined">
      <app-ut-bargauge-min
        [width]="width / 3.3"
        [height]="height"
        max="100"
        [value]="value"
        [highlights]="highlights"
      ></app-ut-bargauge-min>
    </div>
    <div class="graphabs">
      <div class="graphrel" *ngIf="value !== undefined">
        <app-ut-dygraph-in
          [displayedData]="dygData"
          [columnLabels]="dygLabels"
          [changeTrigger]="changeTrigger"
          minimal="true"
          startTime="3m"
          [backGroundLevels]="backGroundLevels"
          #graph
        >
        </app-ut-dygraph-in>
      </div>
    </div>
  </div>
</a>
