<a
  class="relcontainer {{
    pm10 < 50 ? 'green' : pm10 < 100 ? 'yellow' : pm10 < 200 ? 'orange' : 'red'
  }}"
  routerLink="/Apps/PM"
  routerLinkActive="active"
>
  <div class="tilebox">
    <h2 style="text-align: left; font-size: 0.7em;">
      Particulate Matter:
    </h2>
    <h2>
      {{ pm10 | number: '1.1-1' }}&#8239;<em class="unit"
        >µg&#8202;/&#8202;m³ <small>pm10</small></em
      >
    </h2>

    <div class="bar">
      <app-ut-bargauge-min
        [width]="width / 3.3"
        [height]="height"
        max="200"
        [value]="pm10"
        [highlights]="highlights"
      ></app-ut-bargauge-min>
    </div>
    <div class="graphabs">
      <div class="graphrel">
        <app-ut-dygraph-in
          [displayedData]="dygData"
          [columnLabels]="dygLabels"
          [changeTrigger]="changeTrigger"
          minimal="true"
          startTime="3m"
          [backGroundLevels]="backGroundLevels"
          #graph
        >
        </app-ut-dygraph-in>
      </div>
    </div>
    <table class="text" >
      <tr>
        <th colspan="5">Particle distribution (#&#8202;/&#8202;cm³)</th>
      </tr>
      <tr>
        <!-- <td *ngFor="let pn of particle_values | keyvalue">
          {{ pn.key }}µm: <br />
          {{ pn.value | number: '1.1-1' }}
        </td> not sorted-->
        <td>
          0.5&#8202;µm: <br />
          {{ particle_values['0.5'] | number: '1.0-1' }}
        </td>
        <td>
          1&#8202;µm: <br />
          {{ particle_values['1'] - particle_values['0.5'] | number: '1.0-1' }}
        </td>
        <td>
          2.5&#8202;µm: <br />
          {{ particle_values['2.5'] - particle_values['1'] | number: '1.0-1' }}
        </td>
        <td>
          4&#8202;µm: <br />
          {{ particle_values['4'] - particle_values['2.5'] | number: '1.0-1' }}
        </td>
        <td>
          10&#8202;µm: <br />
          {{ particle_values['10'] - particle_values['4'] | number: '1.0-1' }}
        </td>
      </tr>
    </table>
  </div>
</a>
