.relcontainer div.tilebox div.graphabs {
  top: 70%;
}

table {
  margin-left: 1vh;
  th {
    font-size: 90%;
  }
  td {
    text-align: center;
    font-size: 100%;
  }
}

h2.1 {
  text-align: left;
  margin: 0;
}
h2 {
  margin: 0.3em;
}
