<form id="annolist">
  <label
    >Annotations
    <select name="annotations" size="10">
      <option>#1: Blubb</option>
      <option>#2: Bla</option>
    </select>
  </label>
</form>

<form id="singleAnno">
  <div class="form-group"><label>Name: </label> <input type="text" /></div>
  <div class="form-group"><label>ID: </label> <input type="text" /></div>
  <div class="form-group"><label>Start: </label> <input type="text" /></div>
  <div class="form-group"><label>Duration: </label> <input type="text" /></div>
</form>

Blubb