<button class="toggle" (click)="toggleDisplay()">Manage</button>
<div name="toggle" *ngIf="expanded == false">
  <form id="annolist">
    <label
      >Annotations
      <select name="annotations" size="10" [disabled]="!allowSelection">
        <option
          *ngFor="let annotation of annotationList"
          (click)="setCurrent(annotation)"
          [selected]="annotation['shortText'] == currentAnnotation.shortText"
          >{{ annotation['shortText'] }}: {{ annotation['text'] }}</option
        >
      </select>
    </label>
  </form>

  <form id="singleAnno">
    <!-- tickHeight: {{ currentAnnotation['tickHeight'] }}, -->
    <!-- {{ currentAnnotation['tickWidth'] }} -->
    <!--
      <div class="form-group">
        <label for="currentAnnotation.series">series:</label>
        <input
          type="text"
          id="currentAnnotation.series"
          [(ngModel)]="currentAnnotation.series"
          name="currentAnnotation.series"
        />
      </div>
    -->
    <div class="form-group">
      <label for="text">Name:</label>
      <input
        type="text"
        id="currentAnnotation.text"
        [(ngModel)]="currentAnnotation.text"
        name="currentAnnotation.text"
      />
    </div>
    <div class="form-group">
      <label for="currentAnnotation.shortText">ID:</label>
      <input
        type="text"
        id="currentAnnotation.shortText"
        [(ngModel)]="currentAnnotation.shortText"
        name="currentAnnotation.shortText"
      />
    </div>
    <div class="form-group">
      <label for="x">Start:</label>
      <!--
        <input
          type="text"
          id="x"
          [(ngModel)]="currentAnnotation.x"
          name="currentAnnotation.x"
        />
      -->
      {{ currentAnnotation.x | date: 'H:mm:ss' }}
      <button (click)="set()" [disabled]="currentAnnotation.x">Set</button>
      <button (click)="show('x')" [disabled]="!currentAnnotation.x">
        Edit
      </button>
      <span *ngIf="edit.x">
        <button (click)="adjustTime('x', -600)">-10m</button>
        <button (click)="adjustTime('x', -60)">-1m</button>
        <button (click)="adjustTime('x', -10)">-10s</button>
        <button (click)="adjustTime('x', -1)">-1s</button>
        <button (click)="adjustTime('x', 1)">+1s</button>
        <button (click)="adjustTime('x', 10)">+10s</button>
        <button (click)="adjustTime('x', 60)">+1m</button>
        <button (click)="adjustTime('x', 600)">+10m</button>
      </span>
    </div>
    <div class="form-group">
      <label for="clapStart">Klatsch-Start:</label>
      {{ currentAnnotation.clapStart | date: 'H:mm:ss' }}
      <button
        (click)="start()"
        [disabled]="!currentAnnotation.x || currentAnnotation.clapStart"
      >
        Set
      </button>
      <button
        (click)="show('clapStart')"
        [disabled]="!currentAnnotation.clapStart"
      >
        Edit
      </button>
      <span *ngIf="edit.clapStart">
        <button (click)="adjustTime('clapStart', -600)">-10m</button>
        <button (click)="adjustTime('clapStart', -60)">-1m</button>
        <button (click)="adjustTime('clapStart', -10)">-10s</button>
        <button (click)="adjustTime('clapStart', -1)">-1s</button>
        <button (click)="adjustTime('clapStart', 1)">+1s</button>
        <button (click)="adjustTime('clapStart', 10)">+10s</button>
        <button (click)="adjustTime('clapStart', 60)">+1m</button>
        <button (click)="adjustTime('clapStart', 600)">+10m</button>
      </span>
    </div>
    <div class="form-group">
      <label for="clapStop">Klatsch-Stopp:</label>
      {{ currentAnnotation.clapStop | date: 'H:mm:ss' }}
      <button
        (click)="stop()"
        [disabled]="
          !currentAnnotation.clapStart ||
          !currentAnnotation.x ||
          currentAnnotation.clapStop
        "
      >
        Set
      </button>
      <button
        (click)="show('clapStop')"
        [disabled]="!currentAnnotation.clapStop"
      >
        Edit
      </button>
      <span *ngIf="edit.clapStop">
        <button (click)="adjustTime('clapStop', -600)">-10m</button>
        <button (click)="adjustTime('clapStop', -60)">-1m</button>
        <button (click)="adjustTime('clapStop', -10)">-10s</button>
        <button (click)="adjustTime('clapStop', -1)">-1s</button>
        <button (click)="adjustTime('clapStop', 1)">+1s</button>
        <button (click)="adjustTime('clapStop', 10)">+10s</button>
        <button (click)="adjustTime('clapStop', 60)">+1m</button>
        <button (click)="adjustTime('clapStop', 600)">+10m</button>
      </span>
    </div>
    <div class="form-group">
      <label>Clap duration: </label>
      <span>{{
        (currentAnnotation.clapLength ? currentAnnotation['clapLength'] : 0)
          | number: '1.1-1'
      }}</span
      >s
    </div>
    <div class="form-group">
      <label for="currentAnnotation.maxDB">Max. dB:</label>
      <input
        type="text"
        id="currentAnnotation.maxDB"
        [(ngModel)]="currentAnnotation.maxDB"
        name="currentAnnotation.maxDB"
      />
    </div>
    <div class="form-group">
      <label for="currentAnnotation.dBs">dBs:</label>
      <input
        type="text"
        id="currentAnnotation.dBs"
        [(ngModel)]="currentAnnotation.dBs"
        name="currentAnnotation.dBs"
      />
    </div>
    <div class="form-group">
      <!-- <button (click)="delete()">Delete</button> -->
      <button (click)="save()">Save</button>
      <button (click)="loadFromExt()">Load</button>
      <button (click)="deleteLocalStorage()">Delete Local Storage</button>
    </div>
    <!-- <div class="form-group">
      <label for="y.min">Y min (dBa): </label>
      <input
        type="text"
        id="y.min"
        [(ngModel)]="y.min"
        name="y.min"
      />
    </div>
    <div class="form-group">
      <label for="y.max">Y max (dBa): </label>
      <input
        type="text"
        id="y.max"
        [(ngModel)]="y.max"
        name="y.max"
      />
    </div> -->
  </form>
</div>
