#singleAnno {
    display: block;
    margin-left: 31em;
}

#singleAnno label {
  width: 8em;
  display: inline-block;
  text-align: right;
  padding-right: 0.5em;
}


#annolist {
    float: left;
    display: inline-block;
    width:30em;
}
#annolist label {
    vertical-align: top;
}

.toggle {
    border: 1px solid gray;
    color: grey;
    padding: 0.2em;
    background: white;
}