<button (click)="toggleDisplay()">Toggle an</button>
<div name="toggle" *ngIf="expanded == true">
  <form id="annolist">
    <label
      >Annotations
      <select name="annotations" size="10">
        <option
          *ngFor="let annotation of annotationList"
          (click)="setCurrent(annotation)"
          >{{ annotation['shortText'] }}: {{ annotation['text'] }}</option
        >
      </select>
    </label>
  </form>

  <form id="singleAnno">
    <div class="form-group">
      <label for="currentAnnotation.series">series:</label>
      <input
        type="text"
        id="currentAnnotation.series"
        [(ngModel)]="currentAnnotation.series"
        name="currentAnnotation.series"
      />
    </div>
    <div class="form-group">
      <label for="text">Name:</label>
      <input
        type="text"
        id="currentAnnotation.text"
        [(ngModel)]="currentAnnotation.text"
        name="currentAnnotation.text"
      />
    </div>
    <div class="form-group">
      <label for="currentAnnotation.shortText">ID:</label>
      <input
        type="text"
        id="currentAnnotation.shortText"
        [(ngModel)]="currentAnnotation.shortText"
        name="currentAnnotation.shortText"
      />
    </div>
    <div class="form-group">
      <label for="x">Start:</label>
      <!--
        <input
          type="text"
          id="x"
          [(ngModel)]="currentAnnotation.x"
          name="currentAnnotation.x"
        />
      -->
      {{ currentAnnotation.x | date: 'H:mm:ss' }}
      <button (click)="set('x')">Set</button>
      <button (click)="show('x')">Edit</button>
      <span *ngIf="edit.x">
        <button (click)="adjustTime('x', 1)">+1s</button>
        <button (click)="adjustTime('x', -1)">-1s</button>
        <button (click)="adjustTime('x', 10)">+10s</button>
        <button (click)="adjustTime('x', -10)">-10s</button>
        <button (click)="adjustTime('x', 60)">+1m</button>
        <button (click)="adjustTime('x', -60)">-1m</button>
        <button (click)="adjustTime('x', 600)">+10m</button>
        <button (click)="adjustTime('x', -600)">-10m</button>
      </span>
    </div>
    <div class="form-group">
      <label for="clapStart">Klatsch-Start:</label>
      {{ currentAnnotation.clapStart | date: 'H:mm:ss' }}
      <button (click)="set('clapStart')">Set</button>
      <button (click)="show('clapStart')">Edit</button>
      <span *ngIf="edit.clapStart">
        <button (click)="adjustTime('clapStart', 1)">+1s</button>
        <button (click)="adjustTime('clapStart', -1)">-1s</button>
        <button (click)="adjustTime('clapStart', 10)">+10s</button>
        <button (click)="adjustTime('clapStart', -10)">-10s</button>
        <button (click)="adjustTime('clapStart', 60)">+1m</button>
        <button (click)="adjustTime('clapStart', -60)">-1m</button>
        <button (click)="adjustTime('clapStart', 600)">+10m</button>
        <button (click)="adjustTime('clapStart', -600)">-10m</button>
      </span>
    </div>
    <div class="form-group">
        <label for="clapStop">Klatsch-Stopp:</label>
        {{ currentAnnotation.clapStop | date: 'H:mm:ss' }}
        <button (click)="set('clapStop')">Set</button>
        <button (click)="show('clapStop')">Edit</button>
        <span *ngIf="edit.clapStop">
          <button (click)="adjustTime('clapStop', 1)">+1s</button>
          <button (click)="adjustTime('clapStop', -1)">-1s</button>
          <button (click)="adjustTime('clapStop', 10)">+10s</button>
          <button (click)="adjustTime('clapStop', -10)">-10s</button>
          <button (click)="adjustTime('clapStop', 60)">+1m</button>
          <button (click)="adjustTime('clapStop', -60)">-1m</button>
          <button (click)="adjustTime('clapStop', 600)">+10m</button>
          <button (click)="adjustTime('clapStop', -600)">-10m</button>
        </span>
      </div>
    <div class="form-group">
      <label>Duration: </label> <input type="text" />
    </div>
    <div class="form-group">
      <label for="currentAnnotation.dBValue">dBValue:</label>
      <input
        type="text"
        id="currentAnnotation.dBValue"
        [(ngModel)]="currentAnnotation.dBValue"
        name="currentAnnotation.dBValue"
      />
    </div>
    <div class="form-group"><button (click)="delete()">Delete</button></div>
  </form>
</div>
