h2 {
  margin: 0.2em;
}
table {
  width: 100%;
  th {
    text-align: left;
  }
  td {
    text-align: right;
  }
}

#innerappbody {
  position: absolute;
  top: 2em;
  left: 0;
  width: 100%;
  bottom: 0;
  flex-direction: column;
  display: flex;
  //   border: 1px solid blue;
  padding: 0;
  margin: 0;
  table {
    height: 100%;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    th {
      text-align: center;
      padding-top: 1rem;
    }
    tr:first-child th {
      padding-top: 0;
    }
    td {
      position: relative;
      width: 33%;
      height: 50%;
      // border: 1px solid green;
    }
  }
}
