<table>
  <tr>
    <th><h2>Galion Testbed</h2></th>
    <td>
      <label for="options">Display Options</label
      ><input
        type="checkbox"
        id="options"
        name="options"
        [(ngModel)]="options"
      />
    </td>
  </tr>
</table>

<div id="innerappbody">
  <table>
    <tr>
      <th>T, rH</th>
      <th>SPS30 Particulate Matter</th>
      <th>SGPnx VOC&#8202;/&#8202;eCO₂</th>
    </tr>
    <tr>
      <td>
        <app-ut-dygraph
          queryString='{__name__=~"temperature_degC",sensor=~"MAX6675|SCD30|DS18B20|BME280"}'
          [fetchFromServerIntervalMS]="step"
          [dataBaseQueryStepMS]="step"
          [dataSeriesLabels]="dataSeriesLabels"
          [labelBlackList]="labelBlackList"
          YLabel="Temperature (°C)"
          [style]="graphstyle_p"
          [startTime]="startTime"
          [extraDyGraphConfig]="extraDyGraphConfig"
          [options]="options"
          #hpa
        ></app-ut-dygraph>

        <app-ut-dygraph
          queryString='{__name__="humidity_rel_percent"}'
          [fetchFromServerIntervalMS]="step"
          [dataBaseQueryStepMS]="step"
          [dataSeriesLabels]="dataSeriesLabels"
          [labelBlackList]="labelBlackListHT"
          YLabel="relative Humidity (%)"
          [style]="graphstyle_HT"
          [startTime]="startTime"
          [extraDyGraphConfig]="extraDyGraphConfig"
          [options]="options"
          #ht
        ></app-ut-dygraph>
      </td>
      <td>
        <app-ut-dygraph
          queryString='particulate_matter_ugpm3'
          [fetchFromServerIntervalMS]="step"
          [dataBaseQueryStepMS]="step"
          [dataSeriesLabels]="dataSeriesLabels"
          [labelBlackList]="labelBlackList"
          YLabel="Particulate Matter (µg&#8202;/&#8202;m³)"
          [style]="graphstyle_scd30"
          [startTime]="startTime"
          [extraDyGraphConfig]="extraDyGraphConfig"
          [options]="options"
          #scd30
        ></app-ut-dygraph>
      </td>
      <td>
        <app-ut-dygraph
          queryString='{__name__=~"sgp30_raw|gas_ohm|gas_V",sensor=~"SGP30|SGP4X|SGP4X_2"}'
          [fetchFromServerIntervalMS]="step"
          [dataBaseQueryStepMS]="step"
          [dataSeriesLabels]="dataSeriesLabels"
          [labelBlackList]="labelBlackList"
          YLabel="raw values"
          [style]="graphstyle_sgp30"
          [startTime]="startTime"
          [extraDyGraphConfig]="extraDyGraphConfig"
          [options]="options"
          #sgp30
        ></app-ut-dygraph>
      </td>
    </tr>
    <tr>
      <th>MiCS 6814</th>
      <th>Alphasense</th>
      <th>Analogue sensors</th>
    </tr>
    <tr>
      <td>
        <app-ut-dygraph
          queryString='{__name__=~"gas_ohm|gas_V",sensor="MiCS6814"}'
          [fetchFromServerIntervalMS]="step"
          [dataBaseQueryStepMS]="step"
          [dataSeriesLabels]="dataSeriesLabels"
          [labelBlackList]="labelBlackList"
          YLabel="Value (&#8486;, V)"
          [style]="graphstyle_dgs"
          [startTime]="startTime"
          [extraDyGraphConfig]="extraDyGraphConfig"
          [options]="options"

          #dgs
        ></app-ut-dygraph>
      </td>
      <td>
        <app-ut-dygraph
          queryString='gas_V{sensor=~"p-type|PID|NO2-A43F|NO-A4"}'
          [fetchFromServerIntervalMS]="step"
          [dataBaseQueryStepMS]="step"
          [dataSeriesLabels]="dataSeriesLabels"
          [labelBlackList]="labelBlackList"
          YLabel="Voltage (V)"
          [style]="graphstyle_adc1"
          [startTime]="startTime"
          [extraDyGraphConfig]="extraDyGraphConfig"
          [options]="options"
          #adc1
        ></app-ut-dygraph>
      </td>
      <td>
        <app-ut-dygraph
          queryString='gas_V{sensor=~"TGS5141|SGAS|TGS8100"}'
          [fetchFromServerIntervalMS]="step"
          [dataBaseQueryStepMS]="step"
          [dataSeriesLabels]="dataSeriesLabels"
          [labelBlackList]="labelBlackList"
          YLabel="Voltage (V)"
          [style]="graphstyle_adc2"
          [startTime]="startTime"
          [extraDyGraphConfig]="extraDyGraphConfig"
          [options]="options"
          #adc2
        ></app-ut-dygraph>
      </td>
    </tr>
  </table>
</div>
