<div class="block">
  <h2>Magnetic Valves</h2>
  <!-- State: {{valve_state}} {{valve_reason}} -->
  <table class="messages">
    <tr>
      <td class="{{ valve_state == 'ventilation' ? 'on' : 'off'}}">
        Venting
      </td>
      <td>
        <button (click)="setValves('ventilation')">Set</button>
      </td>
    </tr>
    <tr>
      <td class="{{ valve_state == 'measure' ? 'on' : 'off'}}">
        Measure
      </td>
      <td>
        <button (click)="setValves('measure')">Set</button>
      </td>
    </tr>
    <tr>
      <td class="{{ valve_state == 'off' ? 'on' : 'off'}}">
        Off
      </td>
      <td>
        <button (click)="setValves('off')">Set</button>
      </td>
    </tr>
    <tr>
      <td class="{{ valve_state == 'flush' ? 'on' : 'off'}}">
        Flush
      </td>
      <td>
        <button (click)="setValves('flush')">Set</button>
      </td>
    </tr>
  </table>
</div>

<form class="block" (submit)="setFlush()">
  <h2>Humidity Path "flush"</h2>
  <table class="messages">
    <tr>
      <th></th>
      <th>Flow</th>
      <th>Humidity</th>
    </tr>
    <tr>
      <td>Configured</td>
      <td style="min-width: 5em; text-align: right;">
        Dry: {{ flow_flush_dry_target | number : '1.0-2' }} slm<br>
        Wet: {{ flow_flush_wet_target | number : '1.0-2' }} slm<br>
        Sum: {{ flow_flush_target | number : '1.0-2' }} slm
      </td>
      <td style="min-width: 5em; text-align: right;">{{ hum_flush_target | number : '1.0-2' }} %</td>
    </tr>
    <tr>
      <td>Current</td>
      <td style="min-width: 5em; text-align: right;">
        Dry: {{ flow_flush_dry_real | number : '1.0-2' }} slm<br>
        Wet: {{ flow_flush_wet_real | number : '1.0-2' }} slm<br>
        Sum: {{ flow_flush_dry_real + flow_flush_wet_real | number : '1.0-2' }} slm</td>
      <td style="min-width: 5em; text-align: right;">{{ hum_flush_real | number : '1.0-2' }} %</td>
    </tr>
    <tr>
      <td>
        New
      </td>
      <td>
        <input type="number" style="width: 5em;" [(ngModel)]="flow_flush_new" id="flow_flush_new"
          name="flow_flush_new" /> slm
      </td>
      <td>
        <input type="number" style="width: 5em;" [(ngModel)]="hum_flush_new" id="hum_flush_new" name="hum_flush_new" />
        %
      </td>
    </tr>
    <tr>
      <td colspan="3"><button type="submit">Set</button></td>
    </tr>
  </table>
  <h3>Services:
  </h3>
  <table class="messages">
    <tr>
      <th style="width: 10em;">
        <button type="submit" (click)="actionPath('flush', 'start')" title="Start">
          <mat-icon>play_circle_outline</mat-icon>
        </button>&nbsp;
        <button type="submit" (click)="actionPath('flush', 'stop')" title="Stop">
          <mat-icon>pause_circle_outline</mat-icon>
        </button>
      </th>
      <th style="width: 4em;">Status</th>
      <th></th>
    </tr>
    <tr>
      <td> rhcontrol-flush </td>
      <td>
        {{ services && services['rhcontrol-flush'] !== undefined ?
        (services['rhcontrol-flush'] == true ? "Running" : "Off")
        : '??' }}
      </td>
      <td>
        <button type="submit" (click)="sendCmd('rhcontrol-flush', 'start')" title="Start">
          <mat-icon>play_circle_outline</mat-icon>
        </button>&nbsp;
        <button type="submit" (click)="sendCmd('rhcontrol-flush', 'stop')" title="Stop">
          <mat-icon>pause_circle_outline</mat-icon>
        </button>
      </td>
    </tr>
    <tr>
      <td> sfc6000-flush-dryair </td>
      <td>
        {{ services && services['sfc6000-flush-dryair'] !== undefined ?
        ( services['sfc6000-flush-dryair'] == true ? "Running" : "Off")
        : '??' }}
      </td>
      <td>
        <button type="submit" (click)="sendCmd('sfc6000-flush-dryair', 'start')" title="Start">
          <mat-icon>play_circle_outline</mat-icon>
        </button>&nbsp;
        <button type="submit" (click)="sendCmd('sfc6000-flush-dryair', 'stop')" title="Stop">
          <mat-icon>pause_circle_outline</mat-icon>
        </button>
      </td>
    </tr>
    <tr>
      <td>sfc6000-flush-wetair</td>
      <td>
        {{ services && services['sfc6000-flush-wetair'] !== undefined ?
        ( services['sfc6000-flush-wetair'] == true ? "Running" : "Off")
        : '??' }}
      </td>
      <td>
        <button type="submit" (click)="sendCmd('sfc6000-flush-wetair', 'start')" title="Start">
          <mat-icon>play_circle_outline</mat-icon>
        </button>&nbsp;
        <button type="submit" (click)="sendCmd('sfc6000-flush-wetair', 'stop')" title="Stop">
          <mat-icon>pause_circle_outline</mat-icon>
        </button>
      </td>
    </tr>
  </table>



</form>
<form (submit)="setEvap()" class="block">
  <h2>Humidity Path "evap"</h2>
  <table class="messages">
    <tr>
      <th></th>
      <th>Flow</th>
      <th>Humidity</th>
    </tr>
    <tr>
      <td>Configured</td>
      <td style="min-width: 5em; text-align: right;">
        Dry: {{ flow_evap_dry_target | number : '1.0-2' }} slm<br>
        Wet: {{ flow_evap_wet_target | number : '1.0-2' }} slm<br>
        Sum: {{ flow_evap_target | number : '1.0-2' }} slm
      </td>
      <td style="min-width: 5em; text-align: right;">{{ hum_evap_target | number : '1.0-2' }} %</td>
    </tr>
    <tr>
      <td>Current</td>
      <td style="min-width: 5em; text-align: right;">
        Dry: {{ flow_evap_dry_real | number : '1.0-2' }} slm<br>
        Wet: {{ flow_evap_wet_real | number : '1.0-2' }} slm<br>
        Sum: {{ flow_evap_dry_real + flow_evap_wet_real | number : '1.0-2' }} slm
      </td>
      <td style="min-width: 5em; text-align: right;">{{ hum_evap_real | number : '1.0-2' }} %</td>
    </tr>
    <tr>
      <td>
        New
      </td>
      <td>
        <input type="number" style="width: 5em;" [(ngModel)]="flow_evap_new" id="flow_evap_new" name="flow_evap_new" />
        slm
      </td>
      <td>
        <input type="number" style="width: 5em;" [(ngModel)]="hum_evap_new" id="hum_evap_new" name="hum_evap_new" /> %
      </td>
    </tr>
    <tr>
      <td colspan="3"><button type="submit">Set</button></td>
    </tr>
  </table>
  <h3>Services:
  </h3>
  <table class="messages">
    <tr>
      <th style="width: 10em;">
        <button type="submit" (click)="actionPath('evap', 'start')" title="Start">
          <mat-icon>play_circle_outline</mat-icon>
        </button>&nbsp;
        <button type="submit" (click)="actionPath('evap', 'stop')" title="Stop">
          <mat-icon>pause_circle_outline</mat-icon>
        </button>
      </th>
      <th style="width: 4em;">Status</th>
      <th></th>
    </tr>
    <tr>
      <td> rhcontrol-evap </td>
      <td>
        {{ services && services['rhcontrol-evap'] !== undefined ?
        (services['rhcontrol-evap'] == true ? "Running" : "Off")
        : '??' }}
      </td>
      <td>
        <button type="submit" (click)="sendCmd('rhcontrol-evap', 'start')" title="Start">
          <mat-icon>play_circle_outline</mat-icon>
        </button>&nbsp;
        <button type="submit" (click)="sendCmd('rhcontrol-evap', 'stop')" title="Stop">
          <mat-icon>pause_circle_outline</mat-icon>
        </button>
      </td>
    </tr>
    <tr>
      <td> sfc6000-evap-dryair </td>
      <td>
        {{ services && services['sfc6000-evap-dryair'] !== undefined ?
        ( services['sfc6000-evap-dryair'] == true ? "Running" : "Off")
        : '??' }}
      </td>
      <td>
        <button type="submit" (click)="sendCmd('sfc6000-evap-dryair', 'start')" title="Start">
          <mat-icon>play_circle_outline</mat-icon>
        </button>&nbsp;
        <button type="submit" (click)="sendCmd('sfc6000-evap-dryair', 'stop')" title="Stop">
          <mat-icon>pause_circle_outline</mat-icon>
        </button>
      </td>
    </tr>
    <tr>
      <td>sfc6000-evap-wetair</td>
      <td>
        {{ services && services['sfc6000-evap-wetair'] !== undefined ?
        ( services['sfc6000-evap-wetair'] == true ? "Running" : "Off")
        : '??' }}
      </td>
      <td>
        <button type="submit" (click)="sendCmd('sfc6000-evap-wetair', 'start')" title="Start">
          <mat-icon>play_circle_outline</mat-icon>
        </button>&nbsp;
        <button type="submit" (click)="sendCmd('sfc6000-evap-wetair', 'stop')" title="Stop">
          <mat-icon>pause_circle_outline</mat-icon>
        </button>
      </td>
    </tr>
  </table>
</form>

<div class="block">
  <h2>
    Heater
  </h2>
  <table class="messages">
    <tr>
      <td style="min-width: 13em;">Configured target: {{ temp_conf | number : '1.0-2' }} °C</td>
      <td style="min-width: 9em;">Current {{ temp_real | number : '1.0-2' }} °C</td>
    </tr>
    <tr>
      <td>
        New target: <input type="number" style="width: 5em;" [(ngModel)]="temp_new" /> °C
      </td>
      <td>
        <button (click)="setTemp()">Set</button>
      </td>
    </tr>
  </table>
</div>

<div class="block">
  <h2>
    Air Source
  </h2>
  <p>
    Pressure xx mbar
  </p>
  <h3>Pump</h3>
  <p>
    Status: {{ services && services['gpiofancontrol'] !== undefined ? (services['gpiofancontrol'] == true ? "Running" :
    "Off") : '??'
    }}. {{
    fanspeed}} rpm.
  </p>

  <p>
    <button type="submit" (click)="startService('gpiofancontrol')" title="Start">
      <mat-icon>play_circle_outline</mat-icon>
    </button>&nbsp;
    <button type="submit" (click)="stopService('gpiofancontrol')" title="Stop">
      <mat-icon>pause_circle_outline</mat-icon>
    </button>
  </p>

</div>



<div style="position: absolute; bottom: 0.5em; right: 0.5em;">
  <button (click)="toggleDebug()">MQTT</button>
</div>

<div *ngIf="debugmqtt == true">
  <hr style="clear: both">

  <div>
    MQTT:
    <span *ngIf="status === 'init'">Initializing...</span>
    <span *ngIf="status === 'connecting'">Connecting...</span>
    <span *ngIf="status === 'connected'">Connected.</span>
    <span *ngIf="status === 'failed'">Connection failed.</span>
    <span *ngIf="status === 'lost'">Connection lost.</span>
    ({{ disconnects }})
  </div>


  <button (click)="stop()">
    Stop
  </button>

  <div>
    <h3>Latest MQTT messages:</h3>
    <table class="messages">
      <tr>
        <th>Time</th>
        <th>Topic</th>
        <th>Qos</th>
        <th>Retained</th>
        <!-- <th>destinationName</th> -->
        <th>Payload</th>
      </tr>
      <tr *ngFor="let message of mqttMessages">
        <td>{{ message.date }}</td>
        <td>{{ message.topic }}</td>
        <td>{{ message.qos }}</td>
        <td>{{ message.retained }}</td>
        <!-- <td>{{ message.destinationName }}</td> -->
        <td>{{ message.payload }}</td>
      </tr>
    </table>
  </div>

  <div>
    <h3>Retained MQTT messages:</h3>
    <table class="messages">
      <tr>
        <th>Time</th>
        <th>Topic</th>
        <th>Qos</th>
        <!-- <th>destinationName</th> -->
        <th>Payload</th>
      </tr>
      <tr *ngFor="let message of retainedMqttMessages">
        <td>{{ message.date }}</td>
        <td>{{ message.topic }}</td>
        <td>{{ message.qos }}</td>
        <!-- <td>{{ message.destinationName }}</td> -->
        <td>{{ message.payload }}</td>
      </tr>
    </table>
  </div>

  <!-- <div class="testgraph">
  <app-ut-dygraph-in
    [style]="graphstyle"
    [data]="dygData"
    [columnLabels]="dygLabels"
    [changeTrigger]="changeTrigger"
    #graph
  >
  </app-ut-dygraph-in>
</div> -->
  <!--
<h3>Data:</h3>
<table class="outer">
  <tr *ngFor="let sensor of sensorData | keyvalue">
    <th>
      {{ sensor.key }}
    </th>
    <td>
      <table>
        <tr *ngFor="let metric of sensor.value | keyvalue">
          <th>
            {{ metric.key }}
          </th>
          <td>
            <table>
              <tr *ngFor="let dataset of metric.value | keyvalue">
                <th>
                  {{ dataset.key }}
                </th>
                <td>
                  {{ dataset.value.value | number: '1.0-6' }}
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table> -->

</div>