
<div class="block">
  <h2>Digital Board Power:&nbsp;</h2>
  <!-- State: {{valve_state}} {{valve_reason}} -->
  <table class="messages">
    <!-- <tr *ngFor="let board of gpios | keyvalue">
      <td class="{{ board.value['MICS_HEATER'] == true ? 'on' : 'off'}}">
        MICS6814 Heater
      </td>
      <td>
        <button (click)="setGPIO(board, 'MICS_HEATER', true)">On</button><br>
        <button (click)="setGPIO(board, 'MICS_HEATER', false)">Off</button>
      </td>
    </tr> -->
    <tr>
      <td class="{{ gpios['DIGITBOARD']['MICS_HEATER'] }}">
        MICS6814 Heater
      </td>
      <td>
        <button (click)="setGPIO('DIGITBOARD', 'MICS_HEATER', true)">On</button><br>
        <button (click)="setGPIO('DIGITBOARD', 'MICS_HEATER', false)">Off</button>
      </td>
    </tr>
    <tr>
      <td class="{{ gpios['DIGITBOARD']['3V3_SUPPLY'] }}">
        3V3 switched power supply
      </td>
      <td>
        <button (click)="setGPIO('DIGITBOARD', '3V3_SUPPLY', true)">On</button><br>
        <button (click)="setGPIO('DIGITBOARD', '3V3_SUPPLY', false)">Off</button>
      </td>
    </tr>
    <tr>
      <td class="{{ gpios['DIGITBOARD']['5V_SUPPLY'] }}">
        5V switched power supply
      </td>
      <td>
        <button (click)="setGPIO('DIGITBOARD', '5V_SUPPLY', true)">On</button><br>
        <button (click)="setGPIO('DIGITBOARD', '5V_SUPPLY', false)">Off</button>
      </td>
    </tr>
    <tr>
      <td class="{{ gpios['DIGITBOARD']['SCD30_SUPPLY'] }}">
        SCD30 CO2 sensor switched power supply
      </td>
      <td>
        <button (click)="setGPIO('DIGITBOARD', 'SCD30_SUPPLY', true)">On</button><br>
        <button (click)="setGPIO('DIGITBOARD', 'SCD30_SUPPLY', false)">Off</button>
      </td>
    </tr>
  </table>
</div>

<!-- <div class="block">
  <h2>Mass Flow Controller</h2>
  <table class="messages">
    <tr>
      <td style="min-width: 15em;">Configured flow: {{ flow_conf | number : '1.0-2' }} sccm</td>
      <td style="min-width: 15em;">Current Flow {{ flow_real | number : '1.0-2' }} sccm</td>
    </tr>
    <tr>
      <td>
        New Flow: <input type="number" style="width: 5em;" [(ngModel)]="flow_new" /> sccm
      </td>
      <td>
        <button (click)="setFlow()">Set</button>
      </td>
    </tr>
  </table>
</div>

<div class="block">
  <h2>
    Heater
  </h2>
  <table class="messages">
    <tr>
      <td style="min-width: 20em;">Configured target temperature: {{ temp_conf | number : '1.0-2' }} °C</td>
      <td style="min-width: 15em;">Current temperature {{ temp_real | number : '1.0-2' }} °C</td>
    </tr>
    <tr>
      <td>
        New target temperature: <input type="number" style="width: 5em;" [(ngModel)]="temp_new" /> °C
      </td>
      <td>
        <button (click)="setTemp()">Set</button>
      </td>
    </tr>
  </table>
</div>

<div class="block">
  <h2>
    Cooling Fan
  </h2>
  <p>
    Status: {{ services && services[0] && services[0]['running'] ? "Running" : "Off" }}. {{ fanspeed}} rpm.
  </p>
  <p>
    <button type="submit" (click)="startService('gpiofancontrol')" title="Start">
      <mat-icon>play_circle_outline</mat-icon>
    </button>
    <button type="submit" (click)="stopService('gpiofancontrol')" title="Stop">
      <mat-icon>pause_circle_outline</mat-icon>
    </button>
  </p>

</div> -->



<div style="position: absolute; bottom: 0.5em; right: 0.5em;">
  <button (click)="toggleDebug()">NQTT</button>
</div>

<div *ngIf="debugmqtt == true">
  <hr style="clear: both">

  <div>
    MQTT:
    <span *ngIf="status === 'init'">Initializing...</span>
    <span *ngIf="status === 'connecting'">Connecting...</span>
    <span *ngIf="status === 'connected'">Connected.</span>
    <span *ngIf="status === 'failed'">Connection failed.</span>
    <span *ngIf="status === 'lost'">Connection lost.</span>
    ({{ disconnects }})
  </div>


  <button (click)="stop()">
    Stop
  </button>

  <div>
    <h3>Latest MQTT messages:</h3>
    <table class="messages">
      <tr>
        <th>Time</th>
        <th>Topic</th>
        <th>Qos</th>
        <th>Retained</th>
        <!-- <th>destinationName</th> -->
        <th>Payload</th>
      </tr>
      <tr *ngFor="let message of mqttMessages">
        <td>{{ message.date }}</td>
        <td>{{ message.topic }}</td>
        <td>{{ message.qos }}</td>
        <td>{{ message.retained }}</td>
        <!-- <td>{{ message.destinationName }}</td> -->
        <td>{{ message.payload }}</td>
      </tr>
    </table>
  </div>

  <div>
    <h3>Retained MQTT messages:</h3>
    <table class="messages">
      <tr>
        <th>Time</th>
        <th>Topic</th>
        <th>Qos</th>
        <!-- <th>destinationName</th> -->
        <th>Payload</th>
      </tr>
      <tr *ngFor="let message of retainedMqttMessages">
        <td>{{ message.date }}</td>
        <td>{{ message.topic }}</td>
        <td>{{ message.qos }}</td>
        <!-- <td>{{ message.destinationName }}</td> -->
        <td>{{ message.payload }}</td>
      </tr>
    </table>
  </div>

  <!-- <div class="testgraph">
  <app-ut-dygraph-in
    [style]="graphstyle"
    [data]="dygData"
    [columnLabels]="dygLabels"
    [changeTrigger]="changeTrigger"
    #graph
  >
  </app-ut-dygraph-in>
</div> -->
  <!--
<h3>Data:</h3>
<table class="outer">
  <tr *ngFor="let sensor of sensorData | keyvalue">
    <th>
      {{ sensor.key }}
    </th>
    <td>
      <table>
        <tr *ngFor="let metric of sensor.value | keyvalue">
          <th>
            {{ metric.key }}
          </th>
          <td>
            <table>
              <tr *ngFor="let dataset of metric.value | keyvalue">
                <th>
                  {{ dataset.key }}
                </th>
                <td>
                  {{ dataset.value.value | number: '1.0-6' }}
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table> -->

</div>