<div class="evap-inner" style="position: relative;">

  <div class="block" *ngFor="let board of gpios | keyvalue">
    <h2>{{board.key}} Power:&nbsp;</h2>
    <table class="messages">
      <tr *ngFor="let pin of board.value | keyvalue">
        <td class="{{ gpios[board.key][pin.key] }}">
          {{ pinNames[pin.key] ? pinNames[pin.key] : pin.key}}
        </td>
        <td>
          <button (click)="setGPIO(board.key, pin.key, true)">On</button><br>
          <button (click)="setGPIO(board.key, pin.key, false)">Off</button>
        </td>
        <td>
          <button (click)="setGPIO(board.key, pin.key, gpios[board.key][pin.key] == 'off')">Toggle</button>
        </td>
      </tr>
    </table>
  </div>

  <form class="block" (submit)="setDAC()" style="clear: both;">
    <table>
      <tr>
        <td>
          <h2>DAC Status:</h2>
        </td>
        <td>
          &nbsp;&nbsp;&nbsp;<button type="submit" class="animateOnClick {{ animateOnClickShow ? 'animateOnClickShow' : '' }}">Set</button>
        </td>
        <td>
          DAC steps:
          <ul style="float: right;">
            <li *ngFor="let step of DACstep | keyvalue">{{ step.key }} : {{ step.value }}</li>
          </ul>
        </td>
      </tr>
    </table>


    <table class="messages" *ngFor="let board of DACstatus | keyvalue" style="float: left;">
      <tr>
        <th colspan="2">{{ board.key }}</th>
      </tr>
      <tr *ngFor="let DACname of board.value | keyvalue">
        <th>{{ DACname.key }}</th>
        <td>
          <table>
            <tr *ngFor="let channel of DACname.value | keyvalue">
              <td>
                {{ channelNames[channel.key] }}
              </td>
              <td>{{ channel.value >= 0 ? channel.value : '?' }}&#8239;V</td>
              <td>/&nbsp;{{ DACstatusUserUnit[board.key][DACname.key][channel.key] >= 0 ?
                DACstatusUserUnit[board.key][DACname.key][channel.key] : '?' }}&#8239;{{ userUnits[DACname.key] }}
              </td>
              <td>
                <input type="number" style="width: 5em;" step="0.0005" min="0" max="4.8"
                  class="animateOnClick {{ (animateOnClickShow && DACnewValuesSent[board.key][DACname.key][channel.key] >= 0) ? 'animateOnClickShow' : '' }}"
                  [(ngModel)]="DACnewValues[board.key][DACname.key][channel.key]"
                  id="id{{board.key}}{{DACname.key}}{{channel.key}}"
                  name="name{{board.key}}{{DACname.key}}{{channel.key}}"
                  (ngModelChange)="calcUserUnit(board.key,DACname.key,channel.key)" />
              </td>
              <td>V&nbsp;/&nbsp;{{ DACnewValuesUserUnit[board.key][DACname.key][channel.key] >= 0 ?
                DACnewValuesUserUnit[board.key][DACname.key][channel.key] : '?' }}&#8239;{{ userUnits[DACname.key] }}
              </td>
              <!-- <td>
                <div class="animateOnClick">
                  {{ DACnewValuesSent[board.key][DACname.key][channel.key] | number}}
                </div>
              </td> -->
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </form>

  <!-- <div class="block">
  <h2>Mass Flow Controller</h2>
  <table class="messages">
    <tr>
      <td style="min-width: 15em;">Configured flow: {{ flow_conf | number : '1.0-2' }} sccm</td>
      <td style="min-width: 15em;">Current Flow {{ flow_real | number : '1.0-2' }} sccm</td>
    </tr>
    <tr>
      <td>
        New Flow: <input type="number" style="width: 5em;" [(ngModel)]="flow_new" /> sccm
      </td>
      <td>
        <button (click)="setFlow()">Set</button>
      </td>
    </tr>
  </table>
</div>

<div class="block">
  <h2>
    Heater
  </h2>
  <table class="messages">
    <tr>
      <td style="min-width: 20em;">Configured target temperature: {{ temp_conf | number : '1.0-2' }} °C</td>
      <td style="min-width: 15em;">Current temperature {{ temp_real | number : '1.0-2' }} °C</td>
    </tr>
    <tr>
      <td>
        New target temperature: <input type="number" style="width: 5em;" [(ngModel)]="temp_new" /> °C
      </td>
      <td>
        <button (click)="setTemp()">Set</button>
      </td>
    </tr>
  </table>
</div>

<div class="block">
  <h2>
    Cooling Fan
  </h2>
  <p>
    Status: {{ services && services[0] && services[0]['running'] ? "Running" : "Off" }}. {{ fanspeed}} rpm.
  </p>
  <p>
    <button type="submit" (click)="startService('gpiofancontrol')" title="Start">
      <mat-icon>play_circle_outline</mat-icon>
    </button>
    <button type="submit" (click)="stopService('gpiofancontrol')" title="Stop">
      <mat-icon>pause_circle_outline</mat-icon>
    </button>
  </p>

</div> -->



  <div *ngIf="debugmqtt == true">
    <hr style="clear: both">

    <div>
      MQTT:
      <span *ngIf="status === 'init'">Initializing...</span>
      <span *ngIf="status === 'connecting'">Connecting...</span>
      <span *ngIf="status === 'connected'">Connected.</span>
      <span *ngIf="status === 'failed'">Connection failed.</span>
      <span *ngIf="status === 'lost'">Connection lost.</span>
      ({{ disconnects }})
    </div>


    <button (click)="stop()">
      Stop
    </button>

    <div>
      <h3>Latest MQTT messages:</h3>
      <table class="messages">
        <tr>
          <th>Time</th>
          <th>Topic</th>
          <th>Qos</th>
          <th>Retained</th>
          <!-- <th>destinationName</th> -->
          <th>Payload</th>
        </tr>
        <tr *ngFor="let message of mqttMessages">
          <td>{{ message.date }}</td>
          <td>{{ message.topic }}</td>
          <td>{{ message.qos }}</td>
          <td>{{ message.retained }}</td>
          <!-- <td>{{ message.destinationName }}</td> -->
          <td>{{ message.payload }}</td>
        </tr>
      </table>
    </div>

    <div>
      <h3>Retained MQTT messages:</h3>
      <table class="messages">
        <tr>
          <th>Time</th>
          <th>Topic</th>
          <th>Qos</th>
          <!-- <th>destinationName</th> -->
          <th>Payload</th>
        </tr>
        <tr *ngFor="let message of retainedMqttMessages">
          <td>{{ message.date }}</td>
          <td>{{ message.topic }}</td>
          <td>{{ message.qos }}</td>
          <!-- <td>{{ message.destinationName }}</td> -->
          <td>{{ message.payload }}</td>
        </tr>
      </table>
    </div>

    <!-- <div class="testgraph">
  <app-ut-dygraph-in
    [style]="graphstyle"
    [data]="dygData"
    [columnLabels]="dygLabels"
    [changeTrigger]="changeTrigger"
    #graph
  >
  </app-ut-dygraph-in>
</div> -->
    <!--
<h3>Data:</h3>
<table class="outer">
  <tr *ngFor="let sensor of sensorData | keyvalue">
    <th>
      {{ sensor.key }}
    </th>
    <td>
      <table>
        <tr *ngFor="let metric of sensor.value | keyvalue">
          <th>
            {{ metric.key }}
          </th>
          <td>
            <table>
              <tr *ngFor="let dataset of metric.value | keyvalue">
                <th>
                  {{ dataset.key }}
                </th>
                <td>
                  {{ dataset.value.value | number: '1.0-6' }}
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table> -->
  </div>

  <div style="position: absolute; top: 3.5em; right: 0.5em;">
    <button (click)="toggleDebug()">MQTT</button>
  </div>
</div>