<div class="evap-inner" style="position: relative;">

  <div class="block" *ngFor="let board of gpios | keyvalue">
    <h2>{{board.key}} Power:&nbsp;</h2>
    <table class="messages">
      <tr *ngFor="let pin of board.value | keyvalue">
        <td class="{{ gpios[board.key][pin.key] }}">
          {{ pinNames[pin.key] ? pinNames[pin.key] : pin.key}}
        </td>
        <td>
          <button (click)="setGPIO(board.key, pin.key, true)">On</button><br>
          <button (click)="setGPIO(board.key, pin.key, false)">Off</button>
        </td>
        <td>
          <button (click)="setGPIO(board.key, pin.key, gpios[board.key][pin.key] == 'off')">Toggle</button>
        </td>
      </tr>
    </table>
  </div>

  <form class="block" (submit)="setDAC()" style="clear: both;">
    <table>
      <tr>
        <td>
          <h2>DAC Status:</h2>
        </td>
        <td>
          &nbsp;&nbsp;&nbsp;<button type="submit"
            class="animateOnClick {{ animateOnClickShow ? 'animateOnClickShow' : '' }}">Set</button>
        </td>
        <td>
          DAC steps:
          <ul style="float: right;">
            <li *ngFor="let step of DACstep | keyvalue">{{ step.key }} : {{ step.value }}</li>
          </ul>
        </td>
      </tr>
    </table>


    <table class="messages" *ngFor="let board of DACstatus | keyvalue" style="float: left;">
      <tr>
        <th colspan="2">{{ board.key }}
          <mat-radio-group
            [(ngModel)]="boardTypes[board.key]"
            id="boardTypes{{ board.key }}"
            name="boardTypes_{{ board.key }}"
          >
            <mat-radio-button value="APPS">Apps</mat-radio-button><br />
            <mat-radio-button value="Nano4E">Nano4E</mat-radio-button>

          </mat-radio-group>
        </th>
      </tr>
      <tr *ngFor="let DACname of board.value | keyvalue">
        <th>{{ DACname.key }}</th>
        <td>
          <table>
            <tr *ngFor="let channel of DACname.value | keyvalue">
              <td style="width: 100%;">
                {{ channelNames[channel.key] }}
              </td>
              <td>{{ channel.value >= 0 ? channel.value : '?' }}&#8239;V</td>
              <td>/&nbsp;{{ DACstatusUserUnit[board.key][DACname.key][channel.key] >= 0 ?
                DACstatusUserUnit[board.key][DACname.key][channel.key] : '?' }}&#8239;{{ userUnits[DACname.key] }}<span
                  *ngIf="DACname.key == 'HEAT'">&nbsp;/&nbsp;{{ heatTemps[board.key][channel.key] | number :
                  '1.0-2'}}&#8239;°C
                </span>
              </td>
              <td>
                <input type="number" style="width: 5em;" step="0.0005" min="0" max="4.8" lang="{{lang}}" (focus)="onFocus($event.target.id)"
                  class="animateOnClick {{ (animateOnClickShow && DACnewValuesSent[board.key][DACname.key][channel.key] >= 0) ? 'animateOnClickShow' : '' }}"
                  [(ngModel)]="DACnewValues[board.key][DACname.key][channel.key]"
                  id="id{{board.key}}{{DACname.key}}{{channel.key}}"
                  name="name{{board.key}}{{DACname.key}}{{channel.key}}"
                  (ngModelChange)="calcUserUnit(board.key,DACname.key,channel.key)" />


              </td>
              <td style="min-width: 8.5em;">V&nbsp;/&nbsp;{{ DACnewValuesUserUnit[board.key][DACname.key][channel.key] >= 0 ?
                DACnewValuesUserUnit[board.key][DACname.key][channel.key] : '?' }}&#8239;{{ userUnits[DACname.key] }}
                <!-- <span *ngIf="DACname.key == 'HEAT'">&nbsp;/&nbsp;{{ heatTempsUser[board.key][channel.key] | number :
                  '1.0-2'}}&#8239;°C
                </span> -->
              </td>
              <td style="min-width: 6.1em;">
                <div *ngIf="DACname.key == 'HEAT'">
                  <input type="number" style="width: 3.1em;" step="1" min="20" max="450" lang="{{lang}}"
                    [(ngModel)]="heatTempsUser[board.key][channel.key]"
                    id="id_heatT{{board.key}}{{DACname.key}}{{channel.key}}"
                    name="name_heatT{{board.key}}{{DACname.key}}{{channel.key}}"
                    (ngModelChange)="calcVfromUserUnit(board.key,DACname.key,channel.key)"
                    />&#8239;°C</div>
                  <div *ngIf="DACname.key == 'LED'">
                    <input type="number" style="width: 4em;" step="0.1" min="0" max="40" lang="{{lang}}"
                    [(ngModel)]="DACnewValuesUserUnit[board.key][DACname.key][channel.key]"
                    id="id_led{{board.key}}{{DACname.key}}{{channel.key}}"
                    name="name_led{{board.key}}{{DACname.key}}{{channel.key}}"
                    (ngModelChange)="calcVfromUserUnit(board.key,DACname.key,channel.key)"
                    />&#8239;mA</div>
                  <div *ngIf="DACname.key == 'MEAS'">
                    <input type="number" style="width: 4.6em;" step="0.005" min="0" max="40" lang="{{lang}}"
                    [(ngModel)]="DACnewValuesUserUnit[board.key][DACname.key][channel.key]"
                    id="id_meas{{board.key}}{{DACname.key}}{{channel.key}}"
                    name="name_meas{{board.key}}{{DACname.key}}{{channel.key}}"
                    (ngModelChange)="calcVfromUserUnit(board.key,DACname.key,channel.key)"
                    />&#8239;µA</div>

              </td>
              <!-- <td>
                <div class="animateOnClick">
                  {{ DACnewValuesSent[board.key][DACname.key][channel.key] | number}}
                </div>
              </td> -->
            </tr>

          </table>
        </td>
      </tr>

    </table>
  </form>

  <form class="block" style="clear: both;">
    <!-- (submit)="setChipCfg()" -->
    <h2>Nano4E Sensor Chip Information</h2>
    <table class="messages" *ngFor="let board of Nano4EChipCfg | keyvalue" style="float: left;">
      <tr style="position: relative;">
        <th colspan="2">Nano4E Chip in {{ board.key }} <button (click)="setChipCfg(board.key)"
            style="position: absolute; right: 4px;">Set</button></th>
      </tr>
      <tr>
        <td>Chip Name/ID:</td>
        <td><input type="text" [(ngModel)]="Nano4EChipCfg[board.key]['name']" id="Nano4E{{board.key}}name"
            name="Nano4E{{board.key}}name" /></td>
      </tr>
      <tr *ngFor="let led of board.value['leds'] | keyvalue">
        <td>{{ led.key }}</td>
        <td><input type="number" step="1" min="100" max="700" style="width: 5em;"
            [(ngModel)]="Nano4EChipCfg[board.key]['leds'][led.key]" id="Led{{board.key}}-{{led.key}}"
            name="Led{{board.key}}-{{led.key}}" />nm</td>
      </tr>
      <tr>
        <th colspan="2">Surface deposition material:</th>
      </tr>
      <tr *ngFor="let s of board.value['surfaces'] | keyvalue">
        <th>{{s.key}}</th>
        <td>
          <input type="text" [(ngModel)]="Nano4EChipCfg[board.key]['surfaces'][s.key]['name']"
            id="sname{{board.key}}-{{s.key}}" name="sname{{board.key}}-{{s.key}}">
          &nbsp;<label for="en{{board.key}}-{{s.key}}">Enabled</label>
          <input type="checkbox" [(ngModel)]="Nano4EChipCfg[board.key]['surfaces'][s.key]['enabled']"
            name="en{{board.key}}-{{s.key}}" id="en{{board.key}}-{{s.key}}">
        </td>
      </tr>
    </table>
  </form>

  <!-- <div class="block">
  <h2>Mass Flow Controller</h2>
  <table class="messages">
    <tr>
      <td style="min-width: 15em;">Configured flow: {{ flow_conf | number : '1.0-2' }} sccm</td>
      <td style="min-width: 15em;">Current Flow {{ flow_real | number : '1.0-2' }} sccm</td>
    </tr>
    <tr>
      <td>
        New Flow: <input type="number" style="width: 5em;" [(ngModel)]="flow_new" /> sccm
      </td>
      <td>
        <button (click)="setFlow()">Set</button>
      </td>
    </tr>
  </table>
</div>

<div class="block">
  <h2>
    Heater
  </h2>
  <table class="messages">
    <tr>
      <td style="min-width: 20em;">Configured target temperature: {{ temp_conf | number : '1.0-2' }} °C</td>
      <td style="min-width: 15em;">Current temperature {{ temp_real | number : '1.0-2' }} °C</td>
    </tr>
    <tr>
      <td>
        New target temperature: <input type="number" style="width: 5em;" [(ngModel)]="temp_new" /> °C
      </td>
      <td>
        <button (click)="setTemp()">Set</button>
      </td>
    </tr>
  </table>
</div>

<div class="block">
  <h2>
    Cooling Fan
  </h2>
  <p>
    Status: {{ services && services[0] && services[0]['running'] ? "Running" : "Off" }}. {{ fanspeed}} rpm.
  </p>
  <p>
    <button type="submit" (click)="startService('gpiofancontrol')" title="Start">
      <mat-icon>play_circle_outline</mat-icon>
    </button>
    <button type="submit" (click)="stopService('gpiofancontrol')" title="Stop">
      <mat-icon>pause_circle_outline</mat-icon>
    </button>
  </p>

</div> -->



  <div *ngIf="debugmqtt == true">
    <hr style="clear: both">

    <div>
      MQTT:
      <span *ngIf="status === 'init'">Initializing...</span>
      <span *ngIf="status === 'connecting'">Connecting...</span>
      <span *ngIf="status === 'connected'">Connected.</span>
      <span *ngIf="status === 'failed'">Connection failed.</span>
      <span *ngIf="status === 'lost'">Connection lost.</span>
      ({{ disconnects }})
    </div>


    <button (click)="stop()">
      Stop
    </button>

    <div>
      <h3>Latest MQTT messages:</h3>
      <table class="messages">
        <tr>
          <th>Time</th>
          <th>Topic</th>
          <th>Qos</th>
          <th>Retained</th>
          <!-- <th>destinationName</th> -->
          <th>Payload</th>
        </tr>
        <tr *ngFor="let message of mqttMessages">
          <td>{{ message.date }}</td>
          <td>{{ message.topic }}</td>
          <td>{{ message.qos }}</td>
          <td>{{ message.retained }}</td>
          <!-- <td>{{ message.destinationName }}</td> -->
          <td>{{ message.payload }}</td>
        </tr>
      </table>
    </div>

    <div>
      <h3>Retained MQTT messages:</h3>
      <table class="messages">
        <tr>
          <th>Time</th>
          <th>Topic</th>
          <th>Qos</th>
          <!-- <th>destinationName</th> -->
          <th>Payload</th>
        </tr>
        <tr *ngFor="let message of retainedMqttMessages">
          <td>{{ message.date }}</td>
          <td>{{ message.topic }}</td>
          <td>{{ message.qos }}</td>
          <!-- <td>{{ message.destinationName }}</td> -->
          <td>{{ message.payload }}</td>
        </tr>
      </table>
    </div>

    <!-- <div class="testgraph">
  <app-ut-dygraph-in
    [style]="graphstyle"
    [data]="dygData"
    [columnLabels]="dygLabels"
    [changeTrigger]="changeTrigger"
    #graph
  >
  </app-ut-dygraph-in>
</div> -->
    <!--
<h3>Data:</h3>
<table class="outer">
  <tr *ngFor="let sensor of sensorData | keyvalue">
    <th>
      {{ sensor.key }}
    </th>
    <td>
      <table>
        <tr *ngFor="let metric of sensor.value | keyvalue">
          <th>
            {{ metric.key }}
          </th>
          <td>
            <table>
              <tr *ngFor="let dataset of metric.value | keyvalue">
                <th>
                  {{ dataset.key }}
                </th>
                <td>
                  {{ dataset.value.value | number: '1.0-6' }}
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table> -->
  </div>

  <div style="position: absolute; top: 3.5em; right: 0.5em;">
    <button (click)="toggleDebug()">MQTT</button>
  </div>
</div>