$mainbg: #1E1E1E;
$buttontext: #fff;
$buttontextinactive: #666666;
$buttonbg: #565656;
$buttonactivebg: #8E8E8E;
$buttoninactivebg:#373737;

* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*  from https://codepen.io/Javarome/pen/WvVRMW */
#appbody {
  /* background: red; */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  flex-direction: column;
  display: flex;
  background-color: $mainbg;
  color: #C7C7C7;

  ::ng-deep button {
    border: 2px solid black;
    background: $buttonbg;
    padding: 0.5em;
    cursor: pointer;
    min-width: 2.25em;
    color: $buttontext;
    .mat-icon {
      margin: 0;
      margin-bottom: -10px;
      margin-top: -10px;
      transform: translateY(6px);
    }
  }
  ::ng-deep button:hover {
    background-color: $buttonactivebg;
  }
  ::ng-deep input[type='text'] {
    padding: 0.3em;
    border: 2px solid black;
    background-color: #565656;
    color: #C7C7C7
  }
}

.content {
  /* background: green; */
  flex: 1;
  overflow-y: auto;
  position: relative; /* to act as new limits for apps with pos: absolute */
}
