<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
</div>

<nav>
    <a routerLink="/Dashboard" routerLinkActive="active">Dashboard</a>  
    <em class=search>Search</em>
    <em class=wifi>Wifi</em>
    <em class=hostname>Hostname</em>:
    <em class=appname>Home</em>
    <a routerLink="/Store" routerLinkActive="active">Store</a>
    <em>Date UTC</em>
    <em>Bat: 100%</em>
    <a routerLink="/Settings" routerLinkActive="active">Settings</a>
    
  </nav>
  <div class="content">
  <router-outlet></router-outlet>
</div>
  <!--
<h2>Here are some links to help you start: </h2>
<h3>PROD: {{ prod }}</h3>
<h4>Rest Message: {{ restMsg }}</h4>
-->