* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*  from https://codepen.io/Javarome/pen/WvVRMW */
#appbody {
  /* background: red; */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  flex-direction: column;
  display: flex;
  background-color: #1E1E1E;
  color: #CCC;
}

.content {
  /* background: green; */
  flex: 1;
  overflow-y: auto;
  position: relative; /* to act as new limits for apps with pos: absolute */
}
