$mainbg: #1e1e1e;
$buttontext: #fff;
$buttontextinactive: #666666;
$buttonbg: #565656;
$buttonactivebg: #8e8e8e;
$buttoninactivebg: #373737;
$labelcolor: #999;

* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*  from https://codepen.io/Javarome/pen/WvVRMW */
#appbody {
  /* background: red; */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  flex-direction: column;
  display: flex;
  background-color: $mainbg;
  color: #c7c7c7;

  ::ng-deep button {
    border: 2px solid black;
    background: $buttonbg;
    padding: 0.5em;
    cursor: pointer;
    min-width: 2.25em;
    color: $buttontext;
    .mat-icon {
      margin: 0;
      margin-bottom: -10px;
      margin-top: -10px;
      transform: translateY(6px);
    }
  }
  ::ng-deep button:hover {
    background-color: $buttonactivebg;
  }

  ::ng-deep input[type='text'], ::ng-deep input[type='password'] {
    padding: 0.3em;
    border: 2px solid black;
    background-color: #565656;
    color: #c7c7c7;
  }
  ::ng-deep .auth input + .mat-icon {
    margin: 0 0 0 0.2em;
    height: 1.4em;
    transform: translateY(0.3em);
  }

  ::ng-deep form.settings {
    position: absolute;
    bottom: 2em;
    right: 0;
    top: 0;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    fieldset {
      border: 1px solid #666;
      width: 11.5rem;
      margin: 0.5rem 1rem;
      padding: 1rem;

      h3 {
        margin-top: 0;
      }
      a {
        color: rgb(97, 97, 255);
        text-decoration: underline;
        cursor: pointer;
      }
      mat-label {
        color: $labelcolor;
      }
      .mat-select {
        background-color: #565656;
      }
      label {
        display: block;
        color: $labelcolor;
        text-align: left;
        margin-right: 0.3rem;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.125;
        font-family: Roboto, 'Helvetica Neue', sans-serif;
      }
      p {
        margin: 0.4em 0;
        label {
          display: inline-block;
        }
      }
      .cRange {
        font-size: 14px;
      }
    }

    fieldset:disabled {
      background-color: rgba(255, 255, 255, 0.192);
      button,
      mat-form-field,
      mat-label,
      input {
        cursor: not-allowed;
      }
      button,
      input[type='text'] {
        border-color: #373737;
      }
      input[type='password'] {
        border-color: #373737;
      }
      button:hover {
        background-color: $buttonbg;
      }
    }
  }
}

.content {
  /* background: green; */
  flex: 1;
  overflow-y: auto;
  position: relative; /* to act as new limits for apps with pos: absolute */
}
