<!-- The content below is only a placeholder and can be replaced. -->

<div id="appbody" [style.cursor]="cursor">
  <app-top-bar [hide]="topBarHidden" [appName]="appName"></app-top-bar>

  <div class="content" (toogleFullScreen)="toggleFullScreen($event)">
    <router-outlet></router-outlet>
  </div>

  <div id="footer" *ngIf="footerHidden == false">this is <b>ng-unrvl</b> (<a href="https://github.com/UnravelTEC/ng-unrvl">github.com/UnravelTEC/ng-unrvl</a>), Angular frontend for sensor data visualisation.</div>
</div>

<!--
  <h2>Here are some links to help you start: </h2>
  <h3>PROD: {{ prod }}</h3>
  <h4>Rest Message: {{ restMsg }}</h4>
-->
