<div class="graphapp">
  <h2
    class="value {{
      graph['lastValue'] < level_warn
        ? 'green'
        : graph['lastValue'] < level_alert
        ? 'yellow'
        : 'red'
    }}"
  >
    O₃:
    <span> {{ graph['lastValue'] * 2.14 | number: '1.0-4' }} </span>&#8239;µg/m³
    / <span> {{ graph['lastValue'] | number: '1.0-0' }}</span
    >&#8239;ppb
  </h2>
  <div id="o3dygraph">
    <app-ut-dygraph
      queryString='gas_ppm{gas="O3"}'
      [fetchFromServerIntervalMS]="step"
      [dataBaseQueryStepMS]="step"
      [dataSeriesLabels]="dataSeriesLabels"
      [labelBlackList]="labelBlackList"
      [multiplicateFactors]="multiplicateFactors"
      YLabel="O₃ (ppb)"
      [style]="graphstyle"
      [startTime]="startTime"
      [extraDyGraphConfig]="extraDyGraphConfig"
      #graph
    ></app-ut-dygraph>
  </div>
</div>

<data>
  <table>
    <tr>
      <th>Current value:</th>
    </tr>
    <tr>
      <td>{{ graph.lastValue | number: '1.0-0' }}&#8239;ppb</td>
    </tr>
    <tr>
      <td>{{ graph['lastValue'] * 2.14 | number: '1.0-0' }}&#8239;µg/m³</td>
    </tr>
    <tr>
      <th>
        Average:
      </th>
    </tr>
    <tr>
      <td>{{ graph.average | number: '1.0-0' }}&#8239;ppb</td>
    </tr>
    <tr>
      <td>{{ graph.average * 2.14 | number: '1.0-0' }}&#8239;µg/m³</td>
    </tr>
  </table>
</data>

<em style="position: absolute; bottom: 0.3em; left: 0.5em;"
  >Note: SPEC sensors 110-406 Ozone sensor has a 1:1 cross-sensitivity to NO₂ -
  the value measured can either be O₃ or NO₂!</em
>
