
h2 {
  margin-left: 1em;
}
.value.red span {
  color: red;
}
.value.yellow span {
  color: orange;
}
.value.green span {
  color: green;
}

data {
  position: absolute;
  right: 1em;
  width: 8em;
  top: auto;
  bottom: auto;
}
