<!-- [extraDyGraphConfig]="extraDyGraphConfig"
[dataSeriesLabels]="dataSeriesLabels"
queryString='avg(avg_over_time(sensor_radiation_Sv[12h]))'
-->
<h3>
  Sensor location: UnravelTEC office, Graz
</h3>
<div id="gammadygraph">
  <app-ut-dygraph
    serverHostName='newton.unraveltec.com'
    serverPort='443'
    serverPath='prometheus/api/v1/'
    queryString='radiation_Svph'
    [fetchFromServerIntervalMS]="step"
    [dataBaseQueryStepMS]="step"
    [dataSeriesLabels]="dataSeriesLabels"
    [labelBlackList]="labelBlackList"
    YLabel="Gamma Radiation (nSv&thinsp;/&thinsp;h)"
    [style]="graphstyle"
    [startTime]="startTime"
    [multiplicateFactors]="multiplicateFactors"
    [runningAvgPoints]="runningAvgPoints"
    #graph
  ></app-ut-dygraph>

  </div>