<div class="graphapp">
  <span class="value">
    CO2:
    <span class="{{
      (graph['lastValue'] < 1000) ? 'green' :
      ((graph['lastValue'] < 2000) ? 'yellow' : 'red')
     }} ">
      {{
        graph['lastValue']  | number: '1.1-1'
      }}</span
    >&#8239;ppm
  </span>
  <div id="co2dygraph">
    <app-ut-dygraph
      queryString='gas_ppm{gas="CO2",sensor="SCD30"}'
      [fetchFromServerIntervalMS]="step"
      [dataBaseQueryStepMS]="step"
      [dataSeriesLabels]="dataSeriesLabels"
      YLabel="CO₂ (ppm)"
      [style]="graphstyle"
      [startTime]="startTime"
      [extraDyGraphConfig]="extraDyGraphConfig"
      #graph
    ></app-ut-dygraph>
    <!-- serverHostName=""
    serverPort="80"
    serverPath="prometheus/api/v1/" -->
  </div>
</div>
