
h4 {
  margin: 1em;
}

#co2dygraph {
}

.graphapp {
  /* background: blue; */
  padding: 5px;
}

span.value {
  font-size: 3em;
}

form {
  position: absolute;
  bottom: 1rem;
  left:5vh;
  right: 5vh;
}

span.red {
  color: red;
}
span.yellow {
  color: orange;
}
span.green {
  color: green;
}