* {
  margin: 0;
  padding: 0;
}

.mydygraph {
  width: 800px;
  height: 400px;
  /* background: yellow; */
  text-align: center;
  border: 1px solid red;
  border-radius: 10px;
}

.graphapp {
  /* background: blue; */
  padding: 5px;
}
