* {
  margin: 0;
  padding: 0;
}

a {
  text-align: center;
  display: inline-block;
  width: 4.5cm;
  height: 2.8cm;
  overflow:hidden;
  border: 3px #2a5770 solid;
  border-radius: 0.4em;
  color: black;
  padding:  0.6em 0.6em 0.6em 0.6em;
  margin: 0.6em;
  text-decoration: none;
}
tr:first-child th {font-size: 0.5em}


th {
  font-weight: bold;
  text-emphasis: none;
  text-decoration: none;
  font-size: 0.9em;
  margin: 0.3em 0;
}

.app-preview {
  width: 5cm;
  height: 2cm;
  /* background: rebeccapurple; */
  vertical-align: middle;
  text-align: center;
}

.app-preview img {
  display: block;
  max-width:4.5cm;
  max-height:1.9cm;
  width: auto;
  height: auto;
  margin: auto;
}