a {
  text-align: center;
  display: inline-block;
  width: 5cm;
  height: 3cm;
  background: #5991b2;
  border: 3px #2a5770 solid;
  border-radius: 0.4em;
  color: black;
  padding: 0.6em;
  margin: 0.6em;
  text-decoration: none;
}

h3 {
  font-weight: bold;
  text-emphasis: none;
  text-decoration: none;
  font-size: 1em;
  margin: 0.3em 0;
  align: bottom;
}


div.app-preview {
/*  border: 0px solid black;
  height: 1cm;
  width: 1cm;*/
  margin: 0 0;
}