<a
  class="relcontainer {{
    !currentLoad
      ? 'gray'
      : currentLoad < 1
      ? 'green'
      : currentLoad < 3
      ? 'yellow'
      : currentLoad < 5
      ? 'orange'
      : 'red'
  }}"
  routerLink="/Apps/System"
  routerLinkActive="active"
>
  <div class="tilebox" [style.font-size]="fontsize_px">
    <h2>CPU load: {{ currentLoad | number: '1.1-2' }}</h2>

    <div class="bar" *ngIf="currentLoad !== undefined">
      <app-ut-bargauge-min
        [width]="width / 3.1"
        [height]="height * 0.96"
        max="15"
        [value]="currentLoad"
        [highlights]="highlights"
      ></app-ut-bargauge-min>
    </div>

    <div class="graphabs">
      <div class="graphrel" *ngIf="currentLoad !== undefined">
        <app-ut-dygraph-in
          [data]="dygData"
          [columnLabels]="dygLabels"
          [changeTrigger]="changeTrigger"
          minimal="true"
          startTime="3m"
          [extraDyGraphConfig]="extraDyGraphConfig"
          [backGroundLevels]="backGroundLevels"
          #graph
        >
        </app-ut-dygraph-in>
      </div>
      <div class="notactive" *ngIf="currentLoad === undefined">
        Waiting for data...
      </div>
    </div>
  </div>
</a>
