<table class="envirobody">
  <colgroup>
    <col />
    <col />
    <col />
  </colgroup>
  <tr>
    <th>
      <h3>
        Temperature
      </h3>
      <a
        routerLink="/Apps/I/EnviroOne"
        [queryParams]="{ filter: 'T' }"
        routerLinkActive="active"
        class="fullscreen"
        title="Fullscreen"
        ><mat-icon>settings_overscan</mat-icon></a
      >
    </th>
    <th>
      <h3>
        relative Humidity
      </h3>
      <a
        routerLink="/Apps/I/EnviroOne"
        [queryParams]="{ filter: 'rH' }"
        routerLinkActive="active"
        class="fullscreen"
        title="Fullscreen"
        ><mat-icon>settings_overscan</mat-icon></a
      >
    </th>
    <th>
      <h3>
        Barometric Pressure
      </h3>
      <a
        routerLink="/Apps/I/EnviroOne"
        [queryParams]="{ filter: 'P' }"
        routerLinkActive="active"
        class="fullscreen"
        title="Fullscreen"
        ><mat-icon>settings_overscan</mat-icon></a
      >
    </th>
  </tr>
  <tr>
    <td class="T">
      <app-ut-dygraph-in
        [displayedData]="data['T']"
        [columnLabels]="labels['T']"
        [style]="graphstyle"
        [changeTrigger]="changeTrigger"
        [extraDyGraphConfig]="extraDyGraphConfig"
        [startTime]="startTimes['T']"
        [colors]="h.colors.red"
        YLabel="°C"
        options="false"
        #Temp
      >
      </app-ut-dygraph-in>
      <table class="val" *ngIf="Temp.lastValues && Temp.lastValues.length">
        <tr>
          <th>Sensor</th>
          <th>T&nbsp;(°C)</th>
        </tr>
        <tr>
          <td>
            <div *ngFor="let sensor of Temp.columnLabels">
              {{ sensor.sensor }}
            </div>
          </td>
          <td>
            <div *ngFor="let value of Temp.lastValues">
              <span *ngIf="value < 10000000">{{
                value | number: '1.0-3'
              }}</span>
            </div>
          </td>
        </tr>
      </table>
    </td>
    <td class="rH">
      <app-ut-dygraph-in
        [displayedData]="data['H']"
        [columnLabels]="labels['H']"
        [style]="graphstyle"
        [changeTrigger]="changeTrigger"
        [extraDyGraphConfig]="extraDyGraphConfig"
        [startTime]="startTimes['H']"
        [colors]="h.colors.blue"
        YLabel="%"
        options="false"
        #rH
      >
      </app-ut-dygraph-in>
      <table class="val" *ngIf="rH.lastValues && rH.lastValues.length">
        <tr>
          <th>Sensor</th>
          <th>rH&nbsp;(%)</th>
        </tr>
        <tr>
          <td>
            <div *ngFor="let sensor of rH.columnLabels">
              {{ sensor.sensor }}
            </div>
          </td>
          <td>
            <div *ngFor="let value of rH.lastValues">
              <span *ngIf="value < 10000000">{{
                value | number: '1.0-3'
              }}</span>
            </div>
          </td>
        </tr>
      </table>
    </td>
    <td class="P">
      <app-ut-dygraph-in
        [displayedData]="data['P']"
        [columnLabels]="labels['P']"
        [style]="graphstyle"
        [changeTrigger]="changeTrigger"
        [extraDyGraphConfig]="extraDyGraphConfigP"
        [startTime]="startTimes['P']"
        [colors]="h.colors.green"
        YLabel="mbar"
        options="false"
        #P
      ></app-ut-dygraph-in>
      <!-- runningAvgPoints="30" -->
      <table class="val" *ngIf="P.lastValues && P.lastValues.length">
        <tr>
          <th>Sensor</th>
          <th>P&nbsp;(hPa)</th>
        </tr>
        <tr>
          <td>
            <div *ngFor="let sensor of P.columnLabels">
              {{ sensor.sensor }}
            </div>
          </td>
          <td>
            <div *ngFor="let value of P.lastValues">
              <span *ngIf="value < 10000000">{{
                value | number: '1.0-3'
              }}</span>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <th colspan="2">
      <h3>
        Particulate Matter
      </h3>
      <a
        routerLink="/Apps/I/EnviroOne"
        [queryParams]="{ filter: 'PM' }"
        routerLinkActive="active"
        class="fullscreen"
        title="Fullscreen"
        ><mat-icon>settings_overscan</mat-icon></a
      >
    </th>
    <th>
      <h3>
        Nitrogen Dioxide
      </h3>
      <a
        routerLink="/Apps/I/EnviroOne"
        [queryParams]="{ filter: 'NO2' }"
        routerLinkActive="active"
        class="fullscreen"
        title="Fullscreen"
        ><mat-icon>settings_overscan</mat-icon></a
      >
    </th>
  </tr>
  <tr>
    <td class="pm" colspan="2">
      <div class="settings">
        <mat-form-field>
          <mat-label>Time range</mat-label>
          <mat-select
            [(ngModel)]="userStartTime"
            name="startTime"
            (ngModelChange)="changeMean($event)"
          >
            <mat-option value="15m">15 min.</mat-option>
            <mat-option value="1h" selected="selected"> 1h</mat-option>
            <mat-option value="6h">6 h</mat-option>
            <mat-option value="24h">24 h</mat-option>
            <mat-option value="7d">1 week</mat-option>
            <mat-option value="30d">1 month</mat-option>
            <mat-option value="356d">1 year</mat-option>
          </mat-select>
        </mat-form-field>

        <br />
        <label for="runningAvgPoints"># Mean Seconds</label><br />
        <input
          type="text"
          id="runningAvgPoints"
          name="runningAvgPoints"
          [(ngModel)]="userMeanS"
          style="width:4em"
        /><br />
        <br />
        <button (click)="reload()">
          Reload
        </button>
      </div>
      <!-- <p>
        <a routerLink="/Apps/I/EnviroOne" routerLinkActive="active"
          >Single Graph</a
        >
      </p> -->
      <p>
        <a routerLink="/Apps/I/Pmhist" routerLinkActive="active"
          >Particulate Matter Histogram</a
        >
      </p>
      <app-ut-dygraph-in
        [displayedData]="data['PM']"
        [columnLabels]="labels['PM']"
        [style]="graphstylePM"
        [changeTrigger]="changeTrigger"
        [extraDyGraphConfig]="extraDyGraphConfigPM"
        [startTime]="startTimes['PM']"
        YLabel="µg&#8202;/&#8202;m³"
        [backGroundLevels]="globalSettings['graphBackgrounds']['PM_ugpm3']"
        [colors]="h.colors.brown"
        options="false"
        #PM
      >
      </app-ut-dygraph-in>
      <table class="val big" *ngIf="PM.lastValues && PM.lastValues.length">
        <tr>
          <th>Sensor</th>
          <th>PM&nbsp;(µg&#8239;/&#8239;m³)</th>
        </tr>
        <tr>
          <td>
            <div *ngFor="let sensor of PM.columnLabels">
              {{ sensor.sensor }} {{ sensor.size }}
            </div>
          </td>
          <td>
            <div *ngFor="let value of PM.lastValues">
              <span *ngIf="value < 10000000">{{
                value | number: '1.0-3'
              }}</span>
              <span *ngIf="isNaN(value)">-</span>
            </div>
          </td>
        </tr>
      </table>
    </td>
    <td class="NO2">
      <app-ut-dygraph-in
        [displayedData]="data['N']"
        [columnLabels]="labels['N']"
        [style]="graphstyle"
        [changeTrigger]="changeTrigger"
        [extraDyGraphConfig]="extraDyGraphConfig"
        [startTime]="startTimes['N']"
        YLabel="µg&#8202;/&#8202;m³"
        [backGroundLevels]="globalSettings['graphBackgrounds']['NO2_ugpm3']"
        [colors]="h.colors.violet"
        options="false"
        #N
      >
      </app-ut-dygraph-in>
      <!-- [multiplicateFactors]="multiplicateFactors" -->
      <table class="val" *ngIf="N.lastValues && N.lastValues.length">
        <tr>
          <th>Sensor</th>
          <th>ppb</th>
        </tr>
        <tr>
          <td>
            <div *ngFor="let sensor of N.columnLabels">
              {{ sensor.sensor }}
            </div>
          </td>
          <td>
            <div *ngFor="let value of N.lastValues">
              <span *ngIf="value < 10000000">{{
                value | number: '1.0-3'
              }}</span>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
