<!-- presenting: ut-dygraph: -->
<div class="mydygraph-component">
  <div
    class="graph"
    id="{{ htmlID }}"
    [style.width.px]="graphWidth"
    [style.height.px]="graphHeight"
    [style.position]="style.position"
    [style.top]="style.top"
    [style.bottom]="style.bottom"
    [style.left]="style.left"
    [style.right]="style.right"
  ></div>
  <div
    *ngIf="noData == true"
    class="info nodata"
    [style.width.px]="graphWidth"
    [style.height.px]="graphHeight"
    [style.position]="style.position"
    [style.top]="style.top"
    [style.bottom]="style.bottom"
    [style.left]="style.left"
    [style.right]="style.right"
  >
    No data to display.
  </div>
  <div
    *ngIf="waiting == true"
    class="info waiting"
    [style.width.px]="graphWidth"
    [style.height.px]="graphHeight"
    [style.position]="style.position"
    [style.top]="style.top"
    [style.bottom]="style.bottom"
    [style.left]="style.left"
    [style.right]="style.right"
  >
    Waiting for data...
  </div>
  <div
    *ngIf="error != undefined"
    class="info error"
    [style.width.px]="graphWidth"
    [style.height.px]="graphHeight"
    [style.position]="style.position"
    [style.top]="style.top"
    [style.bottom]="style.bottom"
    [style.left]="style.left"
    [style.right]="style.right"
  >
    {{ error }}
  </div>

  <!-- <button (click)="fetchNewData()">Update!</button> -->
  <ul class="debug" *ngIf="debug == 'true'">
    <li>Average: {{ average }}</li>
    <li>From {{ displayedData[0][0] | date: 'yyyy-MM-dd HH:mm:ss (z)' }}</li>
    <li>
      To
      {{
        displayedData[displayedData.length - 1][0]
          | date: 'yyyy-MM-dd HH:mm:ss (z)'
      }}
      , every {{ fetchFromServerIntervalMS }}ms, on server every
      {{ dataBaseQueryStepMS }}ms
    </li>
    <li>
      # Datapoints: {{ displayedData.length }}, running avg of
      {{ runningAvgSeconds }}s, From {{ startTime }} to {{ endTime }}.
    </li>
    <li *ngIf="displayedData && displayedData.length > 0">
      Last Value:
      {{ displayedData[displayedData.length - 1][1] | number: '1.0-1' }}
    </li>
    <li *ngIf="annotations && annotations.length > 0">
      Annotations: {{ annotations[0]['series'] }} "{{
        annotations[0]['shortText']
      }}" @ {{ annotations[0]['x'] | date: 'yyyy-MM-dd HH:mm:ss (z)' }}
    </li>
  </ul>
</div>
