<!-- presenting: ut-dygraph: -->
<div class="mydygraph">
  <div id="graph"></div>
  <div *ngIf="noData == true">No data to display.</div>
  <div *ngIf="waiting == true">Waiting for data...</div>
  <!-- <button (click)="fetchNewData()">Update!</button> -->
  <ul class="debug" *ngIf="debug == 'true'">
    <li>From {{ displayedData[0][0] | date: 'yyyy-MM-dd HH:mm:ss (z)' }}</li>
    <li>
      To
      {{
        displayedData[displayedData.length - 1][0]
          | date: 'yyyy-MM-dd HH:mm:ss (z)'
      }}
      , every {{ fetchFromServerIntervalMS }}ms, on server every
      {{ dataBaseQueryStepMS }}ms
    </li>
    <li>
      # Datapoints: {{ displayedData.length }}, running avg of
      {{ runningAvgSeconds }}s, Timerange {{ timeRangeSeconds }}s.
    </li>
    <li>
      Last Value:
      {{ displayedData[displayedData.length - 1][1] | number: '1.0-1' }}
    </li>
    <li>
      Annotations: {{ annotations[0]['series'] }} "{{annotations[0]['shortText']}}" @ {{ annotations[0]['x'] | date: 'yyyy-MM-dd HH:mm:ss (z)'}}
      </li>
  </ul>
</div>
