.mydygraph-component ul {
    text-align: left;
}

.mydygraph-component {
    /* background: rgba(122, 122, 255, 0.418); */
    border: 0px solid black;
}

.mydygraph-component .debug {
    background: rgb(198, 198, 255);
    z-index: 200;
    transform: translateY(8em);
}

.mydygraph-component .info {
    margin: 1em;
    border: 1px solid blue;
    padding: 1em;
}

.mydygraph-component .nodata {
    border-color:orange;
}
.mydygraph-component .waiting {
    border-color: yellow;
}
.mydygraph-component .error {
    border-color: red;
}

.dygraph-legend {
    /* background: rgba(123, 123, 252, 0.993); */
    min-width: 100%;
    padding: 5px;
    text-align: right;
    background: transparent;
    text-shadow: 1px 1px white,
        -1px 1px white,
        1px -1px white,
        -1px -1px white,
        2px 2px white,
        -2px 2px white,
        2px -2px white,
        -2px -2px white
}