<!-- presenting: ut-dygraph:
style.padding-bottom="20vh"-->
<div class="mydygraph-component">
  <div
    class="graph"
    id="{{ htmlID }}"
    [style.position]="style.position"
    [style.top]="style.top"
    [style.bottom]="style.bottom"
    [style.left]="style.left"
    [style.right]="style.right"
  ></div>

  <div
    *ngIf="noData == true"
    class="info nodata"
    [style.position]="style.position"
    [style.top]="style.top"
    [style.left]="style.left"
  >
    <!-- [style.bottom]="style.bottom" -->
    <!-- [style.right]="style.right" -->
    No data to display.
  </div>

  <div
    *ngIf="waiting == true"
    class="info waiting"
    [style.position]="style.position"
    [style.top]="style.top"
    [style.left]="style.left"
  >
    Waiting for data...
  </div>

  <div
    *ngIf="error != undefined"
    class="info error"
    [style.position]="style.position"
    [style.top]="style.top"
    [style.bottom]="style.bottom"
    [style.left]="style.left"
    [style.right]="style.right"
  >
    {{ error }}
  </div>

  <div
    *ngIf="options == true"
    class="optionsarea"
    [style.position]="style.position"
    [style.bottom]="style.bottom"
    [style.right]="style.right"
    [style.left]="style.left"
  >
    <button (click)="toggleOptions()" class="toggleOptions">
      <mat-icon>settings</mat-icon>
    </button>

    <div *ngIf="optionsOpen == true" class="options">
      <form class="subbox">
        <h5>Data Resolution</h5>
        <label for="dataBaseQueryStepMS">f:</label>
        <input
          type="text"
          id="dataBaseQueryStepMS"
          name="dataBaseQueryStepMS"
          [(ngModel)]="dataBaseQueryStepMS"
          style="width:4em"
        />
        <span class="unit">ms</span>
      </form>

      <form class="subbox">
        <h5>Fetching</h5>
        <label for="fetchFromServerIntervalMS">interval:</label>
        <input
          type="text"
          id="fetchFromServerIntervalMS"
          name="fetchFromServerIntervalMS"
          [(ngModel)]="fetchFromServerIntervalMS"
          style="width:4em"
        />
        <span class="unit">ms</span>
        <button (click)="toggleFetching()" [class]="running">
          <mat-icon *ngIf="running">pause_circle_outline</mat-icon>
          <mat-icon *ngIf="! running">play_circle_outline</mat-icon>
        </button>
      </form>

      <form class="subbox">
        <h5>Autopan:</h5>
        <button (click)="toggleAutoPan()">
          {{ updateOnNewData ? 'disable' : 'enable' }}
        </button>
      </form>

      <div class="subbox">
        <div class="time">
          <h5>From:</h5>
          <mat-form-field>
            <input
              matInput
              [matDatepicker]="pickerF"
              [formControl]="fromFormDate"
              (dateChange)="fromDatePickerChanged($event)"
              [max]="dataEndTime"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerF"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerF></mat-datepicker>
          </mat-form-field>
          <!-- <small>{{ fromZoom | date: 'yyyy-MM-dd' }}</small> -->
          <br />

          <span>{{ fromZoom | date: 'HH:mm:ss' }}</span>
        </div>
      </div>

      <form class="subbox">
        <h5>Display Range: {{ currentXrangeText }}</h5>
        <select
          [(ngModel)]="zoomValue"
          (ngModelChange)="changeRange($event)"
          id="zoomValue"
          name="zoomValue"
          style="width:4em"
        >
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="5" selected="selected">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
        </select>
        <select
          [(ngModel)]="zoomMultiplicator"
          (ngModelChange)="changeRange($event)"
          id="zoomMultiplicator"
          name="zoomMultiplicator"
          style="width:6em"
        >
          <option value="1">sec</option>
          <option value="60" selected="selected">min</option>
          <option value="3600">hours</option>
          <option value="68400">days</option>
          <option value="2592000">months</option>
          <option value="31536000">years</option>
        </select>
      </form>

      <div class="subbox">
        <div class="time">
          <h5>To:</h5>
          <mat-form-field>
            <input
              matInput
              [matDatepicker]="pickerT"
              [formControl]="toFormDate"
              (dateChange)="toDatePickerChanged($event)"
              [max]="dataEndTime"
              [min]="fromZoom"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="pickerT"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerT></mat-datepicker>
          </mat-form-field>
          <br />
          <span>{{ toZoom | date: 'HH:mm:ss' }}</span>
        </div>
      </div>

      <form class="subbox">
        <h5>Pan / Jump</h5>
        <button (click)="pan('back')">&lt;</button>
        <select
          [(ngModel)]="panAmount"
          id="panAmount"
          name="panAmount"
          style="width:5em"
        >
          <option value="0.1">1/10</option>
          <option value="0.2">1/5</option>
          <option value="0.5" selected="selected">1/2</option>
          <option value="1">1</option>
        </select>
        <button (click)="pan('forward')">&gt;</button>
      </form>
      <form class="subbox">
        <h5 title="on click, load/save should open">Zoom</h5>
        <button (click)="zoom(0.5)">+</button>
        <button (click)="zoom(2)">-</button>
        <button (click)="resetZoom()">Reset</button>
        <button (click)="fullZoom()">All</button>
      </form>
      <form class="subbox">
        <h5>Export</h5>
        <button (click)="exportCSV()">CSV</button>
        <label for="UTC"
          >UTC
          <input type="checkbox" name="UTC" id="UTC" [(ngModel)]="exportUTC" />
        </label>
      </form>
      <form class="subbox">
        <h5>Running Average</h5>
        <label for="runningAvgSeconds">interval:</label>
        <input
          type="text"
          id="runningAvgSeconds"
          name="runningAvgSeconds"
          [(ngModel)]="runningAvgSeconds"
          style="width:2em"
        />
        <span class="unit">s</span>
      </form>
    </div>
  </div>

  <!-- "debug == 'true' ? style.bottom - 6em : style.bottom -->
  <!-- <button (click)="fetchNewData()">Update!</button> -->
  <ul
    class="debug"
    *ngIf="debug == 'true'"
    [style.position]="style.position"
    [style.bottom]="style.bottom"
  >
    <li>Average: {{ average }}</li>
    <li *ngIf="displayedData && displayedData.length > 0">
      From {{ displayedData[0][0] | date: 'yyyy-MM-dd HH:mm:ss (z)' }}
    </li>
    <li *ngIf="displayedData && displayedData.length > 0">
      To
      {{
        displayedData[displayedData.length - 1][0]
          | date: 'yyyy-MM-dd HH:mm:ss (z)'
      }}
      , every {{ fetchFromServerIntervalMS }}ms, on server every
      {{ dataBaseQueryStepMS }}ms
    </li>
    <li>
      # Datapoints: {{ displayedData.length }}, running avg of
      {{ runningAvgSeconds }}s, From {{ startTime }} to {{ endTime }}.
    </li>
    <li *ngIf="displayedData && displayedData.length > 0">
      Last Value:
      {{ lastValue | number: '1.0-1' }}
    </li>
    <li *ngIf="annotations && annotations.length > 0">
      Annotations: {{ annotations[0]['series'] }} "{{
        annotations[0]['shortText']
      }}" @ {{ annotations[0]['x'] | date: 'yyyy-MM-dd HH:mm:ss (z)' }}
    </li>
  </ul>
</div>
