<app-ut-dygraph
  queryString='temperature_degC{sensor="BME280"}'
  [fetchFromServerIntervalMS]="step"
  [dataBaseQueryStepMS]="step"
  [dataSeriesLabels]="dataSeriesLabels_T"
  [labelBlackList]="labelBlackList"
  YLabel="Temperature (°C)"
  [style]="graphstyle_T"
  [startTime]="startTime"
  [extraDyGraphConfig]="extraDyGraphConfig_T"
  showDate="false"
  #temp
></app-ut-dygraph>
<data id="Tval">{{ temp.lastValues[1] }} °C</data>

<app-ut-dygraph
  queryString='humidity_rel_percent{sensor="BME280"}'
  [fetchFromServerIntervalMS]="step"
  [dataBaseQueryStepMS]="step"
  [dataSeriesLabels]="dataSeriesLabels_H"
  [labelBlackList]="labelBlackList"
  YLabel="rel. Humidity (%)"
  [style]="graphstyle_H"
  [startTime]="startTime"
  [extraDyGraphConfig]="extraDyGraphConfig_H"
  showDate="false"
  #rH
></app-ut-dygraph>
<data id="Hval">{{ rH.lastValues[1] }} %</data>

<app-ut-dygraph
  queryString='pressure_hPa{sensor="BME280"}'
  [fetchFromServerIntervalMS]="step"
  [dataBaseQueryStepMS]="step"
  [dataSeriesLabels]="dataSeriesLabels_P"
  [labelBlackList]="labelBlackList"
  YLabel="Pressure (hPa)"
  [style]="graphstyle_P"
  [startTime]="startTime"
  [extraDyGraphConfig]="extraDyGraphConfig_P"
  #P
></app-ut-dygraph>
<data id="Pval">{{ P.lastValues[1] }} hPa</data>
