<h2>Influx Settings</h2>

<div class="flexcontainer">
  <div class="flow">
    <h3>Authentication</h3>
    <label for="influxuser"> Username </label
    ><input type="text" id="influxuser" [(ngModel)]="username" /><br />

    <label for="influxpass"> Password </label
    ><input type="text" id="influxpass" [(ngModel)]="password" /><br />
    <label *ngIf="note">{{ note }}</label>
    <label *ngIf="errortext" class="error">{{ errortext }}</label>
    <button (click)="login()">Login</button>
  </div>

  <div class="flow">
    <form [formGroup]="myDBs">
      <label for="influxdb"> Database </label>
      <select size="{{ databases.length > 1 ? databases.length : 2}}" formControlName="databasesForm" (change)="changeDB($event)">
        <option *ngIf="databases.length == 0" disabled>No Available Databases, log in first</option>
        <option *ngFor="let dbname of databases">{{ dbname }}</option>
      </select>
    </form>
  </div>
</div>

<!-- <table>
  <tr>
    <th>
      <label for="influxdb"> Database </label>
    </th>
    <td>
      <input type="text" id="influxdb" [(ngModel)]="gss.server.influxdb" />
    </td>
  </tr>
  <tr>
    <th>
       <label for="influxuser"> Username </label>
    </th>
    <td>
      <input type="text" id="influxuser" [(ngModel)]="gss.server.influxuser" />
    </td>
  </tr>
  <tr>
    <th>
      <label for="influxpass"> Password </label>
    </th>
    <td>
      <input type="text" id="influxpass" [(ngModel)]="gss.server.influxpass" />
    </td>
  </tr>
</table> -->
