.settings {
  position: absolute;
  bottom: 2em;
  right: 0;
  border: 1px solid #666;
  width: 11rem;
  margin: 1rem;
  padding: 1rem;
  mat-label {
    color: #999;
  }
  .mat-select {
    background-color: #565656;
  }
  label {
    display: inline-block;

    text-align: left;
    margin-right: 0.7rem;
    font-weight: 400;
    font-size: 16px;
    ￼line-height: 1.125;
    ￼font-family: Roboto, 'Helvetica Neue', sans-serif;
  }
  table {
    border-collapse: separate;
    border-spacing: 0;
    padding: 0.5em;
    // background-color: khaki;
    th {
      // padding: 0.5em;
    }
    td:first-child {
      width: 1em;
      input {
        cursor: pointer;
      }
    }
    td label {
      // background-color: greenyellow;
      width: 100%;
      cursor: pointer;
    }
  }

  input[type='text'] {
    padding: 0.3em;
    // border-radius: 0.5em;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.54);
  }

}
h2 {
  margin-left: 1em;
}
