<div class="graphapp">
  <span class="value">
    Brightness:
    <span
      class="{{
        graph['lastValue'] < 400
          ? 'red'
          : graph['lastValue'] < 1000
          ? 'yellow'
          : 'green'
      }} "
    >
      {{ graph.getAverage() | number: '1.0-0' }}</span
    >&#8239;lux
  </span>
  <div id="co2dygraph">
    <app-ut-dygraph
      queryString='radiation_lux{wavelength="visible"}'
      [fetchFromServerIntervalMS]="step"
      [dataBaseQueryStepMS]="step"
      [labelBlackList]="labelBlackList"
      YLabel="Brightness (lux)"
      [style]="graphstyle"
      [startTime]="startTime"
      [extraDyGraphConfig]="extraDyGraphConfig"
      #graph
    ></app-ut-dygraph>
  </div>
</div>
