table {
  position: absolute;
  right: 0.3em;
  width: 9.6em;
}

#ugvalues {
  top: 2em;
  bottom: 66%;
}

#pvalues {
  top: 33%;
  bottom: 33%;
}

#psvalues {
  top: 75%;
  bottom: 0.5rem;
}

td > div {
  display: flex;
  flex-direction: column;
}

#innerappbody {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
}

h2 {
  margin-left: 1rem;
}

#dygraphs {
  flex: 1;
  overflow-y: auto;
  position: relative; /* to act as new limits for apps with pos: absolute */
}