<div id="innerappbody">
  <h2>
    {{ title }}
  </h2>

  <div id="dygraphs">
    <app-ut-dygraph
      queryString='particulate_matter_ugpm3{sensor="SPS30"}'
      [fetchFromServerIntervalMS]="step"
      [dataBaseQueryStepMS]="step"
      [dataSeriesLabels]="dataSeriesLabels"
      [labelBlackList]="labelBlackList"
      YLabel="Particulate Matter (µg/m³)"
      [style]="graphstyle_ugpm3"
      [startTime]="startTime"
      [extraDyGraphConfig]="extraDyGraphConfig"
      #ug
    ></app-ut-dygraph>

    <table *ngIf="ug.lastValues && ug.lastValues.length" id="ugvalues">
      <tr>
        <th>Size (µm)</th>
        <th>Value (µg/m³)</th>
      </tr>
      <tr>
        <td>
          <div>
            <div *ngFor="let sensor of ug.columnLabels">{{ sensor.size }}</div>
          </div>
        </td>
        <td>
          <div>
            <div *ngFor="let value of ug.lastValues">
              <span *ngIf="value < 10000000">{{
                value | number: '1.0-3'
              }}</span>
            </div>
          </div>
        </td>
      </tr>
    </table>

    <app-ut-dygraph
      queryString='particulate_matter_ppcm3{sensor="SPS30"}'
      [fetchFromServerIntervalMS]="step"
      [dataBaseQueryStepMS]="step"
      [dataSeriesLabels]="dataSeriesLabels"
      [labelBlackList]="labelBlackList"
      YLabel="Particulate Matter (particles/cm³)"
      [style]="graphstyle_ppcm3"
      [startTime]="startTime"
      #p
    ></app-ut-dygraph>
    <table *ngIf="p.lastValues && p.lastValues.length" id="pvalues">
      <tr>
        <th>Size (µm)</th>
        <th>Value (#/cm³)</th>
      </tr>
      <tr>
        <td>
          <div>
            <div *ngFor="let sensor of p.columnLabels">{{ sensor.size }}</div>
          </div>
        </td>
        <td>
          <div>
            <div *ngFor="let value of p.lastValues">
              <span *ngIf="value < 10000000">{{
                value | number: '1.0-3'
              }}</span>
            </div>
          </div>
        </td>
      </tr>
    </table>

    <app-ut-dygraph
      queryString='particulate_matter_typpartsize_um{sensor="SPS30"}'
      [fetchFromServerIntervalMS]="step"
      [dataBaseQueryStepMS]="step"
      [dataSeriesLabels]="dataSeriesLabels"
      [labelBlackList]="labelBlackList"
      YLabel="Typical Particle Size (µm)"
      [style]="graphstyle_typpartsize"
      [startTime]="startTime"
      #ps
    ></app-ut-dygraph>
    <table *ngIf="ps.lastValues && ps.lastValues.length" id="psvalues">
      <tr>
        <th>Typical Size</th>
        <th>Value (µm)</th>
      </tr>
      <tr>
        <td>
          <div>
            <div *ngFor="let sensor of ps.columnLabels">{{ sensor.size }}</div>
          </div>
        </td>
        <td>
          <div>
            <div *ngFor="let value of ps.lastValues">
              <span *ngIf="value < 10000000">{{
                value | number: '1.0-3'
              }}</span>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
