<h2>Air quality</h2>
<div id="gauges">
  <div id="gaugeCO2">
    <radial-gauge
      width="200"
      height="200"
      units="ppm"
      title="CO₂"
      min-value="0"
      max-value="5000"
      exact-ticks="true"
      minor-ticks="0"
      major-ticks="[0,400,800,1500,2500,5000]"
      highlights='[ {"from": 0, "to": 400, "color": "green"},
                    {"from": 400, "to": 800, "color": "greenyellow"},
                    {"from": 800, "to": 1500, "color": "yellow"},
                    {"from": 1500, "to": 2500, "color": "orange"},
                    {"from": 2500, "to": 5000, "color": "red"}
     ]'
      [attr.value]="co2['lastValue']"
    ></radial-gauge>
  </div>
  <div id="gaugePM">
    <radial-gauge
      width="200"
      height="200"
      units="µg/m³ pm10"
      title="Particulate Matter"
      min-value="0"
      max-value="250"
      exact-ticks="true"
      minor-ticks="0"
      major-ticks="[0,50,100,150,200,250]"
      highlights='[ {"from": 0, "to": 25, "color": "green"},
                      {"from": 25, "to": 50, "color": "greenyellow"},
                      {"from": 50, "to": 100, "color": "yellow"},
                      {"from": 100, "to": 150, "color": "orange"},
                      {"from": 150, "to": 250, "color": "red"}
       ]'
      [attr.value]="pm['lastValue']"
    ></radial-gauge>
  </div>
  <div id="gaugeVOC">
    <radial-gauge
      width="200"
      height="200"
      units="ppm"
      title="VOCs"
      min-value="0"
      max-value="2.5"
      exact-ticks="true"
      minor-ticks="0"
      major-ticks="[0,0.2,0.6,2,2.5]"
      highlights='[ {"from": 0, "to": 0.06, "color": "green"},
                        {"from": 0.06, "to": 0.2, "color": "greenyellow"},
                        {"from": 0.2, "to": 0.6, "color": "yellow"},
                        {"from": 0.6, "to": 2, "color": "orange"},
                        {"from": 2, "to": 2.5, "color": "red"}
         ]'
      [attr.value]="voc['lastValue']"
    ></radial-gauge>
    <!-- for gas_ohm<div id="gaugeVOC">
        <radial-gauge
          width="200"
          height="200"
          units="Ohm"
          title="VOCs"
          min-value="0"
          max-value="1000000"
          exact-ticks="true"
          minor-ticks="0"
          major-ticks="[0,500000,1000000]"
          highlights='[ {"from": 0, "to": 25, "color": "green"},
                            {"from": 25, "to": 50, "color": "greenyellow"},
                            {"from": 50, "to": 100, "color": "yellow"},
                            {"from": 100, "to": 150, "color": "orange"},
                            {"from": 150, "to": 250, "color": "red"}
             ]'
          [attr.value]="voc['lastValue']"
        ></radial-gauge> -->
  </div>
  <div id="barT">
    <linear-gauge
      width="100"
      height="200"
      units="°C"
      title="Temperature"
      [attr.value]="T['lastValue']"
    ></linear-gauge>
  </div>
  <div id="barRH">
      <linear-gauge
        width="100"
        height="200"
        units="%"
        title="relative Humidity"
        [attr.value]="rH['lastValue']"
      ></linear-gauge>
    </div>
</div>
<div id="co2dygraph">
  <app-ut-dygraph
    queryString='gas_ppm{gas="CO2",sensor="SCD30"}'
    [fetchFromServerIntervalMS]="stepCO2"
    [dataBaseQueryStepMS]="stepCO2"
    YLabel=""
    XLabel=""
    [style]="graphstyleCO2"
    [startTime]="startTime"
    [extraDyGraphConfig]="extraDyGraphConfigCO2"
    options="false"
    showDate="false"
    #co2
  ></app-ut-dygraph>
</div>

<app-ut-dygraph
  queryString='particulate_matter_ugpm3{size="pm10"}'
  [fetchFromServerIntervalMS]="step"
  [dataBaseQueryStepMS]="step"
  YLabel=""
  XLabel=""
  [style]="graphstylePM"
  [startTime]="startTime"
  [extraDyGraphConfig]="extraDyGraphConfigCO2"
  options="false"
  showDate="false"
  #pm
></app-ut-dygraph>

<app-ut-dygraph
  queryString='gas_ppm{gas="VOC"}'
  [fetchFromServerIntervalMS]="step"
  [dataBaseQueryStepMS]="step"
  YLabel=""
  XLabel=""
  [style]="graphstyleVOC"
  [startTime]="startTime"
  [extraDyGraphConfig]="extraDyGraphConfigCO2"
  options="false"
  showDate="false"
  #voc
></app-ut-dygraph>

<app-ut-dygraph
  queryString="min(temperature_degC)"
  [fetchFromServerIntervalMS]="step"
  [dataBaseQueryStepMS]="step"
  YLabel="T (°C)"
  XLabel=""
  [style]="graphstyleT"
  [startTime]="startTime"
  [extraDyGraphConfig]="extraDyGraphConfigCO2"
  options="false"
  showDate="false"
  #T
></app-ut-dygraph>

<app-ut-dygraph
  queryString="max(humidity_rel_percent)"
  [fetchFromServerIntervalMS]="step"
  [dataBaseQueryStepMS]="step"
  YLabel="rH (%)"
  XLabel=""
  [style]="graphstylerH"
  [startTime]="startTime"
  [extraDyGraphConfig]="extraDyGraphConfigCO2"
  options="false"
  showDate="false"
  #rH
></app-ut-dygraph>
