<h2>
  {{ title }}
</h2>

<div id="co2dygraph">
  <app-ut-dygraph
    queryString='gas_ppm{gas="CO2",sensor="SCD30"}'
    [fetchFromServerIntervalMS]="step"
    [dataBaseQueryStepMS]="step"
    [dataSeriesLabels]="dataSeriesLabels"
    [labelBlackList]="labelBlackList"
    YLabel="CO₂ (ppm)"
    [style]="graphstyleCO2"
    [startTime]="startTime"
    [extraDyGraphConfig]="extraDyGraphConfig"
    #graph
  ></app-ut-dygraph>

  <div id="rHdygraph">
    <app-ut-dygraph
      queryString='{__name__=~"humidity_rel_percent|temperature_degC",sensor="SCD30"}'
      [fetchFromServerIntervalMS]="step"
      [dataBaseQueryStepMS]="step"
      [dataSeriesLabels]="dataSeriesLabelsTH"
      [labelBlackList]="labelBlackListHT"
      YLabel="Temperature (°C), relative Humidity (%)"
      [style]="graphstyleTH"
      [startTime]="startTime"
      #rH
    ></app-ut-dygraph>
  </div>
</div>
