<app-ut-dygraph-in
  [data]="data['CO2']"
  [columnLabels]="labels['CO2']"
  [style]="graphstyleTop"
  [changeTrigger]="changeTrigger"
  [extraDyGraphConfig]="extraDyGraphConfig"
  [startTime]="startTimes['CO2']"
  [colors]="colors['CO2']"
  YLabel="CO₂"
  [backGroundLevels]="globalSettings['graphBackgrounds']['CO2_ppm']"
  #CO2
>
</app-ut-dygraph-in>

<app-ut-dygraph-in
  [data]="data['H']"
  [columnLabels]="labels['H']"
  [style]="graphstyleBottom"
  [changeTrigger]="changeTrigger"
  [extraDyGraphConfig]="extraDyGraphConfig"
  [startTime]="startTimes['H']"
  [colors]="colors['H']"
  YLabel="rH, T"
  #rH
>
</app-ut-dygraph-in>

<form class="settings" (submit)="reload()">
  <fieldset>
    <h3>Current Dataset:</h3>
    <label>Resolution:</label>
    <span class="cRange">{{ currentres }}s</span><br />

    <!-- <label>Current Range:</label><br />
    <span class="cRange">{{ currentRange }} </span>
    <p>
      <a
        routerLink="/Apps/Sensors/BME280"
        [queryParams]="{
          from: from,
          to: to,
          interval: interval
        }"
        routerLinkActive="active"
        >Permalink</a
      >
    </p> -->
  </fieldset>
  <fieldset [disabled]="queryRunning > 0">
    <h3>{{ queryRunning > 0 ? 'Query running...' : 'New Query:' }}</h3>

    <mat-form-field>
      <mat-label>Show range from now</mat-label>
      <mat-select
        [(ngModel)]="userStartTime"
        name="startTime"
        (closed)="changeMean(userStartTime)"
        [disabled]="queryRunning > 0"
      >
        <mat-option value="15m">15 min.</mat-option>
        <mat-option value="1h" selected="selected"> 1h</mat-option>
        <mat-option value="6h">6 h</mat-option>
        <mat-option value="24h">24 h</mat-option>
        <mat-option value="7d">1 week</mat-option>
        <mat-option value="30d">1 month</mat-option>
        <mat-option value="356d">1 year</mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <!--<label for="runningAvgPoints"># Mean Seconds</label><br />
    <input
      type="text"
      id="runningAvgPoints"
      name="runningAvgPoints"
      [(ngModel)]="userMeanS"
      (ngModelChange)="saveMean($event)"
      style="width: 4em"
    /><br />
    <br />

    <div style="width: 100%; text-align: right">
      <button type="submit">
        <mat-icon>refresh</mat-icon>
        Reload
      </button>
    </div> -->
  </fieldset>
</form>
