<h2>
  {{ title }}
</h2>

<div id="co2dygraph">
  <app-ut-dygraph
    queryString='gas_ppm{gas="CO2",sensor="SCD30"}'
    [fetchFromServerIntervalMS]="step"
    [dataBaseQueryStepMS]="step"
    [dataSeriesLabels]="dataSeriesLabels"
    [labelBlackList]="labelBlackList"
    YLabel="CO₂ (ppm)"
    [style]="graphstyleCO2"
    [startTime]="startTime"
    [extraDyGraphConfig]="extraDyGraphConfig"
    #co2
  ></app-ut-dygraph>
  <data id="co2val">
    <h4>NDIR CO₂</h4>{{ co2.getAverage() | number: '1.0-1' }} ppm</data>

  <div id="rHdygraph">
    <app-ut-dygraph
      queryString='{__name__=~"humidity_rel_percent|temperature_degC",sensor="SCD30"}'
      [fetchFromServerIntervalMS]="step"
      [dataBaseQueryStepMS]="step"
      [dataSeriesLabels]="dataSeriesLabelsTH"
      [labelBlackList]="labelBlackListHT"
      YLabel="Temperature (°C), relative Humidity (%)"
      [style]="graphstyleTH"
      [startTime]="startTime"
      #rH
    ></app-ut-dygraph>
    <data id="rhtval">
      <h4>SHT31 rH&#8202;/&#8202;T</h4>
      <p>{{ rH.getAverage('',1) | number: '1.2-2' }} %</p>
      <p>{{ rH.getAverage('',2) | number: '1.2-2' }} °C</p></data
    >
  </div>
</div>
