.fs-container {
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 15rem;
}

.settings {
  position: absolute;
  bottom: 2em;
  right: 0;
  top: 2rem;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  div.section {
    border: 1px solid #666;
    width: 11rem;
    margin: 1rem;
    padding: 1rem;
    h3 {
      margin-top: 0;
    }
    a {
      color: rgb(97, 97, 255);
      text-decoration: underline;
      cursor: pointer;
    }
    mat-label {
      color: #999;
    }
    .mat-select {
      background-color: #565656;
    }
    label {
      display: inline-block;
      color: #999;
      text-align: left;
      margin-right: 0.7rem;
      font-weight: 400;
      font-size: 14px;
      ￼line-height: 1.125;
      ￼font-family: Roboto, 'Helvetica Neue', sans-serif;
    }
    .cRange {
      font-size: 14px;
    }
    table {
      border-collapse: separate;
      border-spacing: 0;
      padding: 0.5em;
      // background-color: khaki;
      th {
        // padding: 0.5em;
      }
      td:first-child {
        width: 1em;
        input {
          cursor: pointer;
        }
      }
      td label {
        // background-color: greenyellow;
        width: 100%;
        cursor: pointer;
      }
    }
  }
}
