<h3>VEML6075 raw sensor data</h3>

<app-ut-dygraph
  queryString="radiation_raw{sensor=&quot;veml6075&quot;}"
  fetchFromServerIntervalMS="100"
  dataBaseQueryStepMS="100"
  YLabel="Brighness (raw sensor values)"
  [labelBlackList]="labelBlackList"
  [style]="graphstyle"
  [startTime]="startTime"
  #graph
></app-ut-dygraph>

<table *ngIf="graph.lastValues && graph.lastValues.length">
  <tr>
    <th>Wavelength:</th>
    <th *ngFor="let wavelength of graph.columnLabels">
      {{ wavelength.wavelength }}
    </th>
  </tr>
  <tr>
     <td *ngFor="let value of graph.lastValues">
       {{ value < 1000000 ? value : "Value" }} <!-- <: hack to sort out date -->
     </td>
    </tr>
</table>
