<nav *ngIf="hide == false">
  <a routerLink="/Dashboard" routerLinkActive="active" class="icon"
    ><mat-icon>home</mat-icon></a
  >
  <!-- <em class=search>Search</em> -->
  <!-- <em class=wifi>Wifi</em> -->
  <em class="hostname">{{ hostName }}</em
  >:
  <em class="appname">{{ appName }}</em>
  <span class="spacer">&nbsp;</span>
  <!-- <a routerLink="/Store" routerLinkActive="active">Store</a> -->
  <em class="date">{{ currentTime | date: 'dd.MM.yyyy HH:mm' }}</em>

  <em id="mqtt">
    <span class="{{ mqtt.status }}" title="MQTT status: {{ mqtt.status }}">
        <mat-icon>rss_feed</mat-icon>
    </span>
  </em>

  <!-- <em id="db">
    <span
      class="{{ gss.server.databaseStatus }}"
      title="Database status: {{ gss.server.databaseStatus }}"
    >
      <mat-icon>router</mat-icon>
    </span></em
  > -->
  <!-- <a
    class="batt"
    *ngIf="gss.server.type == 'Tricorder'"
    routerLink="/Apps/Power"
    routerLinkActive="active"
    class="icon"
    ><mat-icon>power</mat-icon></a
  > -->
  <a routerLink="/Settings" routerLinkActive="active" class="icon"
    ><mat-icon>settings</mat-icon></a
  >
</nav>
